<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.hs.meetme.coupleLog.mapper.CoupleLogMapper">
	
	<select id="getLogList" resultType="CoupleLogVO">
		SELECT A.LOG_TITLE,
			   A.LOG_CREATED,
			   A.LOG_DATE,
			   B.IMG_ID, 
			   C.IMG_URL
		FROM COUPLE_LOG A INNER JOIN COUPLE_LOG_IMG B
			ON A.LOG_ID = B.LOG_ID INNER JOIN IMG C ON
			B.IMG_ID = C.IMG_ID
		WHERE
		A.COUPLE_ID = 1 <!-- AND ROWNUM=1 -->
	</select>
	
	
	<!-- 대문사진은 첫 한 장만 -->
<!-- 	<select id="getLog" resultType="CoupleLogVO">
		SELECT A.LOG_TITLE,
			   A.LOG_CREATED,
			   A.LOG_DATE,
			   B.IMG_ID, 
			   C.IMG_URL
		FROM COUPLE_LOG A INNER JOIN COUPLE_LOG_IMG B
			ON A.LOG_ID = B.LOG_ID INNER JOIN IMG C ON
			B.IMG_ID = C.IMG_ID
		WHERE
		A.COUPLE_ID = 1 AND ROWNUM=1
	</select>
	 -->
	

	<!-- <select id="getLog" resultType="CoupleLogVO"> 
			SELECT A.LOG_TITLE, 
				   A.LOG_CREATED, 
				   A.LOG_DATE, 
				   A.LOG_CONTENT, 
				   B.CAPTION 캡션, 
				   B.IMG_ID, 
				   C.IMG_URL 
			FROM COUPLE_LOG A INNER JOIN COUPLE_LOG_IMG B 
				 ON A.LOG_ID = B.LOG_ID INNER JOIN IMG C 
			     ON B.IMG_ID = C.IMG_ID 
			WHERE A.COUPLE_ID = 1 
		</select> -->

	<!-- 등록하기 (파일업로드 -> 쿼리 조인 수정) -->
		<insert id="logInsert" parameterType="CoupleLogVO"> 
		INSERT INTO COUPLE_LOG 
			   (LOG_ID,LOG_CREATED, 
			    LOG_UPDATED, 
			    LOG_TITLE,
			    LOG_CONTENT,
			    LOG_STATE,
			    COUPLE_ID,
			    LOG_LOC,
			    LOG_DATE) 
		VALUES(SEQ_COUPLELOG.nextval,
			   sysdate,
			   sysdate,
			   #{logTitle},
			   #{logContent},
			   'n',
			   1,
			   1,
			   sysdate) 
		</insert>
		
	<!-- 수정하기 (파일업로드 -> 쿼리 조인 수정)-->	
		<update id="logUpdate" parameterType="CoupleLogVO">
		UPDATE couple_log SET 
                          LOG_UPDATED=sysdate
                          ,LOG_TITLE='제목 test'
                          ,LOG_CONTENT='내용 test'
                          ,LOG_STATE='t'
                          ,LOG_LOC='2'
                          ,LOG_DATE=sysdate
                WHERE LOG_ID='5'
       </update>
       
       
       
</mapper>