<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="~{layout/layout}">

	<th:block layout:fragment="css">
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
         <!-- vue 빌드 후 이름 바꿔줄 곳 -->
        <link href="css/app.1a6ccaa7.css" rel="preload" as="style">
        <link href="css/chunk-vendors.b24172f3.css" rel="preload" as="style">
        <link href="js/app.17e65047.js" rel="preload" as="script">
        <link href="js/chunk-vendors.2a2e3e6a.js" rel="preload" as="script">
        
        <link href="css/chunk-vendors.b24172f3.css" rel="stylesheet">
        <link href="css/app.1a6ccaa7.css" rel="stylesheet">
	</th:block>
    <th:block layout:fragment="content">
        <noscript>
            <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- vue 빌드 후 이름 바꿔줄 곳 -->
	    <script src="js/chunk-vendors.2a2e3e6a.js"></script>
	    <script src="js/app.17e65047.js"></script>
    </th:block>

</html>