<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="~{layout/layout}">

	<th:block layout:fragment="css">
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
         <!-- vue 빌드 후 이름 바꿔줄 곳 -->
        <link href="/css/app.722250c1.css" rel="preload" as="style">
		<link href="/css/chunk-vendors.9f3532a6.css" rel="preload" as="style">
		<link href="/js/app.8eddf25e.js" rel="preload" as="script">
		<link href="/js/chunk-vendors.f7ab2462.js" rel="preload" as="script">
		<link href="/css/chunk-vendors.9f3532a6.css" rel="stylesheet">
		<link href="/css/app.722250c1.css" rel="stylesheet">
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    	<link th:href="@{/assets/css/theme-pink.min.css}" rel="stylesheet">
		<link th:href="@{/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet">

	</th:block>
    <th:block layout:fragment="content">
        <noscript>
            <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- vue 빌드 후 이름 바꿔줄 곳 -->
	    <script src="/js/chunk-vendors.f7ab2462.js"></script>
		<script src="/js/app.8eddf25e.js"></script>
		<script src="/assets/js/theme.bundle.js"></script>
		<script src="/js/popper.js"></script>
    	<script src="/js/bootstrap.min.js"></script>
    </th:block>

</html>