<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="container">
       <div id="carouselExampleCaption" class="carousel slide" data-bs-ride="carousel">
           <div class="carousel-inner">
               <div class="carousel-item active">
                   <img src="assets/img/800x600/1.jpg" class="img-fluid w-75 w-lg-60" alt="...">

                   <!--Carousel with caption start-->
                   <div
                       class="position-absolute start-0 top-0 w-100 h-100 w-lg-75 d-flex align-items-center justify-content-center justify-content-lg-end">
                       <ul class="text-white list-unstyled carousel-layers mb-0">
                           <li data-carousel-layer="fade-end">
                               <h2 class="d-inline-block bg-primary px-2 py-3 lh-1 mb-0 fs-1">Feel the
                                   difference</h2>
                           </li>
                           <li data-carousel-layer="fade-start">
                               <p class="mb-0 d-inline-block bg-warning text-dark px-2 py-2 lh-1">This is
                                   the best quality theme</p>
                           </li>
                       </ul>
                   </div>
               </div>
               <div class="carousel-item">
                   <img src="assets/img/800x600/2.jpg" class="img-fluid w-75 w-lg-60" alt="...">

                   <!--Carousel with caption start-->
                   <div
                       class="position-absolute start-0 top-0 w-100 h-100 w-lg-75 d-flex align-items-center justify-content-center justify-content-lg-end">
                       <ul class="text-white list-unstyled carousel-layers mb-0">
                           <li data-carousel-layer="fade-end">
                               <h2 class="d-inline-block bg-primary px-2 py-3 lh-1 mb-0 fs-1">Feel the
                                   difference</h2>
                           </li>
                           <li data-carousel-layer="fade-start">
                               <p class="mb-0 d-inline-block bg-warning text-dark px-2 py-2 lh-1">This is
                                   the best quality theme</p>
                           </li>
                       </ul>
                   </div>
               </div>
               <div class="carousel-item">
                   <img src="assets/img/800x600/3.jpg" class="img-fluid w-75 w-lg-60" alt="...">
                   <!--Carousel with caption start-->
                   <div
                       class="position-absolute start-0 top-0 w-100 h-100 w-lg-75 d-flex align-items-center justify-content-center justify-content-lg-end">
                       <ul class="text-white list-unstyled carousel-layers mb-0">
                           <li data-carousel-layer="fade-end">
                               <h2 class="d-inline-block bg-primary px-2 py-3 lh-1 mb-0 fs-1">Feel the
                                   difference</h2>
                           </li>
                           <li data-carousel-layer="fade-start">
                               <p class="mb-0 d-inline-block bg-warning text-dark px-2 py-2 lh-1">This is
                                   the best quality theme</p>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
           <button
               class="carousel-control-prev size-40 bg-dark text-white rounded-bottom-end-3 top-50 translate-middle-y"
               type="button" data-bs-target="#carouselExampleCaption" data-bs-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Previous</span>
           </button>
           <button
               class="carousel-control-next size-40 bg-dark text-white rounded-bottom-end-3 top-50 translate-middle-y"
               type="button" data-bs-target="#carouselExampleCaption" data-bs-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Next</span>
           </button>
       </div>
	</div>
</th:block>
</html>