<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
<th:block layout:fragment="css">
	<link href="https://fonts.googleapis.com/css?family=Raleway"
		rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/open-iconic-bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/icomoon.css}">
	<style>
</style>
</th:block>
<th:block layout:fragment="content">
	<!-- 여기에 body에 들어갈 내용을 적어주세요 -->
<div class="tm-page-wrap mx-auto">
<br> <br>
	<section
		class="probootstrap-section probootstrap-scene-1 probootstrap-bg-light">
		<div class="container-fluid mb-5">
			<div class="row">
				<div class="col-md-12">
					<div class="probootstrap-devices">
						<img th:src="@{/img/device_1.png}"
							class="probootstrap-device-left img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="probootstrap-section probootstrap-bg-dark">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-8">
            <h2 class="probootstrap-heading">우리 만난지...</h2>
            <p class="mb-5 lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>  
        </div>
        <div class="row">
          <div class="col-md">
            <div class="media d-block mb-4 text-center">
              <img src="images/square-person_1.jpg" alt="" class="img-fluid mb-3 rounded-circle w-25">
              <div class="media-body p-3">
                <p class="mb-5">&ldquo;사랑해요 너&rdquo;</p>
                <h5 class="mt-0">박준욱</h5>
                <p>Invision</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="media d-block mb-4 text-center">
              <img src="images/square-person_2.jpg" alt="" class="img-fluid mb-3 rounded-circle w-25">
              <div class="media-body p-3">
                <p class="mb-5">&ldquo;너와 함께라면 그 무엇도 가치없어&ldquo;</p>
                <h5 class="mt-0">박태훈</h5>
                <p>Google</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	</div>
</th:block>
<th:block layout:fragment="script">
	<script th:src="@{/js/TweenMax.min.js}"></script>
	<script th:src="@{/js/ScrollMagic.min.js}"></script>
	<script th:src="@{/js/debug.addIndicators.min.js}"></script>
	<script th:src="@{/js/animation.gsap.min.js}"></script>

	<script th:src="@{/js/main.js}"></script>

	<script>
		
	</script>
</th:block>
</html>