<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">
	
	<style>
.upload_btn{overflow:auto;width:100%;}

.upload_btn .upload, .upload_btn a{float:left; padding: 6px 20px;
  border-radius: 4px;
  color: black;
  cursor: pointer;}

.photo_them{position:relative;width:100%;height:420px;background:#eee;margin :10px 0;}

.them_img, .result_box{position:absolute;top:0;left:0;width     :100%;height:100%;}
.them_img img, .result_box img{display:block;margin:0 auto;height:100%;}

.btn-circle-ripple::after, .btn-circle-ripple::before{
	z-index: 1;
}
</style>
</th:block>
<th:block layout:fragment="content">
	<!-- 여기에 body에 들어갈 내용을 적어주세요 -->
		<!-- header section -->
		 <section class="position-relative bg-gradient-secondary text-white jarallax" data-jarallax=".3" style="background-image: none; height: 720px; top:-26px;">
                <img src="" alt="" class="jarallax-img opacity-80" id="coupleImg">
                 <svg class="position-absolute start-0 bottom-0 w-100" preserveAspectRatio="none" width="900"
                    height="50" viewBox="0 0 1200 167" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M1200 39.6228L1133 26.8851C1067 14.1473 933 -11.3281 800 5.65554C667 22.6392 533 82.0819 400 99.0655C267 116.049 133 90.5737 67 77.836L0 65.0982V167H67C133 167 267 167 400 167C533 167 667 167 800 167C933 167 1067 167 1133 167H1200V39.6228Z"
                        fill="white" />
                </svg>
                <div class="container col-xl-10 col-xxl-8 py-9 py-lg-12 ">
                    <div class="row pb-7 align-items-center">
                        <div class="col-lg-8 col-xl-7 mx-auto text-center">
                            
                            <br><br><br><br><br>
                            <h1 class="mb-4 display-2">우리는<br>
                                <span class="d-inline-block"
                                    data-typed='{"strings": ["귀염둥이", "방구쟁이", "개구쟁이", "천생연분", "영원히"]}'></span>
                            </h1>
                            <!--offcanvas-btn-trigger-->
                            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasEnd" role="button"
                                aria-controls="offcanvasEnd">
                                시작하기<i class="bi bi-chevron-right align-middle lh-1 ms-1"></i>
                            </a>
                            <br>
                        </div>
                    </div>
                </div>
                <!--/.content-->
            </section>
            
            <!-- section 2-->
            <section class="position-relative bg-white">
                <div class="container py-2 py-lg-3 px-4">
                        <div class="col-lg-7 mb-4 mx-auto text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="700">
                            <h2 class="display-2" ><span id="dPlus">D+</span><a href="#updateDay" data-bs-toggle="modal">
                            <b class="text-warning" id="coupleDate" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-original-title="디데이설정하기"></b></a></h2><br>
                            <h6 class="display-6">우리가 함께했던 시간</h6>
                        </div>
                    <div class="row">
                        <div class="col-lg-5 my-5 mt-auto text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                            <div class="position-relative mb-4 overflow-hidden size-220 mx-auto rounded-circle">
                                <img src="" alt="" class="img-fluid" id="user1Img"> 
                            </div>
                            <div>
                                <h5 class="mb-1" id="nickName1">
                                </h5>
                                <p class="d-block text-primary mb-3" id="birthDate1"></p>
                                </div>
                        </div>
                        
                        <div class="col-lg-2 my-6 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                        	<div class="position-relative my-8">
                        	
                        	<span class="d-none" id="dot">
                        	<div class="spinner-grow text-danger spinner-grow-sm" role="status"></div>&nbsp;&nbsp;
                        	<div class="spinner-grow text-danger spinner-grow-sm" role="status"></div>&nbsp;&nbsp;
							<div class="spinner-grow text-danger spinner-grow-sm" role="status"></div>&nbsp;&nbsp;
                            </span>
                            
                            <span id="heart">
                            <a href="#"
                                class="btn btn-danger btn-circle-ripple p-0 size-70 rounded-pill fs-3 lh-1 center-both  mb-3">
                                <i class="icon-Heart  align-middle"></i>
                            </a>
							</span>
                            </div>
                        </div>
                        	
                        <div class="col-lg-5 my-5 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                            <div class="position-relative mb-4 overflow-hidden size-220 mx-auto rounded-circle" id="loveInfo">
                                <a href="#findLove"data-bs-toggle="modal">
                                
                                <img src="/img/001.jpg" alt="" class="img-fluid" id="user2Img">
                                </a>
                            </div>
                            	<div>
                                <h5 class="mb-1"  id="nickName2">
                                </h5>
                                <p class="d-block text-primary mb-3" id="birthDate2"></p>
                                </div>
                        </div>
                    </div>
                </div>
            </section>
            
                        
            <section class="bg-dark text-white jarallax" data-jarallax=".3">
                <!--Parallax image-->
                <img src="" class="jarallax-img" alt="" id="coupleImg2">
                <!--Overlay background-->
                <div class="position-absolute w-100 h-100 start-0 top-0 flip-x bg-gradient-secondary opacity-60"></div>
                <!--Divider shape-top-->
                <svg class="position-absolute start-0 top-0" preserveAspectRatio="none" width="100%" height="48"
                    viewBox="0 0 983 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M983 60L942 51.5534C901 42.8155 819 25.6311 737 21.5534C655 17.1845 573 25.6311 491 31.4563C410 37.2816 328 40.1942 246 34.3689C164 28.5437 82 14.2718 41 7.28155L0 -2.86102e-06V-2.86102e-06H41C82 -2.86102e-06 164 -2.86102e-06 246 -2.86102e-06C328 -2.86102e-06 410 -2.86102e-06 491 -2.86102e-06C573 -2.86102e-06 655 -2.86102e-06 737 -2.86102e-06C819 -2.86102e-06 901 -2.86102e-06 942 -2.86102e-06H983V60Z"
                        fill="white" />
                </svg>

                <!--:Container-->
                <div class="container py-7 py-lg-12 position-relative">
                    <div class="row py-4">
                        <div class="col-md-5 me-lg-auto" data-aos="fade-down" data-aos-duration="400">
                            <h2 class="display-4 mb-4 mb-md-0">
                                함께 그리는 <br>
                                우리의 이야기 <br>
                                오늘우리뭐해
                            </h2>
                        </div>
                        <div class="col-md-6 ms-md-auto" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="400">
                            <p class="lead w-lg-85 mb-5">
                                디데이를 설정해 보세요!<br>
                                커플 대문사진을 수정할 수 있어요!<br>
                                아래 버튼을 통해서 우리만의 배경사진과 디데이를 설정해보세요!
                            </p>
                            <a href="#updateCouple" class="btn btn-rise rounded-pill hover-lift btn-outline-white" data-bs-toggle="modal">
                                <div class="btn-rise-bg bg-white"></div>
                                <div class="btn-rise-text"><span>사진변경</span></div>
                            </a>
                           &nbsp;
                            <a href="#updateDay" class="btn btn-rise rounded-pill hover-lift btn-outline-white" data-bs-toggle="modal">
                                <div class="btn-rise-bg bg-white"></div>
                                <div class="btn-rise-text"><span>디데이설정</span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
		
	<!-- 커플사진 수정 Modal창  -->
	<div class="modal fade" tabindex="-1" role="dialog" id="updateCouple"aria-labelledby="updateCouple" 
	aria-hidden="true" data-bs-backdrop="static">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
			<div class="modal-content border-0">
				<div class="modal-header">
					<button type="button" class="btn-close text-reset p-0 m-0 size-20 center-both ms-auto"
                            data-bs-dismiss="modal" aria-label="Close">
                           <i class="bi bi-x fs-5"></i>
                        </button>
				</div>
				<div class="modal-body">
					<div class="photo_box">
						<div class="upload_btn">
							<div class="upload">
								<input type="file" name="photoBtn" class="form-control form-control-sm"
									accept="image/jpeg, image/png" id="photoBtn">
							</div>
							
								<a href="#" id="defaultImage" class="btn btn-rise btn-outline-light p-0 size-50 d-flex rounded-circle"
								data-bs-toggle="tooltip"data-bs-placement="top" data-bs-original-title="기본이미지로변경하기">
	                                <div class="btn-rise-bg bg-primary"></div>
	                                <div class="btn-rise-text"><i class="fs-3 icon-Photo"></i></div>
	                            </a>
	                            
	                            <a href="#" id="resetPhoto" class="btn btn-rise btn-outline-light p-0 size-50 d-flex rounded-circle"
								data-bs-toggle="tooltip"data-bs-placement="top" data-bs-original-title="사진초기화하기" >
	                                <div class="btn-rise-bg bg-primary"></div>
	                                <div class="btn-rise-text"><i class="fs-3 icon-Repeat-6"></i></div>
	                            </a>
								
								<a href="#" id="complete" class="btn btn-rise btn-outline-light p-0 size-50 d-flex rounded-circle"
								data-bs-toggle="tooltip"data-bs-placement="top" data-bs-original-title="업로드하기">
	                                <div class="btn-rise-bg bg-primary"></div>
	                                <div class="btn-rise-text"><i class="fs-3 bi bi-check"></i></div>
	                            </a>
						</div>
						<div class="photo_them">
							<div class="them_img">
								<img id="image" src="">
							</div>
						</div>
						<div class="modal-footer border-0 "style="padding: 0px;">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
<!-- 커플 찾기 모달창 -->
<div class="modal fade" id="findLove" tabindex="-1" aria-labelledby="findLove" aria-hidden="true" 
style="display: none;" data-bs-backdrop="static">
     <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content border-0 ">
             <div class="modal-header border-0 bg-white">
                 <button type="button" class="btn-close text-reset p-0 m-0 size-20 center-both ms-auto"
                            data-bs-dismiss="modal" aria-label="Close">
                           <i class="bi bi-x fs-5"></i>
                        </button>
             </div>
             <div class="modal-body">
                 <div class="position-relative  shadow-lg overflow-hidden">
                     <div class="position-relative bg-white overflow-hidden">
						<!--Get started image-->
                         <div class="position-relative my-4 overflow-hidden size-180 mx-auto rounded-circle" id="findLoveInfo"
                         style="display:none;">
                                <img src="/img/coupleImage1.jpg" alt="" class="img-fluid">
                            </div>
                     </div>
                     <div class="px-2 bg-white position-relative pt-2 mb-2">
                         <h4 class="mb-4 text-center" id="nickFind">커플이메일을 입력해주세요</h4>
                         	
                             <div class="input-group mb-3">
                                 <input type="email" name="email" class="form-control "aria-describedby="basic-addon2">
                             		<span class="input-group-text" id="basic-addon2">
                         	<button type="button" class="btn btn-primary-secondary search btn-hover-arrow hover-lift"
                                 >
                                 <span>검색</span></button></span>
                             		
                             </div>
                                 <small class="d-block text-danger my-2" id="noFind"></small>
                             <div class="d-grid">
                             </div>
                             <br> 
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>

<!-- d-day수정 모달창 -->
<div class="modal fade" id="updateDay" tabindex="-1" aria-labelledby="updateDay" aria-hidden="true" style="display: none;"
 data-bs-backdrop="static">
     <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content border-0">
             <div class="modal-header border-0 bg-white">
                <button type="button" class="btn-close text-reset p-0 m-0 size-20 center-both ms-auto"
                            data-bs-dismiss="modal" aria-label="Close">
                           <i class="bi bi-x fs-5"></i>
                 </button>
             </div>
             <div class="modal-body"style="padding: 0px;">
                 <div class="position-relative  bg-white shadow-lg overflow-hidden">
                     <div class="px-2 bg-white position-relative pt-2">
                         <h4 class="mb-4 text-center" id="nickFind">사랑이 시작된 날이 언제인가요?</h4>
                             <div class="input-group mb-3">
                                 <input type="date" name="date"class="form-control" aria-describedby="basic-addon2">
                                	<span class="input-group-text" id="basic-addon2">
                                	<button type="button" class="btn btn-primary-secondary  btn-hover-arrow hover-lift"
                                 id="updateDday">
                                 <span>업데이트</span></button></span>
                             </div>
                     </div>
                 </div>
             </div>
                          <br>
             
         </div>
     </div>
 </div>

<!--Offcanvas end white-->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEnd"
                    aria-labelledby="offcanvasEndLabel">
                    <div class="border-bottom offcanvas-header bg-gradient-tint">
                        <button type="button" class="btn-close text-reset p-0 m-0 size-40 center-both ms-auto"
                            data-bs-dismiss="offcanvas" aria-label="Close">
                           X
                        </button>
                    </div>
                    <div class="offcanvas-body p-3 px-xl-4">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="#" class="nav-link fs-3">메인</a></li>
                            <li class="nav-item"><a href="/coupleLog/logList" class="nav-link fs-3">커플로그</a></li>
                            <li class="nav-item"><a href="/coupleCreateCourse" class="nav-link fs-3">코스만들기</a></li>
                            <li class="nav-item"><a href="#" class="nav-link fs-3">chat</a></li>
                            <li class="nav-item"><a href="#" class="nav-link fs-3">설정</a></li>
                        </ul>
                    </div>
                    <div class="offcanvas-footer p-3 px-xl-4 border-top bg-gradient-tint">
                        <ul class="list-unstyled mb-0">
                            <li class="pb-4">
                                <small class="text-muted d-block">Email us:</small>
                                
                                <a href="mailto:company@domain.com"
                                    class="text-dark link-underline fs-5">company@domain.com</a>
                            </li>
                            <li>
                                <ul class="list-inline">
                                    <li class="list-inline-item me-3">
                                        <a href="#" class="fs-5 text-muted"><i class="bi bi-facebook"></i></a>
                                    </li>
                                    <li class="list-inline-item me-3">
                                        <a href="#" class="fs-5 text-muted"><i class="bi bi-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item me-3">
                                        <a href="#" class="fs-5 text-muted"><i class="bi bi-linkedin"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="fs-5 text-muted"><i class="bi bi-instagram"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

<div class="position-fixed z-index-fixed top-0 start-0 height-20 w-100 bg-transparent rounded-0 border-0 progress-page">
            <progress data-progress="page" value="" max="100"></progress>
        </div>
</th:block>
<th:block layout:fragment="script">
	
	<script src="https://fengyuanchen.github.io/cropper/js/cropper.js"></script>
	<script th:inline='javascript'>
	
	
	$(function() {
		let userId=Number(userSession.userId);
		let coupleId=Number(userSession.coupleId);
		let name=userSession.name;
		let coupleStatus= userSession.coupleStatus;
		
		
		console.log('유저아이디:'+userId);
			expirationValidation();
			coupleInfo();
			myloveInfo();
			//  session의 아이디값 여기 넣기
			// ${session.userSession.coupleStatus}  session의 커플상태 여기 넣기
			// ${session.userSession.coupleId}  session의 커플아이디 여기 넣기
			
			//;
		//커플로그 만료기간 검증
		function expirationValidation() {
		$.ajax({
			url : "validation",
			method : "post",
			dataType : "json",
			data : {
				userId : userId,
				coupleId : coupleId,
				name : name
			},
			success : function(datas) {
			console.log(datas);
			 if(datas.subTerm==0){
			 
			let message= datas.name+"님의 커플로그 만료일은 "
			 +datas.endDate+" 입니다.\n"
			 +"제결제 하시겠습니까?";
			   
			 if (!confirm(message)) {
				 	location="/";
			    } else {
			        location="coupleMain?coupleStatus="+datas.coupleStatus;
			        // 확인(예) 버튼 클릭 시 이벤트
			    }
			 } //if절 끝
			 
			 else if(datas.endDate!=null){ //만료 3일 전 알림
				 let message= datas.name+"님의 커플로그 만료일은 "
					 +datas.endDate+" 입니다.\n"
					 +datas.subTerm+"개월권 제결제 하시겠습니까?";
			 if (!confirm(message)) {
				 return;
			 	} else {
			        location="coupleMain?coupleStatus="+datas.coupleStatus;
			        // 확인(예) 버튼 클릭 시 이벤트
			    }
			 }
			 
			} //callback 끝
		});//ajax 끝
		}; 
		
			//내정보와 커플정보 들고오기
			function coupleInfo() {
				$.ajax({
					url : "coupleInfo/" + userId,
					dataType : "json",
					success : function(datas) {
					console.log(datas);
					$('#nickName1').text(datas.nickName);
					$('#birthDate1').text(datas.birthDay);
					$('#user1Img').attr('src',"/img/user/"+datas.userImg);
					$('#coupleImg').attr('src',"/img/couple/"+datas.coupleImg);
					$('#coupleImg2').attr('src',"/img/couple/"+datas.coupleImg);
					
					if(datas.coupleDate!=null){
					var today = new Date();
					var coupleDate = new Date(datas.coupleDate);
					var gap = today.getTime() - coupleDate.getTime();
					var result = Math.ceil(gap / (1000 * 60 * 60 * 24));
					$('#coupleDate').text(result);
					}else{
						let coupleDate= $('#coupleDate');
						$('#dPlus').text('');
						$('.display-6').text('');
						coupleDate.text('처음만난날은 언제인가요?').css( "font-size", "35px" );
						
					}
					}
				});
			}; //ajax 끝
			
			
			//내 커플의 정보를 들고옵니다.
			function myloveInfo() {
				
				//커플매칭이 안 된 상태의 커플메인페이지
				  if(coupleStatus=="w"){
					
					$('#nickName2').text("커플정보가 없어요");
					$('#birthDate2').text("커플매칭을 해주세요...");
					$('#dot').removeClass("d-none");
					$('#heart').addClass("d-none");
				
				  }else if(coupleStatus=="s"){ //커플 신청 중인 상태
					
					$('#nickName2').text("상대방에게 시그널을 보냈어요!");
					$('#birthDate2').text("조금만 기다려 주세요...");
					$('#dot').removeClass("d-none");	
					$('#user2Img').unwrap(); //클릭 이벤트 없애기
					
				}else{
					
				//coupleStatus=="y,e,n"일 경우
					$.ajax({
						url : "myloveInfo",
						data : {
							userId : userId,
							coupleId : coupleId,
							coupleStatus : coupleStatus
						},
						method : "GET",
						dataType : "json",
						success : function(datas) {
							$('#nickName2').text(datas.nickName);
							$('#birthDate2').text(datas.birthDay);
							$('#user2Img').attr('src',"/img/user/"+datas.userImg);
							$('#user2Img').unwrap(); //클릭 이벤트 없애기
							console.log(datas); 
						}
					});//ajax 끝
				}
			};
			
			//기본이미지버튼 클릭 시 이벤트
			$('#defaultImage').on('click', function() {
				$.ajax({
					url : "defaultImage",
					data : {
						coupleId : coupleId,
					},
					method : "GET",
					success : function(datas) {
						console.log(datas);
						swal(datas, "", "success",
						{button : {text : "확인",className : "btn btn-primary"}
						}).then(()=>{
							$('#updateCouple').hide();
				        	window.location.reload();
							console.log("응애!");
						});
					}
				});//ajax 끝
			});
			
			//상대방 이메일 찾기
			$(".search").on('click',function(){
				if ($('input[type="email"]').val() =="") {
					$('#noFind').text("이메일을 입력해주세요.");			
					$('input[type="email"]').focus();
					return;
				}
				let email = $("input[type=email]").val();
				console.log(email);
				
				$.ajax({
					url : "findLove",
					data : {email : email},
					method : "GET",
					dataType : "json",
					success : function(datas) { //상대방정보
						console.log(datas);
						if(datas==null){
							$('#noFind').text("사용자가 없습니다. 다시입력해주세요.");
							$('input[type="email"]').focus();
						}else{
							if(datas.coupleStatus=='n'){
								$('#noFind').remove();		//커플검색 알림메시지
								$('#nickFind').text(datas.nickName); //검색결과 닉네임
								$('#findLoveInfo').css("display","block"); //사진까지 보여줌
								
								let search= $('.search');
								search.children('span:eq(0)').text('커플신청하기');
								search.off('click');
								
								$('.search').on('click',function(){ //커플신청버튼 클릭 시 이벤트
									
									$.ajax({
										url : "request",
										data : {
											userSent : userId,
											userReceived : datas.userId,
											coupleId : coupleId
										},
										method : "POST",
										success : function(data) {
											console.log(data);
											
											swal(data,"", "success",
											{button : {text : "확인",className : "btn btn-primary"}
											}).then(()=>{
												$('#findLove').hide(); //모달창 닫기
									        	window.location.reload();
												console.log("응애!");
											});
										}
										});//ajax 끝
								})
							}else{
								$('#noFind').text("대상은 이미 커플이 있습니다."); //커플상태가 n 이외는 커플상대 검색불가
							}
						}
					},
					error : function() {
						$('#noFind').text("사용자가 없습니다. 다시입력해주세요.");
						$('input[type="email"]').focus();
					},
				});//ajax 끝
			})

			
			var cropper;
			// 사진 업로드하기 버튼 cropper 수정
			$('#photoBtn').on('change', function() {
				$('.them_img').empty().append('<img id="image" src="">');
				$('#defaultImage').css("display","none");
				$('#resetPhoto').css("display","block");
				var image = $('#image');
				var imgFile = $('#photoBtn').val();
				var fileForm = /(.*?)\.(jpg|jpeg|png)$/;

				// 이미지가 확장자 확인 후 노출
				if (imgFile.match(fileForm)) {
					var reader = new FileReader();
					reader.onload = function(event) {
					image.attr("src", event.target.result);
					image.css("display","block");
					
					cropper = image.cropper({
					dragMode : 'move',
					viewMode : 3,
					autoCropArea :0.8,
					minContainerHeight : 400,
					minContainerWidth : 400,
					
					minCropBoxWidth : 800,
					minCropBoxHeight:320,
					minCanvasWidth : 400,
					minCanvasHeight:400,
					responsive : true,
					checkCrossOrigin:true,
					autoCropArea:0.5,
					
					restore : false,
					guides : true,
					center : true,
					cropBoxMovable : true,
					cropBoxResizable : false,
					toggleDragModeOnDblclick : false
					});
					};
					reader.readAsDataURL(event.target.files[0]);
				} else {
					swal("이미지 파일(jpg, png형식의 파일)만 올려주세요", "", "error",
					{button : {text : "확인",className : "btn btn-primary"}
					});
					$('#photoBtn').focus();
					return;
				}
			});
			// 사진 다시 올리기 버튼
			$('#resetPhoto').on('click', function() {
				if ($('input[type="file"]').val() != "") {
					$('#photoBtn').val('');
					$('.them_img img').attr('src', '').remove();
					$('.btn_wrap a:last-child').removeClass('bg1');
					$('input[type="file"]').click();
				} else {
					swal('업로드된 사진이 없습니다.', "", "error",
					{button : {text : "확인",className : "btn btn-primary"}
					});
				}
			});
			// 업로드 버튼
			$('#complete').on('click',function() {
				//$('.them_img').append('<div class="result_box"><img id="result" src=""></div>');
			var image = $('#image');
			var result = $('#result');
			var canvas;
			if ($('input[type="file"]').val() != "") {
				canvas = image.cropper('getCroppedCanvas',
				{
					height : 1024
				});
				result.attr('src', canvas.toDataURL("image/jpg"));

				canvas.toBlob(function(blob) {
				var formData = new FormData();
				formData.append('uploadFile', blob/*, 'example.png' */);
				formData.append('coupleId',coupleId);
				console.log($('input[type="date"]').val());
				console.log(result);
				console.log(canvas);
				console.log(blob);
				
				$.ajax({
					url : "coupleImage",
					method : 'POST',
					data : formData,
					processData : false,
					contentType : false,
					success : function() {
						swal('저장완료', "", "success",
						{button : {text : "확인",className : "btn btn-primary"}
						}).then(()=>{
							$('#updateCouple').hide();
				        	window.location.reload();
							console.log("응애!");
						});
					},
					error : function(){
						swal('업로드 실패', "", "error",
						{button : {text : "확인",className : "btn btn-primary"}
						}).then(()=>{
							$('.result_box').remove()
							$('#updateCouple').hide();
				        	window.location.reload();
							console.log("응애!");
						});
					},
				}); 
				})
			} else {
				swal('사진을 업로드 해주세요', "", "error",
					{button : {text : "확인",className : "btn btn-primary"}
				});
				$('input[type="file"]').focus();
				return;
			}
		});	
			
			//dday update
			$('#updateDday').on("click",function(){
				if ($('input[type="date"]').val() != ""){
					var formData = new FormData();
					//formData.append('coupleId',)
					
					formData.append('coupleDate',$('input[type="date"]').val());
					formData.append('coupleId', coupleId);
					$.ajax({
						url : "updateDday",
						method : 'POST',
						data : formData,
						processData : false,
						contentType : false,
						success : function() {
							swal('업데이트 성공!', "", "success",
							{button : {text : "확인",className : "btn btn-primary"}
							})
							.then(()=>{
								$('#updateDay').hide();
					        	window.location.reload();
								console.log("응애!");
							});
						},
						error : function(){
							swal('업로드 실패', "", "error",
							{button : {text : "확인",className : "btn btn-primary"}
							});
						},
					}); 
					
				}else {
					swal('D-day 날짜를 입력해주세요.', "", "error",
					{button : {text : "확인",className : "btn btn-primary"}
					});
					$('input[type="date"]').focus();
					return;
				}
			})
			
			
			//커플찾기 모달창 초기화
			 $('#findLove').on('hidden.bs.modal', function () {
	               // 실행 할 내용
	             $('#noFind').text("");
	             $('input[type="email"]').val("");
	             $('#findLoveInfo').css("display","none");
	             $('#nickFind').text("커플이메일을 입력해주세요");
	               console.log("응애!");
	           });
			
		}); //function 끝
	</script>
</th:block>
</html>