<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
<th:block layout:fragment="css">
	<link href="https://fonts.googleapis.com/css?family=Raleway"
		rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/open-iconic-bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/icomoon.css}">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">
	<!-- js -->
	
	<style>
.product-image {
	width: 100%;
	height: 640px;
	overflow: hidden;
}

.product-image .img-fluid {
	max-width: 100%;
}
.photo_box{margin:0 auto ;max-width:500px;} 
.upload_btn{overflow:auto;width:100%;}

.upload_btn #photoBtn,#resetPhoto{display:none;} /* 사진 첨부하기 버튼 숨김*/ 
.upload_btn .upload, .upload_btn a{float:left; padding: 6px 20px;
  background:#eee;;
  border-radius: 4px;
  color: black;
  cursor: pointer;}
.upload_btn a{ background:#ccc;}
#resetPhoto,#complete,#defaultImage {float:right; padding: 10px 20px;}
.photo_them{position:relative;width:100%;height:420px;background:#eee;margin :10px 0;}

.them_img, .result_box{position:absolute;top:0;left:0;width:100%;height:100%;}
.them_img img, .result_box img{display:block;margin:0 auto;height:100%;}
</style>
</th:block>
<th:block layout:fragment="content">
	<!-- 여기에 body에 들어갈 내용을 적어주세요 -->
	<div class="tm-page-wrap mx-auto">
		<BR>
		<section class="probootstrap-cover probootstrap-bg"
			>
			<div class="container-fluid mb-5">
				<div class="row">
					<div class="probootstrap-devices product-image" id="coupleUrl"
					style="background-image: url(../img/873fda76-e9e4-4bac-b497-4743f8e42b4fblob.jpg); background-size: cover; background-position: center;">
						<!-- <img th:src="@{/img/coupleSample2.jpg}"
							class="probootstrap-device-left img-fluid"> -->
					</div>
				</div>
			</div>
		</section>

		<section class="probootstrap-section probootstrap-bg-dark">
			<div class="container-fluid mb-5">
				<div
					class="row probootstrap-vh-100 mb-5 justify-content-center text-center">
					<div class="col-lg-8">
						<h2 class="probootstrap-heading probootstrap-stagger">
							사랑한 지 <b id="coupleDate"></b>일 째
						</h2>
					</div>
				</div>
				<div
					class="row probootstrap-vh-100  align-items-center  text-md-left text-sm-center text-center">
					<div class="col-md ">
						<div class="media d-block mb-4 text-center">
							<div class="probootstrap-text">
								<img th:src="@{/img/coupleSample1.jpg}" alt=""
									class="probootstrap-device-vertical-1 img-fluid rounded-circle w-50">
								<div class="media-body p-3">
									<h4 class=" text-black mb-2 probootstrap-heading probootstrap-stagger"
										id="nickName1"></h4>
									<p class="mb-5 probootstrap-stagger lead" id="birthDate1"></p>
								</div>
							</div>
						</div>
					</div>

					<div class="media d-block mb-4 text-center">
              <img src="" alt="" class="img-fluid mb-3 rounded-circle w-50">
              <div class="media-body p-3"><button type="button" class="btn btn-primary mr-2 mb-2"
									data-toggle="modal" data-target=".bd-example-modal-lg">커플로그시작하기</button>
                <h5 class="mt-0" id="nickName"></h5>
               <p class="mb-5 lead"></p>
              </div>
            </div>

					<div class="col-md">
						<div class="media d-block mb-4 text-center">
							<img th:src="@{/img/008.jpg}" alt=""
								class="probootstrap-device-vertical-1 img-fluid rounded-circle w-50">
							<div class="media-body p-3">
								<h4
									class="probootstrap-heading probootstrap-stagger text-black mb-2"
									id="nickName2"></h4>
								<p class="mb-5 probootstrap-stagger lead" id="birthDate2"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- 커플 수정 Modal창  -->
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">커플사진 업로드</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="photo_box">
						<div class="upload_btn">
							<div class="upload">
								<label for="photoBtn"><input type="file" name="photoBtn"
									accept="image/jpeg, image/png" id="photoBtn">사진 첨부하기</label>
									
							</div>
							<button type="button" class="btn-primary " id="defaultImage">기본이미지로 변경</button>
							<button type="button" class="btn-primary " id="resetPhoto">다시 올리기</button>
						</div>
						<div class="photo_them">
							<div class="them_img">
								<img id="image" src="">
							</div>
						</div>
						D-DAY설정하기&nbsp;<input type="date" required="required">
						<button type="button"class="btn-primary " id="complete">업데이트</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>
<th:block layout:fragment="script">
	<script th:src="@{/js/TweenMax.min.js}"></script>
	<script th:src="@{/js/ScrollMagic.min.js}"></script>
	<script th:src="@{/js/debug.addIndicators.min.js}"></script>
	<script th:src="@{/js/animation.gsap.min.js}"></script>

	<script th:src="@{/js/main.js}"></script>
	<script src="https://fengyuanchen.github.io/cropper/js/cropper.js"></script>

	<script>
	$(function() {
			coupleInfo();
			myloveInfo();
			expirationValidation();
			// ${session.userSession.userId}  session의 아이디값 여기 넣기

			//let userId= '[[  ]';
			/*<![CDATA[*/
			/*]]*/
			//console.log('유저아이디:'+userId);
			
			
		//커플로그 만료기간 검증
		function expirationValidation() {
		$.ajax({
			url : "validation",
			method : "post",
			dataType : "json",
			data : {
				userId : 1,
				coupleId : 1,
				name : "송호준"
			},
			success : function(datas) {
			console.log(datas);
			 if(datas.subTerm==0){
			 let message= datas.name+"님의 커플로그 만료일은 "
			 +datas.endDate+" 입니다.\n"
			 +"제결제 하시겠습니까?";
			   
			 if (!confirm(message)) {
				 	location="/";
			    } else {
			        location="coupleMain?coupleStatus="+datas.coupleStatus;
			        // 확인(예) 버튼 클릭 시 이벤트
			    }
			 } //if절 끝
			 
			 else if(datas.endDate!=null){ //만료 3일 전 알림
				 let message= datas.name+"님의 커플로그 만료일은 "
					 +datas.endDate+" 입니다.\n"
					 +datas.subTerm+"개월권 제결제 하시겠습니까?";
			 if (!confirm(message)) {
				 return;
			 	} else {
			        location="coupleMain?coupleStatus="+datas.coupleStatus;
			        // 확인(예) 버튼 클릭 시 이벤트
			    }
			 }
			 
			} //callback 끝
		});//ajax 끝
		}; 
			//내정보와 커플정보 들고오기
			function coupleInfo() {
				$.ajax({
					url : "coupleInfo/" + 1,
					dataType : "json",
					success : function(datas) {
					console.log(datas);
					$('#nickName1').text(datas.nickName);
					$('#birthDate1').text(datas.birthDay);
					var today = new Date();
					var coupleDate = new Date(datas.coupleDate);
					var gap = today.getTime() - coupleDate.getTime();
					var result = Math.ceil(gap / (1000 * 60 * 60 * 24));
					$('#coupleDate').text(result);

					}
				});
			}; //ajax 끝
			//내 커플의 정보를 들고옵니다.
			function myloveInfo() {
				$.ajax({
					url : "myloveInfo",
					data : {
						userId : 1,
						coupleId : 1,
						coupleStatus : 'y'
					},
					method : "GET",
					dataType : "json",
					success : function(datas) {
						$('#nickName2').text(datas.nickName);
						$('#birthDate2').text(datas.birthDay);
						console.log(datas);
					}
				});//ajax 끝
			}; 
			
			//디폴트이미지로 업뎃
			$('#defaultImage').on('click', function() {
				$.ajax({
					url : "defaultImage",
					data : {
						coupleId : 1,
					},
					method : "GET",
					success : function(datas) {
						console.log(datas);
						alert(datas);
						$('.bd-example-modal-lg').hide();
						location.href = location.href;
						
					}
				});//ajax 끝
			});

			var cropper;
			// 사진 업로드하기 버튼 cropper 수정
			$('#photoBtn').on('change', function() {
				$('.them_img').empty().append('<img id="image" src="">');
				$('#defaultImage').css("display","none");
				$('#resetPhoto').css("display","block");
				var image = $('#image');
				var imgFile = $('#photoBtn').val();
				var fileForm = /(.*?)\.(jpg|jpeg|png)$/;

				// 이미지가 확장자 확인 후 노출
				if (imgFile.match(fileForm)) {
					var reader = new FileReader();
					reader.onload = function(event) {
					image.attr("src", event.target.result);
					image.css("display","block");
					
					cropper = image.cropper({
					dragMode : 'move',
					viewMode : 3,
					autoCropArea :0.8,
					minContainerHeight : 400,
					minContainerWidth : 400,
					
					minCropBoxWidth : 600,
					minCropBoxHeight:240,
					minCanvasWidth : 400,
					minCanvasHeight:400,
					responsive : true,
					checkCrossOrigin:true,
					autoCropArea:0.5,
					
					restore : false,
					guides : true,
					center : true,
					cropBoxMovable : true,
					cropBoxResizable : false,
					toggleDragModeOnDblclick : false
					});
					};
					reader.readAsDataURL(event.target.files[0]);
				} else {
					alert("이미지 파일(jpg, png형식의 파일)만 올려주세요");
					$('#photoBtn').focus();
					return;
				}
			});
			// 사진 다시 올리기 버튼
			$('#resetPhoto').on('click', function() {
				if ($('input[type="file"]').val() != "") {
					$('#photoBtn').val('');
					$('.them_img img').attr('src', '').remove();
					$('.btn_wrap a:last-child').removeClass('bg1');
					$('input[type="file"]').click();
				} else {
					alert('업로드된 사진이 없습니다.');
				}
			});
			// 업로드 버튼
			$('#complete').on('click',function() {
				//$('.them_img').append('<div class="result_box"><img id="result" src=""></div>');
			var image = $('#image');
			var result = $('#result');
			var canvas;
			if ($('input[type="file"]').val() != "") {
				canvas = image.cropper('getCroppedCanvas',
				{
					height : 840
				});
				result.attr('src', canvas.toDataURL("image/jpg"));

				canvas.toBlob(function(blob) {
				var formData = new FormData();
				formData.append('uploadFile', blob/*, 'example.png' */);
				
				console.log($('input[type="date"]').val());
				console.log(result);
				console.log(canvas);
				console.log(blob);
				
				if ($('input[type="date"]').val() != ""){
				formData.append('coupleDate',$('input[type="date"]').val());
				$.ajax({
					url : "coupleImage",
					method : 'POST',
					data : formData,
					processData : false,
					contentType : false,
					success : function() {
						$('.bd-example-modal-lg').hide();
						alert('업데이트 성공!');
						location.href = location.href;
					},
					error : function() {
						alert('업로드 실패');
						$('.result_box').remove()
					},
				}); 
				}else {
					alert('D-day 날짜를 입력해주세요.');
					$('input[type="date"]').focus();
					return;
				}
				})
			} else {
				alert('사진을 업로드 해주세요');
				$('input[type="file"]').focus();
				return;
			}
		});

		}); //function 끝
	</script>
</th:block>
</html>