<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
<th:block layout:fragment="css">
	<link href="https://fonts.googleapis.com/css?family=Raleway"
		rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/open-iconic-bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/icomoon.css}">

	<style>
</style>
</th:block>
<th:block layout:fragment="content">
	<!-- 여기에 body에 들어갈 내용을 적어주세요 -->
	<div class="tm-page-wrap mx-auto">
		<br> <br>
		<section class="probootstrap-cover probootstrap-scene-0">
			<div class="container">
				<div
					class="row probootstrap-vh-100 align-items-center  text-md-left text-sm-center text-center">

					<div class="col-md-6 order-md-1 order-2">
						<div class="probootstrap-text">
							<h1
								class="probootstrap-heading probootstrap-stagger text-black mb-2">
								너와 나<br> 우리 함께
							</h1>
							<p class="mb-5 probootstrap-stagger lead">&ldquo;함께 그려가는 아름다운 기억&rdquo;</p>
							<p class="probootstrap-stagger">
								<button type="button" class="btn btn-primary mr-2 mb-2"
									data-toggle="modal" data-target=".bd-example-modal-lg">커플로그시작하기</button>

								<a th:href="@{/coupleMain2}"
									class="btn btn-primary btn-outline-black mb-2">Visit
									uiCookies uiCookies</a>
							</p>
						</div>
					</div>
					<div class="col-md-6 order-md-2 order-1">
						<img th:src="@{/img/device_vertical_1.png}"
							class="img-fluid probootstrap-device-vertical-1">
					</div>

				</div>
			</div>
		</section>
		<br> <br>
		<!--		<section class="probootstrap-section probootstrap-scene-1 probootstrap-bg-dark">
      <div class="container ">
        <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-8">
            <h2 class="probootstrap-heading">Be Creative</h2>
            <p class="mb-5 lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p><a href="https://uicookies.com/" class="btn btn-primary mr-2 mb-2"><span class="icon-ipad"></span>Download For Free</a></p>
          </div>  
        </div>
      </div>
       <div class="container-fluid mb-5">
        <div class="row">
          <div class="col-md-12">
            <div class="probootstrap-devices">
              <img th:src="@{/img/device_1.png}" class="probootstrap-device-left img-fluid" >
            </div>
          </div>
        </div>
      </div>
    </section>  -->
		<div class="modal fade bd-example-modal-lg" tabindex="-1" 
			role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">커플로그 시작하기</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<section class="probootstrap-section probootstrap-bg-dark"
							>
							<div class="container">
								<div class="row mb-5 justify-content-center text-center">
									<div class="col-lg-8">
										<h2 class="probootstrap-heading">지금 시작하세요.</h2>
									</div>
								</div>
								<div class="row">
									<!------------------------------------------------------------------------------- -->
									<div class="col-md">
										<div class="media d-block mb-4 text-center">
											<img th:src="@{/img/008.jpg}" alt="" class="img-fluid mb-3 rounded w-100">
											<div class="media-body p-3" id="one">
												<p class="mb-5">&ldquo;Far far away, behind the word
													mountains, far from the countries Vokalia and Consonantia,
													there live the blind texts.&rdquo;</p>
												<h5 class="mt-0">1개월</h5>
												<p>2,000원</p>
											</div>
										</div>
									</div>
									<!------------------------------------------------------------------------------- -->
									<div class="col-md">
										<div class="media d-block mb-4 text-center">
											<img th:src="@{/img/008.jpg}" alt="" class="img-fluid mb-3 w-100">
											<div class="media-body p-3" id="three">
												<p class="mb-5">&ldquo;Far far away, behind the word
													mountains, far from the countries Vokalia and Consonantia,
													there live the blind texts.&ldquo;</p>
												<h5 class="mt-0">3개월</h5>
												<p>Google</p>
											</div>
										</div>
									</div>
									<!------------------------------------------------------------------------------- -->
									<div class="col-md">
										<div class="media d-block mb-4 text-center">
											<img th:src="@{/img/008.jpg}" alt="" class="img-fluid mb-3 e w-100">
											<div class="media-body p-3" id="six">
												<p class="mb-5">&ldquo;Far far away, behind the word
													mountains, far from the countries Vokalia and Consonantia,
													there live the blind texts.&ldquo;</p>
												<h5 class="mt-0">6개월</h5>
												<p>Twitter</p>
											</div>
										</div>
									</div>
									<!------------------------------------------------------------------------------- -->
									<div class="col-md">
										<div class="media d-block mb-4 text-center">
											<img th:src="@{/img/008.jpg}" alt="" class="img-fluid mb-3  w-100">
											<div class="media-body p-3" id="forever">
												<p class="mb-5">&ldquo;Far far away, behind the word
													mountains, far from the countries Vokalia and Consonantia,
													there live the blind texts.&ldquo;</p>
												<h5 class="mt-0">평생권</h5>
												<p>Twitter</p>
											</div>
										</div>
									</div>

								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		</div>
</th:block>

<th:block layout:fragment="script">

	<script th:src="@{/js/TweenMax.min.js}"></script>
	<script th:src="@{/js/ScrollMagic.min.js}"></script>
	<script th:src="@{/js/debug.addIndicators.min.js}"></script>
	<script th:src="@{/js/animation.gsap.min.js}"></script>
	<script type="text/javascript"
		src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:inline='javascript'>

		$(function() {
			console.log();
			let subTerm; //정기권 기간
			let subPrice; //정기권 가격

			$("#one").on('click', function() {
				let subTerm = 1;
				let subPrice = 100;
				requestPay(subTerm, subPrice);
			});

			$("#three").on('click', function() {
				let subTerm = 3;
				let subPrice = 200;
				requestPay(subTerm, subPrice);
			});

			$("#six").on('click', function() {
				let subTerm = 6;
				let subPrice = 300;
				requestPay(subTerm, subPrice);
			});

			$("#forever").on('click', function() {
				let subTerm = 1000;
				let subPrice = 500;
				requestPay(subTerm, subPrice);
			});

			//결제실행
			function requestPay(subTerm, subPrice) {
				var IMP = window.IMP; // 생략가능
				IMP.init("imp61283402");
				let userId = 1; //session의 아이디값 여기 넣기 //${session.userSession.userId}
				let buyerName = "송호준"; //이름 필요합니다.
				const merchantUid = Math.floor(Math.random() * 1000000) + 1; //난수설정
				console.log(merchantUid);
				let passName = subTerm + '개월 커플로그 이용권'; //결제시 정기권 이름
				let coupleId =1;
				
				IMP.request_pay({ // param
					pg : "html5_inicis",
					pay_method : "card",
					merchant_uid : merchantUid,
					name : passName,
					amount : subPrice,
					buyer_email : "gkwlal3@gmail.com",
					buyer_name : buyerName,
					// buyer_tel: $('#bPhone').text(),
					// buyer_addr: $('#bAddress').text(),
					// buyer_postcode: "우편번호",
					m_redirect_url : 'http://localhost:8000/coupleMain'

				}, function(rsp) { // callback
					console.log(rsp);
					var msg = "결제 성공하셨습니다!";
					if (rsp.success) { // 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우

						alert(msg);

						/* 결제 성공 시 결과 저장 */
						$.ajax({
							url : 'payment', //'../AddItemServlet.do'
							method : 'post',
							data : {
								userId : userId,
								subTerm : subTerm,
								payCost : rsp.paid_amount,
								merchantUid : rsp.merchant_uid,
								coupleId : coupleId
							},
							success : function(result) {
								console.log(result);
								alert(result);
							},
							error : function(error) {
								console.log("문제발생");
								console.log(error);
							}
						});
					} else {
						alert("결제에 실패하였습니다. " + rsp.error_msg);
					}
				});
			}
			;//import 결제 API 끝
		});
		//ajax 끝
	</script>
</th:block>
</html>