<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.hs.meetme.coursedetail.mapper.DetailMapper">

	<!-- <select id="getCourse" resultType="DetailVO">
		SELECT c.COURSE_NAME,
		c.REGION, o.AVG_COST
		FROM course c JOIN course_order o
		ON c.COURSE_ID =
		o.COURSE_ID
	</select> -->

	<!-- <select id="getCourse" resultType="DetailVO"> SELECT PLACE_NAME, REGION, 
		AVG_COST FROM PLACE WHERE REGION = (SELECT DISTINCT REGION FROM COURSE ) 
		</select> -->

	<!-- 코스 상세보기 누르면 나오는 것 -->
	<select id="getCourse" parameterType="int" resultType="DetailVO">
		SELECT DISTINCT
			c.course_name,
	        u.nickname,
			SUBSTR(P.ADDRESS,'1',INSTR(P.ADDRESS,' ',1,1)-1) ADDRESS,
			P.PLACE_NAME, P.AVG_COST, P.THUMBNAIL_HREF, CO.COURSE_ORDER
	    FROM 
	        COURSE C 
	    JOIN 
	        COURSE_ORDER CO
	    ON
	        (C.COURSE_ID = CO.COURSE_ID)
	    JOIN
	        PLACE P
	    ON
	        (P.PLACE_ID = CO.PLACE_ID)
	    JOIN
	        user_info u
	    on
	        c.user_id = u.user_id
	    WHERE C.COURSE_ID = 49
	</select>
	
</mapper>