<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.meetme.sample.mapper.MypageMapper">
	<!-- MyPage 회원정보 -->
	<select id="userList" resultType="MypageVO">
		SELECT
			email,
			password,
			user_name,
			nickname,
			phone_num,
			img_id,
			address
		FROM USERINFO
			WHERE COUPLE_STATE='n'
			ORDER BY created DESC
	</select>
	<select id="userOne" resultType="MypageVO">
		SELECT
			email,
			password,
			user_name,
			nickname,
			phone_num,
			img_id,
			address
		FROM USERINFO
		WHERE email=#{email}
	</select>
	<!-- 회원정보 수정 (패스워드)-->
	<update id="userUpdatePassword" parameterType="MypageVO">
		UPDATE userinfo
		SET password=#{password}
		WHERE email=#{email}
	</update>
	<!-- 회원정보 수정 (닉네임)-->
	<update id="userUpdateNickname" parameterType="MypageVO">
		UPDATE userinfo
		SET nickname=#{nickname}
		WHERE email=#{email}
	</update>
	<!-- 회원정보 수정 (전화번호)-->
	<update id="userUpdatePhonenum" parameterType="MypageVO">
		UPDATE userinfo
		SET phone_num=#{phoneNum}
		WHERE email=#{email}
	</update>
	<!-- 회원정보 수정 (주소)-->
	<update id="userUpdateAddress" parameterType="MypageVO">
		UPDATE userinfo
		SET address=#{address}
		WHERE email=#{email}
	</update>
	
	<!-- 내가 쓴 글 리스트 -->
	<select id="myBoardList" resultType="MypageVO">
		SELECT
		  p.post_title "title",
		  p.post_updated "update", 
        (SELECT COUNT(*) "view" from post) "view", 
        (SELECT COUNT(*) "like" from post_like) "like"
		FROM POST p JOIN  POST_LIKE l
		ON p.post_id = l.post_id;
		
	</select>
	<!-- 내가 쓴 코멘트 리스트 -->
	<select id="myCommentList" resultType="MypageVO">
		
	</select>
</mapper>