<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer id="footer-dark" class="bg-dark text-white position-relative">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-12 col-lg-4 h-100 me-auto">
                    <h2 class="display-5 mb-0 position-relative">
                        HeartSignal!!
                    </h2>
                    <div class="pt-3">
                        <a class="link-underline fs-5" href="https://github.com/Dinner-Time/HeartSignal">Github Page</a>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-2 mb-md-0 ms-auto h-100"></div>
                <div class="col-sm-4 col-lg-2 mb-md-0 ms-auto h-100"></div>
                <div class="col-sm-4 col-lg-2 mb-md-0 ms-auto h-100">
                    <h6 class="small mb-3 mb-lg-4">Resources</h6>
                    <ul class="nav flex-column mb-0">
                        <li class="nav-item"><a class="nav-link" href="#!">Assan 4</a></li>
                    </ul>
                </div>
                <!--/.Col-->
                <div class="col-sm-4 col-lg-2 mb-md-0 ms-auto h-100">
                    <h6 class="small mb-3 mb-lg-4">Contributers</h6>
                    <ul class="nav flex-column mb-0">
                        <li class="nav-item"><a class="nav-link" href="#!">Dinner-Time</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">cheesepeperoni</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">hojunking</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Asheeholic</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">inyoeng</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Junuk</a></li>
                    </ul>
                </div>
                <!--/.Col-->
            </div>
            <hr class="my-3">
        </div> <!-- / .container -->
        <div class="pb-4">
            <div class="container">
                <div class="row justify-content-end align-items-center">
                    <div class="col-sm-6 col-md-4 text-start text-sm-end">
                        <p class="small text-muted mb-0">© Copyright. Assan 4</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 커플 신청받기 모달창 -->
        <div class="modal fade" id="receiveLove" tabindex="-1" aria-labelledby="receiveLove" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-0 ">
                    <div class="modal-header border-0 bg-white">
                        <button type="button" class="btn-close text-reset p-0 m-0 size-20 center-both ms-auto" data-bs-dismiss="modal" aria-label="Close">
                            <i class="bi bi-x fs-5" style="color:black;"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-5 mt-auto text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                            <div class="position-relative mb-4 overflow-hidden size-220 mx-auto rounded-circle">
                                <img src="assets/img/team/3.jpg" alt="" class="img-fluid" id="requesterImg">
                            </div>
                            <div>
                                <h5 class="mb-1" style="color:black;" id="requester">
                                    Aarav Lynn
                                </h5>
                                <p class="w-lg-80 mx-auto mb-2" style="color:black;" id="noticeContent">
                                    Duis aute irure dolor in velit esse cillum fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-white border-0">
                        <button type="button" class="btn btn-primary btn-sm" id="accept">커플수락</button>
                    </div>
                </div>
            </div>

            
            
<!-- 커플 신청받기 모달창 -->
<div class="modal fade" id="receiveLove" tabindex="-1" aria-labelledby="receiveLove" aria-hidden="true" 
 data-bs-backdrop="static" >
     <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content border-0 ">
             <div class="modal-header border-0 bg-gradient-tint">
                 <button type="button" class="btn-close text-reset p-0 m-0 size-20 center-both ms-auto"
                            data-bs-dismiss="modal" aria-label="Close">
                           <i class="bi bi-x fs-5 text-dark"></i>
                        </button>
             </div>
             <div class="modal-body bg-gradient-tint">
                 <div class=" mt-auto text-center aos-init aos-animate " data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">

                            <div class="position-relative mb-4 overflow-hidden size-220 mx-auto rounded-circle">
                                <img src="/img/user1" alt="" class="img-fluid" id="requesterImg">
                            </div>
                            <div>
                                <h4 class="mb-2 text-dark"  id="requester">
                                    Aarav Lynn
                                </h4>
                                <p class="w-lg-80 mx-auto mb-1 text-dark"  id="noticeContent">
                                    Duis aute irure dolor in velit esse cillum fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>

             </div>
             <div class="modal-footer border-0 justify-content-center bg-gradient-tint" >
             <span id="accept">
                 <a href="#"
                     class="btn btn-danger btn-circle-ripple p-0 size-50 rounded-pill fs-3 lh-1 center-both  mb-3">
                     <i class="icon-Heart  align-middle"></i>
                 </a>
			</span>
             </div>
         </div>
     </div>
 </div>
            
        </footer>
</th:block>
</html>