<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    
    <header class="z-index-fixed header-transparent sticky-reverse">
        <nav class="navbar navbar-expand-lg navbar-light shadow-lg">
            <div class="container position-relative">

                <!-- Logo Img -->
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/LOGO.png}" style="max-width:105px;" alt="logo" class="img-fluid">
                </a>
                <!-- /Logo Img -->

                <div class="d-flex align-items-center navbar-no-collapse-items order-lg-last">
                    <!-- 모바일 환경 메뉴 toggle버튼 -->
                    <button class="navbar-toggler order-last" type="button" data-bs-toggle="collapse"
                        data-bs-target="#mainNavbarTheme" aria-controls="mainNavbarTheme" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i></i>
                        </span>
                    </button>
                    <!-- /모바일 환경 메뉴 toggle버튼 -->

                    <!--  로그인 하기 전  -->
                    <div class="nav-item me-3 me-lg-0" th:if="${session.userSession == null}">
                        <a th:href="@{/login}" class="btn btn-primary btn-sm">로그인</a>
                    </div>
                    <!--  /로그인 하기 전  -->

                    <!--  로그인 하고 난 이후  -->
                    <div class="nav-item me-3 me-lg-0 dropdown" th:if="${session.userSession != null}">
                        <a href="#" class="btn btn-secondary rounded-pill py-0 ps-0 pe-3" data-bs-auto-close="outside"
                            data-bs-toggle="dropdown">
                            <!-- 프로필 img 링크 -->
                            <img src="/assets/img/avatar/12.jpg" alt="" class="avatar sm rounded-circle me-1">
                            <th:block th:text="${session.userSession.nickname}"></th:block>
                        </a>
                        <div class="dropdown-menu shadow-lg dropdown-menu-end dropdown-menu-xs p-0">
                            <a th:href="@{/mypage/main}" class="dropdown-header border-bottom p-4">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img src="/assets/img/avatar/12.jpg" alt="" class="avatar xl rounded-pill me-3">
                                    </div>
                                    <div>
                                        <h5 class="mb-0" th:text="${session.userSession.name}">Name</h5>
                                        <span class="text-muted d-block mb-2"
                                            th:text="${session.userSession.email}">email@email.com</span>
                                        <div class="small d-inline-block link-underline fw-semibold text-muted">마이페이지</div>
                                    </div>
                                </div>
                            </a>
                            <!-- 알림창 시작 , 커플신청알림 우선 -->
                            <ul class="list-group" id="noticeBlock">
                            	<!-- <a href="#receiveLove" data-bs-toggle="modal">
                                <li class="list-group-item py-2">
                                    <div class="d-flex align-items-start">
                                        <div class="me-1 me-lg-2">
                                            <img src="assets/img/avatar/7.jpg" alt="" class="avatar rounded-circle shadow">
                                        </div>
                                            <div class="flex-grow-1">
                                                <p class="text-dark fs-6 mb-0" th:text="|${session.userSession.name}님께 커플신청이 왔어요!|"></p>
                                                	<p class="mb-0">날짜</p>
                                          </div>
                                    </div>
                                </li>
                                </a> -->
                                <!-- 여기서부터 댓글알림 -->
                            </ul>
                            
                            
                            <a th:href="@{/logout}" class="dropdown-item p-2">
                                <span class="d-block text-end">
                                    <!-- Sign out svg icon -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-box-arrow-right me-2" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                        <path fill-rule="evenodd"
                                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                    </svg>
                                    <!-- /Sign out svg icon -->
                                    로그아웃
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--  /로그인 하고 난 이후  -->
                </div>


                <div class="collapse navbar-collapse" id="mainNavbarTheme">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/post/community_list}">게시판</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/createCourse}">코스만들기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="goCoupleMain(userSession)">커플로그</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
       
        
    </header>
    
</th:block>

</html>