<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
    <th:block layout:fragment="css">
      <style>
         .container{
            background-color:white;
         }
         li{
         list-style:none;
         }
         tr:hover{
            background-color: #f8dfe5d9;
            
         }
      </style>
   </th:block>
      
   <th:block layout:fragment="search">
      
      <form action="#" id="searchform-header" class="searchform js__toggle active pull-right">
         <input type="search" placeholder="Search..." class="input-search">
         <button class="mdi mdi-magnify button-search" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
         </button>
      </form>
   </th:block>

   <th:block layout:fragment="content">
      
   <div class="container" >
      <section class="position-relative">
         <div class="container position-relative">
            <br><br><br><br>
             <div class="px-4 px-lg-7 py-7 bg-gradient-tint rounded-top-start-block rounded-bottom-end-block overflow-hidden position-relative">
                 <svg class="position-absolute text-primary opacity-10 start-0 bottom-0 flip-y w-100 h-100" preserveAspectRatio="none" width="300" height="300" viewBox="0 0 300 300" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M0 300V0H300L180 300H0Z" fill="currentColor"></path>
                 </svg>
                 <div class="position-relative text-center w-lg-65 mx-auto">
                     <h3 class="mb-2 text-center">코스를 공유해보세요!</h3>
                     <div class="mx-auto mb-5 width-60 pt-1 border-top border-primary"></div>
                     
                     <form id ="actionForm" action="" method="get" align="center">
                         <div class="d-flex justify-content-center">
                              <input type="hidden"  name = "type" value="T">
                              <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">
                              <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
                              <input name="keyword" th:value="${pageMaker.cri.keyword}" class="border-0 px-4 rounded-end-0 shadow-none rounded-pill form-control form-control-lg" placeholder="검색어를 입력하세요" >
                              <div class="d-flex justify-content-center">
                                 <button class="btn btn-dark btn-lg px-3 px-md-5 rounded-start-0 rounded-pill" onclick="$('[name=pageNum]').val(1)">
                                     <span>Search</span>
                                 </button>
                              </div>
                           </div>
                        </form>
                     
                  </div>
             </div>
               <br>
           <!--로그인 했을 때만 글쓰기 버튼 보이도록!-->
           <li class="align-items-end" sec:authorize="isAuthenticated()">
            <div class="btn_wrap text-right" align="center">
               <a th:href="@{/post/community_insert}" class="btn btn-primary waves-effect waves-light">글쓰기</a>
            </div>
         </li> 
         </div>
     </section>
      <br>
      <div class="table-responsive clearfix">
         <table class="table table-hover">
            <thead>
               <tr style="background-color: #f9f2f4d9;"> 
                  <th>번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>등록일</th>
                  <th>조회 수</th>
                  <th width="10%">코스 추천</th>
               </tr>
            </thead>
            <tbody>
               <tr th:if="${not #lists.isEmpty( list )}" th:each="row : ${list}" th:onclick="|location.href='@{|/post/get_community/${row.postId}|}'|">
                  
                  <!-- <td class="text-left">
                     <a th:href="@{/post/get_community( idx=${row.idx} )}" th:text="${row.postTitle}"></a>
                  </td> -->
                  <td th:text="${row.postId}"></td>
                  <td th:text="${row.postTitle}"></td>
                  <td th:text="${row.nickname}"></td>
                  <td th:text="${#dates.format(row.postCreated,'yyyy.MM.dd.')}"></td>
                  <td th:text="${row.hit}"></td>
                  <td><li class="badge bg-warning" th:if="${row.courseId} != null" th:text="추천중"></li></td>
               </tr>
               <tr th:unless="${not #lists.isEmpty( list )}">
                  <td colspan="5">조회된 결과가 없습니다.</td>
               </tr>
            </tbody>
         </table>
         
         
         <br>
         
    

         <!--템플릿에서-->
         <div class="align-items-center justify-content-center d-flex">
            <nav aria-label="Page navigation example">
               <ul class="pagination pull-right" >
                   <li class="page-item">
                      <a class="page-link paginate_button previous" th:href="${pageMaker.startPage-1}">Previous</a>
                  </li>

                  <!-- <th:block th:each="num: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}" >
                     <li class="page-item" th:if="${num}!=0">
                       <a class="page-link" th:href="${num}" th:text="${num}"></a>
                     </li>
                   </th:block> -->

                  <th:block th:each="num: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}" >
                   <!--해당페이지에 오면 class -> active -->  
                   <!-- <th:block th:if=??>
                     <li class="page-item active">
                        <a class="page-link" th:href="${num}" th:text="${num}"></a>
                     </li>
                   </th:block> -->
                   
                     <li class="page-item paginate_button" th:if="${num}!=0">
                        <a class="page-link" th:href="${num}" th:text="${num}"></a>
                     </li>
                   </th:block>
                   <li class="page-item aginate_button previous"><a class="page-link paginate_button previous" th:href="${pageMaker.endPage+1}">Next</a></li>
               </ul>
            </nav>
         </div>
      
      </div>
      </div>
   </th:block>

   <th:block layout:fragment="script">
  <script>
  $(function(){

	  //상세보기
      var actionForm = $("#actionForm")
      
/*      $(".move").on("click", function(e){
        e.preventDefault();
        var bno= $(this).attr("href")
        actionForm.append('<input type="hidden" name="bno" value="'+bno+'">')
        actionForm.attr("action","get")
        actionForm.submit();
      }) */
      
      $(".pull-right a").on("click", function(e){
        e.preventDefault(); //a,submit 기본기능 막기
    	var p = $(this).attr("href");
    	$('[name="pageNum"]').val(p);
    	actionForm.submit();
      });
      
  })
  </script>
</th:block>
</html>
