<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
<th:block layout:fragment="css">
	<style>
	

		/* Important part */
		.modal-dialog {
			overflow-y: initial !important
		}

		.modal-body {
			height: 100%;
			overflow-y: auto;
		}

		.modal-dialog {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
</th:block>


<th:block layout:fragment="content">
	<!-- 여기에 body에 들어갈 내용을 적어주세요 -->
	<div class="container  bg-tint-primary" align="center">
		<br>
		<div>
			<h2>게시판 글쓰기</h2>
		</div>

		<div class="card-content">
			<form class="form-horizontal form-view" th:action="@{/post/insertCommunity}" th:object="${list}"
				method="get">
				<div class="form-group">

					<div class="row mt-3 justify-content-end d-flex mr-100">
						<div class="col-lg-9"></div>
						<div class="col-lg-1  d-flex">
							<button href="#" id="btnCancel" style="background-color: white;"
								class="btn btn-rise btn-outline-primary p-0 size-45 d-flex rounded-circle mx-1"
								data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="취소">
								<div class="btn-rise-bg bg-primary"></div>
								<div class="btn-rise-text"><i class="fs-3 icon-Repeat-6"></i></div>
							</button>

							<button href="#" id="btnSave" style="background-color: white;"
								class="btn btn-rise btn-outline-primary p-0 size-45 d-flex rounded-circle"
								data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="저장">
								<div class="btn-rise-bg bg-primary"></div>
								<div class="btn-rise-text"><i class="fs-3 bi bi-check"></i></div>
							</button>
							<!-- <button type="submit" name="submit" id="btnSave" class="btn btn-primary">저장</button>
							<button id="btnCancel" class="btn btn-light">취소</button> -->
						</div>
						<div class="col-lg-1"></div>
					</div>
					<br>
					<div class="col-sm-10">
						<input type="hidden" th:id="userId" th:name="userId" th:value="${session.userSession.userId}">
						<input type="text" class="form-control" placeholder="제목을 입력해주세요" th:id="postTitle"
							th:name="postTitle" required="required">
					</div>
				</div>

				<div class="form-group">
					<br>
					<!-- <label for="inp-type-5" class="col-sm-2 control-label">내용</label> -->

					<div class="col-sm-10">
						<input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}">
						<textarea name="postContent" class="form-control" id="ckcontents"
							required="required"></textarea>
					</div>

				</div>

				<!--코스 가져오기 모달 -> 모달에서 코스 선택하면 버튼 아래에 뜨게 하자! courseVo는 mypage 도메인 패키지 안에 있당. -->
				<div class=" form-group">
					<!-- <label for="inp-type-5" class="col-sm-2 control-label">코스 가져오기</label> -->
					<br>
					<div class="courseShow d-flex justify-content-center"></div>
					<br>
					<div class="col-sm-10" id="modalShow">
						<span>
							<a href="#modalBasic" id="courseBtn" data-bs-toggle="modal" aria-expanded="false"
								class="courseBtn btn btn-outline-danger mb-2 me-1">내 코스 가져오기</a>
						</span>
					</div>

					<br>
				</div>



			</form>

			<!--입력 완료 모달-->
			<!-- <div class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
				<div aria-labelledby="swal2-title" aria-describedby="swal2-html-container" class="swal2-popup swal2-modal swal2-icon-success swal2-show" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: grid;"><button type="button" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
					<ul class="swal2-progress-steps" style="display: none;"></ul>
					<div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;">
						<div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
					  	<span class="swal2-success-line-tip"></span>
					   <span class="swal2-success-line-long"></span>
					  <div class="swal2-success-ring"></div> 
					  <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
					  <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
					</div>
					<img class="swal2-image" style="display: none;">
					<h2 class="swal2-title" id="swal2-title" style="display: block;">성공!</h2>
					<div class="swal2-html-container" id="swal2-html-container" style="display: block;">글 등록이 완료되었습니다!</div>
					<input class="swal2-input" style="display: none;">
					<input type="file" class="swal2-file" style="display: none;">
					<div class="swal2-range" style="display: none;"><input type="range">
						<output></output>
					</div>
					<select class="swal2-select" style="display: none;"></select>
					<div class="swal2-radio" style="display: none;"></div>
					<label for="swal2-checkbox" class="swal2-checkbox" style="display: none;">
						<input type="checkbox">
						<span class="swal2-label"></span>
					</label>
					<textarea class="swal2-textarea" style="display: none;"></textarea>
					<div class="swal2-validation-message" id="swal2-validation-message" style="display: none;"></div>
					<div class="swal2-actions" style="display: flex;"><div class="swal2-loader"></div>
					<button type="button" class="swal2-confirm swal2-styled" aria-label="" style="display: inline-block;">OK</button>
					<button type="button" class="swal2-deny swal2-styled" aria-label="" style="display: none;">No</button>
					<button type="button" class="swal2-cancel swal2-styled" aria-label="" style="display: none;">Cancel</button>
				</div>
				<div class="swal2-footer" style="display: none;"></div>
				<div class="swal2-timer-progress-bar-container">
					<div class="swal2-timer-progress-bar" style="display: none;"></div>
				</div>
			</div>
		</div> -->


			<!-- 코스 가져오기 모달 -->
			<!--Modal basic-->
			<div class="modal fade" id="modalBasic" tabindex="-1" aria-labelledby="modalBasicLabel" aria-hidden="true">
				<div class="modal-dialog" style="max-width: 60%; width: 50%; display: table;">
					<div class="modal-content border-0">
						<div class="modal-header border-0 bg-gradient-tint justify-content-center">
							<h5 class="modal-title fs-3">내 코스 가져오기</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
								<i class="bi bi-x fs-5 lh-1"></i>
							</button>
						</div>

						<div class="modal-body py-5 border-0 " id="modalBody">
							<!--선택 되어있을 때-->
							<div class="justify-content-between courseWrap1 d-none">코스는 한 번에 <mark>하나만</mark> 입력할 수 있어요!
								<br> 삭제하고 다시
								선택하시겠어요?</div>
							<!-- <section class="min-height-100">
								<div class="container py-7 py-lg-12"> -->
							<div class="row courseNo">
								<!--저장된 코스 없는 사람일때-->
								<div th:if="${#lists.isEmpty( list )}" >
											아직 생성한 코스가 없어요~
										</div>
										<div class="col-md-5 col-lg-5 mb-5 mb-md-0">
											<div class="nav nav-indicator nav-indicator-dark d-flex flex-md-column  me-md-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
												<th:block th:if="${not #lists.isEmpty( list )}" th:each="row : ${list}">
													<a class="nav-link px-4 py-3 mb-md-3" th:href="|#course-${row.courseId}|" data-bs-toggle="pill" th:data-bs-target="|#course-${row.courseId}|" role="tab" th:aria-controls="|course-${row.courseId}|" aria-selected="false">
														<h5 class="text-reset fs-4" th:text="${row.courseName}"></h5>
														<span th:text="${row.region}"></span>
													</a>
												</th:block>
												<span class="nav-indicator-bg bg-gradient-tint rounded-3 position-absolute d-block" style="width: 200px; height: 90px; left: 85px; top: 3002px;"></span>
											</div>
										</div>

										<div class="col-md-7">
											<div class="tab-content card-hover" id="tab-panel" width="100%">
												<th:block th:if="${not #lists.isEmpty( list )}" th:each="row : ${list}">
													<div class="tab-pane fade card-body" th:id="|course-${row.courseId}|" role="tabpanel" th:aria-labelledby="|course-${row.courseId}-tab|">
														<th:block th:each="place : ${places}">
															<th:block th:if="${place.courseId} == ${row.courseId}">
																<div class="d-block position-relative overflow-hidden mb-2">
																	<img th:src="${place.thumbnailHref}" alt="" class="img-fluid rounded img-zoom  w-md-50 mb-4">
																	<p class="mb-2 w-md-75 lead fs-3 text-secondary"  th:text="${place.placeName}"></p>
																	<p class="mb-3 w-md-75 lead text-muted" th:text="${place.description}"></p>
																</div>
																<hr class="m-3">
									
															</th:block>
														</th:block>
														<a href="#!" th:id="|courseInsertBtn${row.courseId}|" style="color: #e45858;" class="text-dark fw-semibold link-hover-underline fs-4" th:data-id="${row.courseId}" th:data-name="${row.courseName}">이 코스 추천하기
															<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right ms-1" viewBox="0 0 16 16">
																<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
															</svg>
														</a>
													</div>
												</th:block>
											</div>
										</div>
									</div>
								<!--</div>
							 </section> -->
							</div>
                            <div class="modal-footer bg-gradient-tint border-0">
                                <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">닫기</button>
                                <!-- <button type="submit" class="btn btn-primary btn-sm" id="courseInsertBtn">입력하기</button> -->
                            </div>
                    </div>
                </div>
			

		</div>
	</div>
	<!-- /.card-content -->

</th:block>
<th:block layout:fragment="script">
	<script src="/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" th:inline="javascript">

		/*<![CDATA[*/
		$(function () {
			//swarl
			$('#btnSave').on("click", function(e){
				e.preventDefault();
				swal('게시글 등록 성공!', "", "success",
				{button : {text : "확인",className : "btn btn-primary"}
				})
				.then(()=>{
					$(e.target).closest('form').submit();
				});
			})




			console.log($('.tab-pane'));
			//모달만 스크롤하기 
			$('head').append('<style type="text/css">.modal .modal-body {max-height: ' + ($('body').height() * .7) + 'px;overflow-y: auto;}.modal-open .modal{overflow-y: hidden !important;}</style>');

			CKEDITOR.replace('ckcontents', {
				uploadUrl: '/post/ckeditor/fileUpload',
				filebrowserUploadUrl: '/post/ckeditor/fileUpload',
				font_names: "맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana",
				font_defaultLabel: "맑은 고딕/Malgun Gothic",
				fontSize_defaultLabel: "12",
				// skin : "office2013", 
				language: "ko"
			});
			// ... 


			let userId = userSession.userId;
			const courseBtn = $('#courseBtn');
			let arr = [];
			
			$('.tab-pane a').on('click', function(e){
				let courseSelect = e.target;
				console.log(courseSelect);
				showTitle($(courseSelect).attr('data-id'), $(courseSelect).attr('data-name'));
			});
			//이 코스 추천하기 버튼 누르면 function showTitle로~
			// courseSelect.on("click", showTitle);

			// 버튼 클릭 if문 넣어주기
			//if "${'.courseShow'} == null"
		/* 		 		<span>
							<a href="#modalBasic"  id="courseBtn" data-bs-toggle="modal" aria-expanded="false" class="courseBtn btn btn-primary">내 코스 가져오기</a>
						</span>

						<!--show title에 값이 있으면 alert!-->
			 		<span th:if="${'.courseShow'} != null">

							<a href="#alertModal"  id="courseBtn" data-bs-toggle="modal" aria-expanded="false" class="courseBtn btn btn-primary">내 코스 가져오기</a>
						</span>  */


		/* 	let modalShow = $('#modalShow');
			let modalBasicShow = $('<a />').addClass("courseBtn btn btn-primary")
								.attr({"id":"courseBtn"})
								.text("내 코스 가져오기")

			let alertModalShow = $('<a />').addClass("courseBtn1 btn btn-primary")
								.attr({"id":"courseBtn"})
								.text("내 코스 가져오기")
			 */
			//코스 선택된게 없을 때
		/* 	if($('.courseShow').html()==""){
				modalShow.append(modalBasicShow)
			}else{//코스 선택 되었을 때
				modalShow.append(alertModalShow)
			}
 */
			//모달 띄울 때 쓸 ajax~!
			$(courseBtn).on('click', function () {
				data =  userId
				console.log(data);
				getCourse(data);
				
			})
			
		/* 	modalBasicShow.on("click", function(){
				$('#modalBasic').modal("show");
				data =  userId
				getCourse(data);
			});
			alertModalShow.on("click", function(){
				$('#alertModal').modal("show");
				console.log('열려라!')
			})
 */
		});
		// ... 
		function saveGallery() {
			if (!confirm("저장하시겠습니까?")) {
				return;
			}
			var formData = new FormData($("form")[0]);
			formData.append("deleteFiles", deleteFileList);
			formData.set("contents", CKEDITOR.instances.contents.getData());
			for (var i = 0; i < inputFileList.length; i++) {
				if (!inputFileList[i].is_delete) {
					formData.append("files", inputFileList[i]);
				}
			}
			for (var pair of formData.entries()) {
				console.log(pair[0] + ', ' + pair[1]);
			}
			$.ajax({
				type: "POST",
				enctype: "multipart/form-data",
				url: "/gallery",
				data: formData,
				dataType: "json",
				processData: false,
				contentType: false,
				success: function (result) {
					if (result.response == "OK") {
						if ($("#id").val() == undefined) {
							alert("저장되었습니다.");
						} else {
							alert("수정되었습니다.");
						}
						location.href = "/gallery/" + result.galleryId;
					} else {
						alert(result.errorMsg);
					}
				},
			});
		}
		/*]]>*/



		function getCourse(data) {

			if($('.courseShow').html()==''){
				//선택된게 없을 때
				$.ajax({
					url: "/post/getMyCourse?userId="+data,
					method: "get",
					// data: data,
					contentType: 'application/json;charset="utf-8"',
					success: function (result) {
						console.log(result);
						getCourseCallback(result);
					},
					error: function (err) {
						console.log(err);
					}
				})
			}else{
				getAlert();
			}

		}


		//선택되어있을 경우 경고창!
		function getAlert(){
			$('.courseNo').addClass("d-none");
			$(".courseWrap1").removeClass("d-none")
			
		
		}

		//https://bootstraplovers.com/assan/4.3/demo/src/component-tabbbed-content.html 이거 맨 밑에꺼 써보기~
		//내 코스 모달에 for문 돌려 넣어주기
		// function getCourseCallback(result) {
		// 	$('#modalBody').empty();
		// 	let courseWrap = $("<div />").addClass(" justify-content-between courseWrap");
		// 	for (let i of result){
		// 		let courseDiv = $('<div />').addClass("d-flex justify-content-between px-3 py-4 border rounded border-end col-lg-10").attr({'data-name': i.courseName, 'data-id':i.courseId});
		// 		let courseImg = $('<div />').addClass("d-flex justify-content-between courseImg col-3");
		// 		let img =$('<img />').addClass("courseImg")
		// 							.attr({
		// 								src: "/img/user/"+i.thumbnailHref,
		// 								alt:"코스 이미지",
		// 								id:"courseImg"
		// 							})
		// 		$('.courseImg').append(img);

		// 		let courseContent = $('<div />').addClass("d-flex justify-content-between courseContent col-9");
		// 		//코스제목, 내용, region, 평균비용 넣기
		// 		let courseName = $('<div />').addClass('courseName')
		// 									.text(i.courseName)
		// 		let courseAvg = $('<div />').addClass('courseAvg')
		// 									.text(i.avgCost)
		// 		let courseRegion = $('<div />').addClass('courseRegion')
		// 										.text(i.region)
											
		// 		let cBtn = $('<button />').addClass('cBtn btn btn-primary btn-sm')
		// 								.attr("data-id", i.courseId)
		// 		$(courseContent).append(courseName,courseAvg);
		// 	    $(courseDiv).append(courseImg, courseContent);
		// 		$(courseDiv).click(showTitle);
		// 		$(courseWrap).append(courseDiv);
		// 	}
		
		
		// 	$('#modalBody').append(courseWrap);
		// }

		//click하면 모달 없어지고 버튼 아래에 선택한 코스 제목 들어감.
		function showTitle(id, name){
			$('#modalBasic').modal("hide");
			
			let showTitle = $('<div />').addClass('showTitle fs-4').text("선택하신 코스: "+name);
			let closeBtn = $('<button />').addClass("btn-close")
										  .attr({'type':'button'},{"data-bs-dismiss":"toast"},{"aria-label":"Close"})
										  .on("click", function(){
											  deleteCourse();
										  });
			let icon = $('<i />').addClass("bi bi-x");
			closeBtn.append(icon);
			let hideId = $('<input />').attr({type:"hidden", name: 'courseId'}).val(id)
			$('.courseShow').append(showTitle,closeBtn, hideId);
		}


		function deleteCourse(){
			$('.courseShow').empty();
			$('.courseNo').removeClass("d-none");
			$(".courseWrap1").addClass("d-none")
		}
	</script>

</th:block>

</html>