<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
<th:block layout:fragment="css">
   <style>
      .container {
         background-color: white;
      }

      #profileImg {
         width: 2rem;
         height: 2rem;
      }

      li {
         list-style: none;
         padding-left: 0px;
      }
   </style>
</th:block>
<th:block layout:fragment="content">
   <!-- 여기에 body에 들어갈 내용을 적어주세요 -->
   <div class="container">
      <section class="position-relative bg-tint-primary overflow-hidden p-5">
         <div class="col-lg-8 col-xl-7 mx-auto text-center">
            <br><br><br><br>
            <h2 class=" display-6 aos-init aos-animate" data-aos="fade-down" data-aos-delay="100" th:text="${list.postTitle}"></h2>
         </div>
   
         <!-- <div id="userCheck" class="row mt-3 d-flex justify-content-end"> -->
            <div id="userCheck" class="row">
               <div class="col-lg-9"></div>
               <div class="col-lg-1 d-flex">
                  <form action="/post/updateCommunity" method="get">
                     <input type="hidden" name="postId" id="postId" th:value="${list.postId}">
                     <button id="btnUpdate" class="btn btn-primary btn-sm mr-1">수정하기</button>
                  </form>
               </div>
               <div class="col-lg-1 d-flex">
                  <div width="5px"></div>
                  <!--삭제시 모달-->
                  <button id="btnDelete" class="btn btn-danger btn-sm ml-1" data-toggle="modal" data-target="#deleteModal">
                     삭제하기
                  </button>
               </div>
               <div class="col-lg-1"></div>
            </div>
    
         <hr>
         <div class="d-flex mb-0 small align-items-center">
            <img th:src="@{|/img/user/${list.imgUrl}|}" alt="사진" class="size-40 rounded-circle me-2" >
            <span class="text-muted d-inline-block">By <a href="#!" class="text-dark" th:text="${list.nickname} "></a></span>
            <span class="text-muted d-inline-block">  &nbsp; |&nbsp; Hit <a href="#!" class="text-dark" th:text="  | ${list.hit}"></a></span>
        </div>

         <br>
        <section class="overflow-hidden">  
            <div class="form-group container order-lg-last pb-7 pb-lg-12 position-relative ">
               <div class="justify-content-between align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                  <!--코스 여기-->
                  <th:block th:if='${course} != null'>
                  
                     <br>
                     <div id="map" style="width:100%;height:400px;"></div>
                     <br>
                     <div th:utext="|코스이름: ${course[0].courseName}, 지역: ${course[0].region}|"> </div>
                     
                     <div class="container py-7 py-lg-12">
                        <div class="accordion accordion-custom" id="accordionCustomExample">
                           <!--accordion item-->
                           <div th:each="c : ${course}" class="d-flex justify-content-between">
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="headingCustomOne">
                                    <button class="accordion-button collapsed" th:text="${c.placeName}" type="button"
                                       data-bs-toggle="collapse" th:data-bs-target="|#${c.placeName}|"
                                       aria-expanded="false" aria-controls="collapseCustomOne">

                                    </button>
                                 </h2>
                                 <div th:id="${c.placeName}" class="accordion-collapse collapse"
                                    aria-labelledby="headingCustomOne" data-bs-parent="#accordionCustomExample"
                                    style="">
                                    <div class="accordion-body">
                                       <strong th:text="${c.avgCost}">.</strong>
                                       <p th:text="${c.address}"></p>
                                       <img th:src="${c.thumbnailHref}" alt="">
                                    </div>
                                 </div>
                              </div>
                           </div>

                        </div>
                        <!-- <div th:each="c : ${course}" class="d-flex justify-content-between">
                           <div th:text="${c.placeName}"></div>
                           <div th:text="${c.avgCost}"></div>
                           <img th:src="${c.thumbnailHref}" alt="코스 사진">
                           <br>
                        </div> -->
                     </div>
                     <br>
                  </th:block>
                  <hr>
                  <!-- 글 내용 here-->
                  <th:block th:utext="${list.postContent}" class="mx-auto text-center"></th:block>
                  <!-- <textarea name="postContent" class="form-control" id="ckcontents" th:text="${list.postContent}" disabled></textarea> -->
               </div>
            </div>
         </section> 
         <br>
         <hr>
         <br>
   
         <!--댓글 템플릿-->
         <!--댓글 수 조회하는 쿼리만들어서 넣어주기-->
         <h4 class="mb-5" id="commentCount" ></h4>
         <ul class="list-unstyled mb-5 mb-lg-10" id="commentsBody">
            <li th:each="list : ${cmt}" class="d-flex mb-3 justify-content-between commentWrap">
               <div class="row d-flex col-lg-12">
                  <div class="px-3 py-4 border rounded border-end col-lg-10">
	                  <div class="me-3 col-lg-2">
	                      <img th:src="@{|/img/user/${list.imgUrl}|}" alt="이미지" id="profileImg" class="size-50 rounded-circle">
	                  </div>
                      <div class="d-flex mb-3 justify-content-between">
                          <div class="d-flex align-items-center">
                              <h6 class="mb-0 me-3" th:text="${list.nickname}"></h6>
                              <small class="text-muted" th:text="${#dates.format(list.comCreated,'yyyy.MM.dd.')}"></small>
                          </div>
                          <div th:if="${session.userSession.userId} == ${list.userId}">
                             <div>
                                <!-- <input type="hidden" th:name="commentId" th:value="${list.commentId}"> -->
                                <button type="button" class="cmtUpdBtn btn btn-primary btn-sm"
                                   th:data-content="${list.comContent}" th:data-commnetId="${list.commentId}"
                                   data-toggle="modal" data-target="#comUpdateModal">
                                   <i class="far fa-edit"></i>수정하기</button>
                                <!--삭제시 alert-->
                                <button type="button" class="cmtDelBtn btn btn-danger btn-sm" th:data-cId="${list.commentId}">
                                   <i class="far fa-trash-alt"></i>삭제하기</button>
                             </div>
                          </div>
                      </div>
                      <p class="mb-0" th:id="${list.commentId}" th:text="${list.comContent}">
                      </p>
                  </div>
               </div>
            </li>
        </ul>
   
   
         <!--댓글 넣기-->
         <!-- 댓글조회 -->
         
         <!-- 댓글 입력 -->
         <h4 class="mb-4">Post a comment</h4>
            <form>
               <div class="mb-3">
                  <!--${session.userSession.imgUrl}로 만들어주셔여-->
                  <img class="rounded-circle" th:src="@{|/img/africa.png|}" style="width: 2.5rem; height:2.5rem;">
                  <span class="pl-3" style="font-size: 1.6rem;" th:text="${session.userSession.nickname}"></span>
               </div>
               <div class="mb-3">
                   <textarea class="form-control" id="cmtContent" th:name="comContent" rows="10" placeholder="Comment"></textarea>
               </div>
               <div class="d-flex align-items-center justify-content-between">
                  <button type="button" class="cmtInsBtn btn btn-danger btn-hover-arrow btn-sm mb-1" style="float:right;">
                     댓글 등록
                  </button>
               </div>
           </form>
         <hr>
         <br>
         <!--로그인 한 사람, 글 주인 아닌 사람만 좋아요 버튼 넣기~ -->
         <li th:if="${session.userSession.userId} !=null">
            <div th:if="${session.userSession.userId} != ${list.userId}">
            <div class="row mt-3 d-flex justify-content-center">
              
               <div class="col-auto">
                  <button type="submit" name="submit" id="likeBtn" class="likeBtn rounded-pill btn btn-rise btn-outline-danger m-2"
                     th:classappend="${like} == 1 ? d-none" data-toggle="modal" data-target="#likeModal">
                     <div class="btn-rise-bg bg-danger"></div>
                     <div class="btn-rise-text">좋아요</div>
                  </button>
               </div>
   
               <div class="col-auto">
                  <button type="submit" name="submit" id="likeCancelBtn" class="likeCancelBtn btn btn-primary"
                     th:classappend="${like} == 0 ? d-none" data-toggle="modal" data-target="#likeCancelModal">좋아요
                     취소</button>
               </div>
   
               <!-- 로그인되어 있으면서 코스가 있는 경우에만 코스 스크랩하기 버튼 나오게!-->
               <!-- th:clasappend 이용!-->
               <th:block th:if="${course} != null">
   
                  <div class="col-auto">
                     <button type="submit" name="submit" id="scrapBtn" class="scrapBtn rounded-pill btn btn-rise btn-outline-danger m-2"
                        th:classappend="${scrap} == 1 ? d-none" data-toggle="modal" data-target="#scrapModal">
                        <div class="btn-rise-bg bg-danger"></div>
                        <div class="btn-rise-text">코스 스크랩</div>
                     </button>
                  </div>
   
                  <div class="col-auto">
                     <button type="submit" name="submit" id="scrapCancelBtn" class="scrapCancelBtn btn btn-primary"
                        th:classappend="${scrap} == 0 ? d-none" data-toggle="modal" data-target="#scrapCancelModal">코스 스크랩
                        취소</button>
                  </div>
   
               </th:block>
   
            </div>
         </div>   
         </li>
         <br>
   
   
      </div>
      </section>

   <!-- 코스 스크랩하기 모달 -->
   <div class="modal fade " id="scrapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">스크랩 성공!</h4>
               <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
                  <i class="bi bi-x"></i>
               </button>
            </div>
            <div class="modal-body">
               <h6>스크랩 성공!!</h6>
               <h6>마이페이지 나의 코스에서 확인 할 수 있어요</h6>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary likeChk" data-dismiss="modal">확인</button>

            </div>
         </div>
      </div>
   </div>
   <!-- 코스 스크랩 취소하기 모달 -->
   <div class="modal fade " id="scrapCancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">스크랩 취소</h4>
               <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
                  <i class="bi bi-x"></i>
               </button>
            </div>
            <div class="modal-body">
               <h6>스크랩 취소 성공!!</h6>
               <h6>스크랩 취소에 성공했습니다. </h6>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary likeChk" data-dismiss="modal">확인</button>

            </div>
         </div>
      </div>
   </div>

   <!-- 좋아요 모달 -->
   <div class="modal fade " id="likeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">좋아요 성공!</h4>
               <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
                  <i class="bi bi-x"></i>
               </button>


            </div>
            <div class="modal-body">
               <h6>좋아요 눌렀어요!</h6>
               <h6>마이페이지 나의 스크랩에서 확인 할 수 있어요</h6>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary likeChk" data-dismiss="modal">확인</button>
            </div>
         </div>
      </div>
   </div>

   <!-- 좋아요 취소 모달 -->
   <div class="modal fade " id="likeCancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">좋아요 취소 성공!</h4>
               <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
                  <i class="bi bi-x"></i>
               </button>


            </div>
            <div class="modal-body">
               <h6>좋아요 취소 되었어요</h6>
               <h6>:(</h6>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary likeChk" data-dismiss="modal">확인</button>
            </div>
         </div>
      </div>
   </div>


   <!-- 글 삭제 확인 Modal -->
   <div class="modal fade " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">게시글 삭제하기</h4>
               <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
                  <i class="bi bi-x"></i>
               </button>
            </div>
            <div class="modal-body">
               <h6>정말 삭제 하시겠습니까?</h6>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default likeChk" data-dismiss="modal">취소</button>
            
                 
                  <button type="submit" class="btn btn-primary postDeleteBtn">삭제하기</button>
             
            </div>
         </div>
      </div>
   </div>

   <!--댓글 수정 확인 모달-->
   <div class="modal fade " id="comUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">댓글 수정하기</h4>
               <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
                  <i class="bi bi-x"></i>
               </button>
            </div>

            <div class="modal-body">
               <input type="hidden" id="modalCmtId">
               <textarea class="form-control" id="modalCmtContent" rows="3" th:name="modalCmtContent"
                  th:value="${modalCmtContent}"></textarea>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default likeChk" data-dismiss="modal">취소</button>
               <button type="submit" class="btn btn-primary" id="comUpdateBtn">수정하기</button>
            </div>

         </div>
      </div>
   </div>

</th:block>
<th:block layout:fragment="script">
   <script src="assets/js/theme.bundle.js"></script>
   <!--  <script src="/js/ckeditor/ckeditor.js"></script> -->
   <!-- 네이버 지도 -->
   <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=v1v61xter8">
   </script>

   <!-- js here -->
   <script type="text/javascript" th:inline="javascript">
      // ============ 페이지 로드 ==============
      $(function () {

         /*<![CDATA[*/
         const course = [[${course}]];
         /*]]>*/
         console.log(course);

         if (course != null) {
            let courseId = course[0].courseId;
            console.log('코스아이디' + courseId);
         }

         //댓글 갯수 뿌리기
          $('#commentCount').text("Comments("+[[${count}]]+")")

         //글 삭제 모달 띄우기!
         $('#btnDelete').on('click', function () {
            $('#deleteModal').modal('show');
            console.log("삭제모달나와라")
         })

         //글 삭제하기!
         const postDelete = $('.postDeleteBtn');
         postDelete.on("click", function(){
            postId = $('#postId').val();
            postDeletConfirm(postId);
            $('#deleteModal').modal('hide');
         });

         function postDeletConfirm(postId){
            console.log(postId);
            $.ajax({
            url: "/post/postDelete",
            method: "post",
            data: {postId : postId},
            success: function (result) {
               console.log(result);
               location.href ="/post/community_list"
            },
            error: function (err) {
               console.log(err);
            }
         })
         }

         let locations = [];
         let centerLat = 0;
         let centerLng = 0;
         let markers = new Array(); // 마커 담는 배열 
         let infoWindows = new Array(); //정보창을 담는 배열

         let highGap = 0;
		 let zoomNum = 0;
         
         //코스 있으면 네이버지도에서 해주기!
         if (course != null) {
            for (let item of course) {
               let info = {
                  place: item.placeName,
                  add : item.address,
                  lat: item.latitude,
                  lng: item.longtitude
               }
               locations.push(info);
               centerLat += parseFloat(item.latitude);
               centerLng += parseFloat(item.longtitude);
            }
            console.log(centerLat, centerLng);
            centerLat = centerLat / course.length;
            centerLng = centerLng / course.length;
            console.log(locations);
            console.log(centerLat, centerLng);
			
         	// 줌 계산
			
			if(course.length == 1) {
				zoomNum = 12;
			} else if (course.length == 2){
				let courseOne = {
					lat: parseFloat(course[0].latitude),
					lng: parseFloat(course[0].longtitude)
				};
				let courseTwo = {
					lat: parseFloat(course[1].latitude),
					lng: parseFloat(course[1].longtitude)
				};
				let resultCourse = {
					lat: courseOne.lat - courseTwo.lat,
					lng: courseOne.lng - courseTwo.lng
				}
				
				if(resultCourse.lat < 0) {
					resultCourse.lat = -(resultCourse.lat)
				}
				if(resultCourse.lng < 0) {
					resultCourse.lng = -(resultCourse.lng)
				}
				
				let result = Math.sqrt(
					Math.pow(resultCourse.lng, 2) + 
					Math.pow(resultCourse.lat, 2)
				)
				highGap = result;
				zoomNum = 12 - Math.round(highGap);
			} else {
				
				for(let i=0; i<course.length; i++) {
					for(let j=0; j<i; j++) {
						let courseOne = {
							lat: parseFloat(course[i].latitude),
							lng: parseFloat(course[i].longtitude)
						};
						let courseTwo = {
							lat: parseFloat(course[j].latitude),
							lng: parseFloat(course[j].longtitude)
						};
						let resultCourse = {
							lat: courseOne.lat - courseTwo.lat,
							lng: courseOne.lng - courseTwo.lng
						}
						
						if(resultCourse.lat < 0) {
							resultCourse.lat = -(resultCourse.lat)
						}
						if(resultCourse.lng < 0) {
							resultCourse.lng = -(resultCourse.lng)
						}
						
						let result = Math.sqrt(
							Math.pow(resultCourse.lng, 2) + 
							Math.pow(resultCourse.lat, 2)
						)
						
						if(highGap < result) {
							highGap = result;
							zoomNum = 12 - Math.ceil(highGap);
						}
					}
				}
			}
            
            var map = new naver.maps.Map('map', {
               center: new naver.maps.LatLng(centerLat, centerLng),
               zoom: zoomNum
            });


            var markerOptions = {
               map: map,
               icon: {
                  url: "https://img.icons8.com/plasticine/100/000000/marker.png",
                  size: new naver.maps.Size(50, 52),
                  origin: new naver.maps.Point(0, 0),
                  anchor: new naver.maps.Point(25, 26)
               }
            };

            for (var i = 0; i < locations.length; i++) {
               console.log();
               var marker = new naver.maps.Marker({
                  map: map,
                  title: locations[i].place,
                  position: new naver.maps.LatLng(locations[i].lat, locations[i].lng),
                  icon: {
                     url: "https://img.icons8.com/officel/32/000000/place-marker--v2.png",
                     size: new naver.maps.Size(50, 52),
                     origin: new naver.maps.Point(0, 0),
                     anchor: new naver.maps.Point(25, 26)
                  }
               });

               // <div class="mapboxgl-popup mapboxgl-popup-anchor-bottom" style="max-width: 240px; transform: translate(-50%, -100%) translate(368px, 157px);">
               //    <div class="mapboxgl-popup-tip"></div>
               //    <div class="mapboxgl-popup-content">
               //       <h6 class="text-primary mb-0 fw-normal">Our office</h6>
               //       <small class="text-muted">CreativeDM, SE-03, Vidhyadhar Nagar, Jaipur, 302012</small>
               //       <button class="mapboxgl-popup-close-button" type="button" aria-label="Close popup">×</button>
               //       </div>
               //       </div>
               //정보창
               var infoWindow = new naver.maps.InfoWindow({
                  content: '<div class="mapboxgl-popup mapboxgl-popup-anchor-bottom" style="max-width: 240px; "><div class="mapboxgl-popup-tip"></div><div class="mapboxgl-popup-content">'
                	  + '<small class="text-secondary"> ['+ i+' 번째 장소]'
                	  +'<br><h5 class="text-primary mb-0 fw-normal"><b>' 
                     + locations[i].place + 
                     '</b></h5><small class="text-muted">'+ locations[i].add 
                     +'</small></div></div>'
               });
               // <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
               //    <i class="bi bi-x"></i>
               // </button>
               markers.push(marker); //생성한 마커를 담는다
               infoWindows.push(infoWindow); //생성한 정보창을 담는다.
               $('#popUpBtn').on("click",popUpClose);
            }
			
            function popUpClose(){
            	$(".mapboxgl-popup").close();
            }
            
            function getClickHandler(seq) {

               return function (e) { //마커를 클릭하는 부분
                  var marker = markers[seq],
                     infoWindow = infoWindows[seq];

                  if (infoWindow.getMap()) {
                     infoWindow.close();
                  } else {
                     infoWindow.open(map, marker); //표출
                  }

               }
            }

            for (var i = 0, ii = markers.length; i < ii; i++) {
               naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
               naver.maps.Event.addListener($(".mapboxgl-popup mapboxgl-popup-anchor-bottom").find('.bi bi-x').eq(i), 'click', getClickHandler(i));
            }


         }




         // ======= 댓글 처리 =========
         let cmtId = null; // 댓글 sequenceId
         let postId = null; // 게시글 sequenceId
         let userId = userSession == null ? "" : userSession.userId;
         /*<![CDATA[*/
         let postUserId = [[${list.userId}]];
         /*]]*/
         console.log(postUserId);
         let comContent = null; // 댓글 내용

         const cmtDelBtn = $('.cmtDelBtn'); //댓글 삭제 버튼(여러 개가 선택)
         const cmtUpdBtn = $('.cmtUpdBtn'); // 댓글 수정 버튼(여러 개가 선택)
         const comUpdateBtn = $('#comUpdateBtn'); //모달안에 수정버튼
         const cmtInsBtn = $('.cmtInsBtn'); // 댓글 입력 버튼

         const likeBtn = $('#likeBtn'); //좋아요 버튼
         const scrapBtn = $('#scrapBtn'); //스크랩 버튼
         const likeCancelBtn = $('#likeCancelBtn'); //좋아요 취소 버튼
         const scrapCancelBtn = $('#scrapCancelBtn'); //스크랩 취소 버튼

         const userCheck = $('#userCheck'); // 작성자와 로그인 유저가 같을

         // userId != postUserId => $('#userCheck').hide()
         console.log(userCheck);
         if (userId != postUserId || userId == "") {
            $(userCheck).removeClass('d-flex');
            $(userCheck).addClass('d-none');
         }

         const modalCmtContent = $('#modalCmtContent');
         const modalCmtId = $('#modalCmtId');
         console.log(cmtInsBtn);


         //좋아요 모달 닫기
         const closeBtn = $('.btn-close');
         const closeChk = $('.likeChk');
         closeBtn.on("click", function () {
            $('#likeModal').modal("hide");
            $('#likeCancelModal').modal('hide');
            $('#scrapModal').modal('hide');
            $('#scrapCancelModal').modal('hide');
            $('#comUpdateModal').modal('hide');
            $('#deleteModal').modal('hide');

         })
         closeChk.on("click", function () {
            $('#likeModal').modal("hide");
            $('#likeCancelModal').modal('hide');
            $('#scrapModal').modal('hide');
            $('#scrapCancelModal').modal('hide');
            $('#comUpdateModal').modal('hide');
            $('#deleteModal').modal('hide');
         })


         //스크랩 모달 닫기 
         const scrapClose = $('.cCloseBtn');
         const scrapChk = $('.scrapChk');
         scrapClose.on("click", function () {
            $('#scrapModal').modal("hide");
         })
         scrapChk.on("click", function () {
            $('#scrapModal').modal("hide");
         })


         // 댓글 삭제
         for (let d of cmtDelBtn) {
            $(d).on('click', function () {
               cmtId = $(d).attr('data-cId');
               confirmDel(cmtId);
            })
         }
         // 댓글 수정
         for (let d of cmtUpdBtn) {
            $(d).on('click', function () {
               comContent = $(d).attr('data-content');
               cmtId = $(d).attr('data-commnetId');
               console.log(comContent);
               $(modalCmtContent).val(comContent);
               $(modalCmtId).val(cmtId);
               $('#comUpdateModal').modal('show');

            })
         }

         //모달 안의 수정버튼 클릭 이벤트
         $(comUpdateBtn).on('click', function () {
            confirmUpdate($(modalCmtId).val(), $(modalCmtContent).val());
         })

         // 댓글 입력
         $(cmtInsBtn).on('click', function () {
            postId = $('#postId').val();
            comContent = $('#cmtContent').val();
            data = {
               postId: postId,
               userId: userId,
               comContent: comContent,
               postUserId : postUserId
            }
            console.log(data);
            confirmIns(data);
         })

         //좋아요
         $(likeBtn).on('click', function () {
            postId = $('#postId').val();
            data = {
               postId: postId,
               userId: userId
            }
            console.log(data);
            likePost(data);
            //좋아요 했어요 모달로!
            $('#likeModal').modal('show');
            //좋아요 취소하기 버튼으로 바꾸기
            //좋아요 취소하기 버튼 d-none클래스를 remove
            $('#likeCancelBtn').removeClass("d-none");
            //좋아요 버튼 d-none클래스를 add
            $('#likeBtn').addClass("d-none");
         })

         //스크랩하기 버튼을 눌렀을 때
         $(scrapBtn).on('click', function () {
            let courseId = course[0].courseId;
            console.log("스크랩 코스 아이디" + courseId)
            data = {
               courseId: courseId,
               userId: userId
            }
            console.log(data);
            scrapCourse(data);


            $('#scrapModal').modal('show');
            //좋아요 취소하기 버튼으로 바꾸기
            //좋아요 취소하기 버튼 d-none클래스를 remove
            $('#scrapCancelBtn').removeClass("d-none");
            //좋아요 버튼 d-none클래스를 add
            $('#scrapBtn').addClass("d-none");
         })

         //좋아요 취소하기 
         $(likeCancelBtn).on('click', function () {
            postId = $('#postId').val();
            data = {
               postId: postId,
               userId: userId
            }
            likeCancelPost(data);
            //좋아요 했어요 모달로!
            $('#likeCancelModal').modal('show');
            //좋아요 취소하기 버튼으로 바꾸기
            //좋아요 취소하기 버튼 d-none클래스를 remove
            $('#likeBtn').removeClass("d-none");
            //좋아요 버튼 d-none클래스를 add
            $('#likeCancelBtn').addClass("d-none");
         })
         //스크랩 취소하기
         $(scrapCancelBtn).on('click', function () {
            let courseId = course[0].courseId;
            data = {
               courseId: courseId,
               userId: userId
            }
            scrapCancel(data);
            // 모달 띄우기!
            $('#scrapCancelModal').modal('show');
            //스크랩하기 버튼 d-none클래스를 remove
            $('#scrapBtn').removeClass("d-none");
            //스크랩 취소 버튼 d-none클래스를 add
            $('#scrapCancelBtn').addClass("d-none");
         })


      });

      //스크랩하기 취소하기 
      function scrapCancel(courseId, userId) {
         $.ajax({
            url: "/post/scrapCourseCancel",
            method: "delete",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset="utf-8"',
            success: function (result) {
               console.log(result);
            },
            error: function (err) {
               console.log(err);
            }
         })
      }

      //좋아요 취소하기
      function likeCancelPost(postId, userId) {
         $.ajax({
            url: "/post/postLikeCancel",
            method: "delete",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset="utf-8"',
            success: function (result) {
               console.log(result);
            },
            error: function (err) {
               console.log(err);
            }
         })
      }

      //스크랩하기
      function scrapCourse(courseId, userId) {
         $.ajax({
            url: "/post/scrapCourse",
            method: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset="utf-8"',
            success: function (result) {
               console.log(result);
            },
            error: function (err) {
               console.log(err);
            }
         })
      }

      //좋아요 하기
      function likePost(postId, userId) {
         $.ajax({
            url: "/post/postLike",
            method: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset="utf-8"',
            success: function (result) {
               console.log(result);
            },
            error: function (err) {
               console.log(err);
            }
         })

      }
      //모달의 수정 버튼을 눌렀을 때
      function confirmUpdate(cmtId, comContent) {
         $.ajax({
            url: '/post/commentUpdate',
            type: 'put',
            data: JSON.stringify({
               commentId: cmtId,
               comContent: comContent
            }),
            dataType: "json",
            contentType: "application/json;charset='utf-8'",
            success: function (data) {
               closeModal(data);
            },
            error: function (error) {
               console.log(error);
            }
         });
      }

      //모달 닫고 업데이트!
      function closeModal(data) {
         $(comUpdateModal).modal('hide');
         $(".commentWrap").find("#" + data.commentId).html(data.comContent)
      }

      // 댓글 삭제
      function confirmDel(cmtId) {
         const comment = $('[data-cId="' + cmtId + '"]').closest(".commentWrap");
         if (confirm('정말 삭제하시겠습니까?')) {
            $.ajax({
               url: '/post/delCMComment/' + cmtId,
               type: 'delete',
               success: function () {
                  $(comment).remove();
                  alert('삭제되었습니다!!');
               }
            });
         }
      }

      // 댓글 입력
      function confirmIns(data) {
         $.ajax({
            url: "/post/insertCMComment",
            method: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset="utf-8"',
            success: function (result) {
               console.log(result);
               insertCallback(result);
               //내용입력후 textarea 지워주기~
               document.getElementById("cmtContent").value='';
            },
            error: function (err) {
               console.log(err);
            }
         })
      }

      function insertCallback(result) {
         let commentWrap = $("<div />")
            .addClass("row d-flex col-lg-12 commentWrap");
         let Wrap = $("<div />")
         	.addClass("px-3 py-4 border rounded border-end col-lg-10");
         let imgDiv = $('<div />').addClass("me-3 col-lg-2");
         let btnName = $('<div />').addClass("d-flex mb-3 justify-content-between");
         let profileImg = $("<img />")
            .addClass("size-50 arounded-circle")
            .attr({
               src: result.imgId,
               alt: "이미지",
               id: "profileImg"
            });
        
         let nickname = $("<span />").addClass("pl-2").text(  result.nickname);
         let comContent = $("<span />").addClass("pl-2").attr("id", result.commentId).text(result.comContent);
		 
         let btnWrap = $("<div />")
         let updBtn = $("<button />")
            .addClass("cmtUpdBtn1 btn btn-primary btn-sm")
            .attr("data-content", result.comContent)
            .attr("data-commentId", result.commentId)
            .attr("data-toggle", "modal")
            .attr("data-target", "#comUpdateModal")
            .click(function () {
               console.log("comContent" + result.comContent);
               console.log("commentId" + result.commentId);
               $(modalCmtContent).val(result.comContent);
               $(modalCmtId).val(result.commentId);
               $('#comUpdateModal').modal('show');
            });

         let upIcon = $("<i />").addClass("far fa-edit").text("수정하기");

         $(updBtn).append(upIcon);

         let delBtn = $("<button />")
            .addClass("cmtDelBtn1 btn btn-danger btn-sm")
            .attr("data-cId", result.commentId)
            .click(function () {
               confirmDel(result.commentId);
            });



         let delIcon = $("<i />").addClass("far fa-trash-alt").text("삭제하기");
         $(delBtn).append(delIcon);

         $(btnWrap).append(updBtn, delBtn);
         $(imgDiv).append(profileImg,nickname );
         $(btnName).append(nickname,btnWrap)
         $(Wrap).append(imgDiv,btnName, comContent)
         $(commentWrap).append(Wrap);
         $("#commentsBody").append(commentWrap);

         //댓글 수 바꾸기
         $('#commentCount').text("Comments("+[[${count}+1]]+")")
      }

      //마커의 지역 담기
      /*     function initMap(){
              var areaArr = new Array(); //지역 담을 배열
              areaArr.push(
                  for(let loc of '${course}'){
                      {location: "${loc.region}", lat : "${loc.latitude}", lng : "${loc.longtitude}"}
                  }
              );
          }
           */

          
   </script>




</th:block>

</html>