<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.meetme.notice.mapper.NoticeMapper">

<select id="getNoticeList" resultType="NoticeVO">
	SELECT *
	FROM NOTIFICATION
	WHERE USER_RECEIVED = #{userReceived}
	ORDER BY notice_date DESC
</select>

<select id="coupleRequest" resultType="NoticeVO">
	SELECT *
	FROM NOTIFICATION
	WHERE USER_RECEIVED = #{userReceived}
	AND POST_ID IS NULL
	ORDER BY NOTICE_DATE DESC
</select>

<delete id="deleteNotice" parameterType="NoticeVO">
  DELETE
  FROM NOTIFICATION
  WHERE notice_id = #{noticeId}
</delete>
	<insert id="insertNotice">
	<selectKey keyProperty="coupleId" resultType="String" order="BEFORE">
		SELECT SEQ_NOTICE.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO NOTIFICATION(NOTICE_ID,
							USER_SENT,
							USER_RECEIVED,
							NOTICE_CONTENT,
							NOTICE_DATE,
							NOTICE_CONFIRMED)
			VALUES(#{noticeId},
					#{userSent},
					#{userReceived},
					#{noticeContent},
					SYSDATE,
					#{noticeConfirmed})
	</insert> 

</mapper>