<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">

<th:block layout:fragment="css">
	<style>
.pencil {
	background-color: transparent;
	border: 0px;
	float: right;
}

.cusBtn {
	font-size: 13px;
	padding: 5px;
}
.cusTitle{
	text-align:center; 
	font-family: 'Nanum Gothic', sans-serif;
	font-weight:bold;
}
</style>
</th:block>

<th:block layout:fragment="content">
	<br>
	<br>
	<br>
	<br>
	<!--Main content-->
	<main class="main-content" id="main-content">

		<section class="position-relative bg-white">
			<div class="container position-relative pt-3 pb-4">
				<div class="row">
					<div class="col-md-6">
						<nav class="d-md-flex" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Profile</li>
							</ol>
						</nav>
					</div>
				</div>
				<!--/.row-->

			</div>
		</section>
		<section class="position-relative">
			<div class="container position-relative">
				<div class="overflow-hidden">

					<!--Profile info header-->
					<div class="position-relative pb-7 pb-lg-12">
						<div class="row">
							<div class="col-lg-3 mb-5 mb-lg-0">
								<div class="h-lg-100">
									<div class="card bg-gradient-light h-lg-100 p-3">
										<div>
											<!--profile image-->
											<div
												class="size-160 mb-5 rounded-circle shadow bg-no-repat overflow-hidden bg-contain"
												th:style="'background-position: center center; background-image: url(/img/user/'+${userInfo.imgUrl}+');'">
											</div>
											<h4 class="mb-2">[[${userInfo.name}]]</h4>
											<small class="d-block mb-3">[[${userInfo.nickName}]]</small>
											<ul class="list-unstyled border-bottom pb-3 mb-3">
												<li class="d-flex align-items-stretch mb-2"><i
													class="bi bi-geo-alt-fill me-2 align-middle text-muted"></i>
													<span class="small">[[${myAddress}]]</span></li>
												<li class="d-flex align-items-stretch mb-2"><i
													class="bi bi-star fs-5 lh-1 text-muted me-2 align-middle"></i>
													<span class="small">[[${userInfo.birthYear}]]-[[${userInfo.birthDay}]]</span>
												</li>
												<li class="d-flex align-items-stretch mb-2"><i
													class="bi bi-envelope me-2 align-middle text-muted"></i> <a
													href="#" class="small link-hover-decoration">[[${userInfo.email}]]</a>
												</li>
												<li class="d-flex align-items-stretch mb-2"><i
													class="bi bi-twitter me-2 align-middle text-muted"></i> <a
													href="#!" class="small link-hover-decoration">@emily.dev</a>
												</li>
												<li class="d-flex align-items-stretch mb-2"><i
													class="bi bi-linkedin me-2 align-middle text-muted"></i> <a
													href="#!" class="small link-hover-decoration">emilyatin</a>
												</li>
												<li class="d-flex align-items-stretch mb-2"><i
													class="bi bi-instagram me-2 align-middle text-muted"></i> <a
													href="#!" class="small link-hover-decoration">emily93</a></li>
											</ul>
											<ul class="list-unstyled border-bottom pb-3 mb-3">
												<li
													class="d-flex justify-content-between align-items-center mb-2">
													<span class="small">Followers</span> <span class="fs-5">134</span>
												</li>
												<li
													class="d-flex justify-content-between align-items-center mb-2">
													<span class="small">Following</span> <span class="fs-5">23</span>
												</li>
											</ul>
											<div class="d-grid">
												<button class="btn btn-light border shadow-sm mb-2 py-1"
													type="button">
													<i class="bi bi-person-plus fs-6 align-middle lh-1"></i>
													Follow
												</button>
												<button class="btn btn-primary shadow-sm py-1" type="button">
													<i class="bi bi-envelope fs-6 align-middle lh-1"></i>
													Message
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="d-flex flex-column h-100">
									<nav class="nav mb-5 nav-pills">
										<a href="main" class="nav-link active"><i
											class="bi bi-person-circle me-2 align-middle"></i>My profile</a>
										<a href="myinfo_my_course_list" class="nav-link"><i
											class="bi bi-people me-2 align-middle"></i>저장된 코스</a> <a
											href="myinfo_my_write_list" class="nav-link"><i
											class="bi bi-layers me-2 align-middle"></i>내가 쓴 글</a> <a
											href="myinfo_my_comment_list" class="nav-link"><i
											class="bi bi-credit-card me-2 align-middle"></i>내가 쓴 코멘트</a> <a
											href="myinfo_my_payment_list" class="nav-link"><i
											class="bi bi-diagram-2 me-2 align-middle"></i>결제 내역</a> <a
											href="myinfo" class="nav-link"><i
											class="bi bi-gear me-2 align-middle"></i>정보 수정</a>
									</nav>

									<div class="card shadow-sm p-3 h-100">
										<div class="row align-items-center">
											<section class="position-relative">
												<div class="container py-3">
													<div class="d-flex align-items-center mb-3 mb-lg-3">
														<div class="flex-grow-1 border-bottom"></div>
														<h5 class="mb-0 flex-grow-0 px-3">나의취향</h5>
														<div class="flex-grow-1 border-bottom"></div>
													</div>
													<div class="mx-8 mb-5">
														<th:block th:each="userTag : ${userTag}">
															<a href="#!" class="badge bg-primary mb-1"
																style="padding: 7px"> [[${userTag.TagId}]] </a>
														</th:block>

														<a href="#modalBasic" data-bs-toggle="modal"
															aria-expanded="false"
															class="btn btn-outline-secondary pencil"> <img
															src="https://img.icons8.com/ios-glyphs/30/000000/edit--v2.png" /></a>
													</div>
													<!-- mx-8 끝 -->


													<!-- 모달 시작 -->
													<div class="modal fade" id="modalBasic" tabindex="-1"
														aria-labelledby="modalBasicLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content border-0">
																<div class="modal-header border-0 bg-light">
																	<h5 class="modal-title cusTitle">원하시는 태그를 골라주세요</h5>
																	<button type="button" class="btn-close"
																		data-bs-dismiss="modal" aria-label="Close">
																		<i class="bi bi-x fs-5 lh-1"></i>
																	</button>
																</div>
																<div class="modal-body py-5 border-0">
																	<h6 class="cusTitle">현재 나의 태그</h6>
																	<p class="pOne">
																		<th:block th:each="userTag : ${userTag}">
																			<button class="btn btn-primary m-1 cusBtn myTag" id="myTag"
																				style="padding: 7px"  th:text="${userTag.tagId}"></button>
																		</th:block>
																	</p>
																	<hr>
																	<p class="pAll">
																		<th:block
																			th:each="t: ${#numbers.sequence(0, tagAll.size-1)}">
																			<button type="button"
																				class="btn btn-primary m-1 cusBtn tagAll"
																				th:text="${tagAll[t].tagId}"></button>
																		</th:block>
																	</p>
																</div>
																<div class="modal-footer bg-light border-0">
																	<button type="button" class="btn btn-white btn-sm"
																		data-bs-dismiss="modal">Close</button>
																	<button type="button" class="btn btn-primary btn-sm saveBtn">Save
																		changes</button>
																</div>
															</div>
														</div>
													</div>
													<!-- 모달 끝 -->


													<div class="d-flex align-items-center mb-3 mb-lg-3">
														<div class="flex-grow-1 border-bottom"></div>
														<h5 class="mb-0 flex-grow-0 px-3">알림내역</h5>
														<div class="flex-grow-1 border-bottom"></div>
													</div>
													<div class="row">
														<div class="col-lg-10 mx-auto">
															<ul class="step mx-3 mx-sm-0 list-unstyled mb-0">
																<th:block th:each="notice : ${userNotice}">
																	<li class="step-item" data-aos="fade-left">
																		<div class="step-row">
																			<span class="step-icon bg-tint-primary text-primary">
																				<!--ICON-DOT--> <i th:if="${notice.postId}!=null"
																				class="bi bi-reply-fill text-primary align-middle lh-1"></i>
																				<i th:if="${notice.postId}==null"
																				class="bi bi-heart-fill text-primary align-middle lh-1"></i>
																			</span>
																			<div class="step-content">
																				<small class="mb-2 text-muted">[[${#dates.format(notice.noticeDate,'MM월
																					dd일, yyyy aaHH:mm')}]]</small>
																				<button type="button" class="btn-close"
																					th:data-noticeId="${notice.noticeId}"
																					onclick="noticeDelFunc(this)">
																					<i class="bi bi-x text-danger"></i>
																				</button>
																				<p class="mb-0">[[${notice.noticeContent}]]</p>
																			</div>
																		</div>
																	</li>
																</th:block>
																<!--/.step-item-->
																<li class="step-item">
																	<div class="step-row">
																		<span class="step-icon bg-tint-primary text-primary">
																			<!--ICON-DOT--> <i
																			class="bi bi-calendar3 text-primary align-middle lh-1 fs-6"></i>
																		</span>

																		<div class="step-content">
																			<h6 class="mb-1">Minor bug fixes</h6>
																			<small class="d-block mb-2 text-muted">June
																				02, 11:24 AM EST</small>
																			<p class="mb-0">Lorem Ipsum is simply dummy text
																				of the printing and typesetting industry. Lorem
																				Ipsum has been the industry's standard dummy text
																				ever since the 1500s, when an unknown printer took a
																				galley of type and scrambled it to make a type
																				specimen book.</p>
																		</div>
																	</div>

																</li>
																<!--/.step-item-->
																<li class="step-item">
																	<div class="step-row">
																		<span class="step-icon bg-tint-primary text-primary">
																			<!--ICON-DOT--> <i
																			class="bi bi-gear text-primary align-middle lh-1"></i>
																		</span>

																		<div class="step-content">
																			<div class="alert alert-primary d-flex mb-0"
																				role="alert">
																				<i class="bi bi-exclamation mt-1 me-4 fs-4"></i>
																				<div class="">
																					<h6 class="alert-heading">Scheduled
																						Maintenance!</h6>
																					<hr class="my-2">
																					<p class="text-body mb-0">We're currently
																						updating an issue that's preventing Forms,
																						Meetings and Ads from being modified. All existing
																						forms on websites continue working and accepting
																						submissions.</p>
																				</div>
																			</div>
																		</div>
																	</div>

																</li>
																<!--/.step-item-->
															</ul>
														</div>
													</div>
												</div>
												<!--/.container-end-->
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

</th:block>

<th:block layout:fragment="script">
	<script>
		//알림내역함수
		function noticeDelFunc(obj) {
			let noticeId = $(obj).attr('data-noticeId');
			let li = $(obj).closest("li");
			let result = confirm("삭제하시겠습니까?");
			if (result) {
				$.ajax({
					url : "deleteNotice",
					type : 'DELETE',
					data : {
						noticeId : noticeId
					},
					dataType : 'json',
					//contentType:'application/json;charset="UTF-8"',
					success : function(result) {
						if (result == true) {
							alert("알림이 삭제 되었습니다.")
							$(li).remove();
						}
					},
					error : function() {
					}
				})//ajax end==
			}
		}
		
		$(function(){
			let p1 = $(".pOne")
			let p2 = $(".pAll")
			$(".tagAll").on("click",function(e){
				let tagAll = e.target;
				p1.append(tagAll);
				
				var tagId=$(this).text();
				console.log(tagId);
				
			})
			$(".myTag").on("click",function(e){
				let myTag = e.target;
				p2.append(myTag);
				
			});
		}); // function 끝
		
		$(".saveBtn").on("click",function(){
			$.ajax({
				url:"saveUserTags",
				method:"post",
				success:function(){
					alert("변경되었습니다")
				}
				
			});	//아작스 끝
		});
		
	</script>
	<script th:inline="javascript">
		
	</script>
</th:block>
</html>