<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">

<th:block layout:fragment="css">
	<style>
		.pencil {
			background-color: transparent;
			border: 0px;
			float: right;
		}
		.btn-tag{
			font-size: 14px;
		}
		.custom {
			transition: filter .5s;
		}
		.custom:hover {
			filter: brightness(80%);
			cursor: Pointer;
		}
	</style>
</th:block>

<th:block layout:fragment="content">
	<!--Main content-->
	<main class="main-content" id="main-content">
		<section class="position-relative pt-7">
			<div class="container position-relative">
				<div class="overflow-hidden">
					<!--Profile info header-->
					<div class="position-relative pb-7 pb-lg-12">
						<div class="row">
							<div class="col-lg-3 mb-5 mb-lg-0">
								<div class="h-lg-100">
									<div class="card bg-gradient-light p-3">
										<div>
											<!--profile image-->
											<div class="size-160 mb-5 rounded-circle shadow bg-no-repat overflow-hidden bg-contain"
												th:style="'background-position: center center; background-image: url(/img/user/'+${userInfo.imgUrl}+');'">
											</div>
											<h4 class="mb-2">[[${userInfo.name}]]</h4>
											<small class="d-block mb-3">[[${userInfo.nickName}]]</small>
											<ul class="list-unstyled border-bottom pb-3 mb-3">
												<li class="d-flex align-items-stretch mb-2"><i
														class="bi bi-geo-alt-fill me-2 align-middle text-muted"></i>
													<span class="small">[[${myAddress}]]</span></li>
												<li class="d-flex align-items-stretch mb-2"><i
														class="bi bi-star fs-5 lh-1 text-muted me-2 align-middle"></i>
													<span
														class="small">[[${userInfo.birthYear}]]-[[${userInfo.birthDay}]]</span>
												</li>
												<li class="d-flex align-items-stretch mb-2"><i
														class="bi bi-envelope me-2 align-middle text-muted"></i> <a
														href="#"
														class="small link-hover-decoration">[[${userInfo.email}]]</a>
												</li>

											</ul>
											<ul class="list-unstyled border-bottom pb-3 mb-3">
												<li class="d-flex justify-content-between align-items-center mb-2">
													<span class="small">현재 상태</span>
													<span th:if="${userInfo.coupleStatus.toString().equals('n')}"
														class="small" th:text="솔로"></span>
													<span th:unless="${userInfo.coupleStatus.toString().equals('n')}"
														class="small" th:text="커플"></span>
												</li>
												<th:block th:unless="${userInfo.coupleStatus.toString().equals('n')}">
													<li class="d-flex justify-content-between align-items-center mb-2">
														<span class="small">구독권 이용기간</span>
														<span class="small" id="endDate"></span>
													</li>
												</th:block>
											</ul>
											<div class="d-grid">
												<button class="btn btn-primary border shadow-sm mb-2 py-1" type="button"
													onclick="goCoupleMain(userSession)">
													<i class="bi bi-person-plus fs-6 align-middle lh-1"></i>
													커플로그 이용하기
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="d-flex flex-column h-100">
									<nav class="nav mb-3 nav-pills">
										<a href="main" class="nav-link active"><i
												class="bi bi-person-circle me-2 align-middle"></i>나의 정보</a>
										<a href="myinfo_my_course_list" class="nav-link"><i
												class="bi bi-geo-alt me-2 align-middle"></i>저장된 코스</a> <a
											href="myinfo_my_write_list" class="nav-link"><i
												class="bi bi-layers me-2 align-middle"></i>내가 쓴 글</a> <a
											href="myinfo_my_comment_list" class="nav-link"><i
												class="bi bi-credit-card me-2 align-middle"></i>내가 쓴 코멘트</a> <a
											href="myinfo_my_payment_list" class="nav-link"><i
												class="bi bi-diagram-2 me-2 align-middle"></i>결제 내역</a> <a href="myinfo"
											class="nav-link"><i class="bi bi-gear me-2 align-middle"></i>정보 수정</a>
									</nav>

									<div class="card shadow-sm p-3 h-100">
										<div class="row align-items-center">
											<section class="position-relative">
												<div class="container py-3">
													<div class="d-flex align-items-center mb-3 mb-lg-3">
														<div class="flex-grow-1 border-bottom"></div>
														<h5 class="mb-0 flex-grow-0 px-3">나의취향</h5>
														<div class="flex-grow-1 border-bottom"></div>
													</div>
													<div class="mx-8 mb-5 showMyTags">
														<th:block th:each="userTag : ${userTag}">
															<button class="btn btn-primary btn-tag m-1 px-2 py-1"
																th:text="${userTag.tagId}"></button>
														</th:block>
														<a href="#modalBasic" data-bs-toggle="modal"
															aria-expanded="false"
															class="btn btn-outline-secondary pencil"> <img
																src="https://img.icons8.com/ios-glyphs/30/000000/edit--v2.png" /></a>
													</div>
													<!-- mx-8 끝 -->


													<!-- 모달 시작 -->
													<div class="modal fade" id="modalBasic" tabindex="-1"
														aria-labelledby="modalBasicLabel" aria-hidden="true">
														<div class="modal-dialog modal-dialog-centered">
															<div class="modal-content border-0">
																<div class="modal-header border-0 bg-light">
																	<h5
																		class="modal-title text-center font-nanum fw-bold">
																		원하시는 태그를 골라주세요</h5>
																	<button type="button" class="btn-close"
																		data-bs-dismiss="modal" aria-label="Close">
																		<i class="bi bi-x fs-5 lh-1"></i>
																	</button>
																</div>
																<div class="modal-body pb-5 border-0">
																	<h6 class="text-center font-nanum fw-bold mb-3">현재 나의 태그
																	</h6>
																	<p class="myTags">
																		<th:block th:each="t : ${userTag}">
																			<button type="button"
																				class="btn btn-primary btn-tag m-1 px-2 py-1"
																				th:text="${t.tagId}"></button>
																		</th:block>
																	</p>
																	<hr class="my-3">
																	<h6 class="text-center font-nanum fw-bold mb-3">다른 모든 태그
																	</h6>
																	<p class="allTags">
																		<th:block th:each="t: ${tagAll}">
																			<button type="button"
																				class="btn btn-primary btn-tag m-1 px-2 py-1"
																				th:text="${t.tagId}"></button>
																		</th:block>
																	</p>
																</div>
																<div class="modal-footer bg-light border-0">
																	<button type="button" class="btn btn-white btn-sm"
																		data-bs-dismiss="modal">Close</button>
																	<button type="button" class="btn btn-primary btn-sm saveBtn">
																		<span>Save changes</span>
																		<div class="spinner-border text-black d-none" role="status"></div>
																	</button>
																</div>
															</div>
														</div>
													</div>
													<!-- 모달 끝 -->

													<div class="d-flex align-items-center mb-3 mb-lg-3">
														<div class="flex-grow-1 border-bottom"></div>
														<h5 class="mb-0 flex-grow-0 px-3">알림내역</h5>
														<div class="flex-grow-1 border-bottom"></div>
													</div>
													<div class="row">
														<div class="col-lg-10 mx-auto">
															<ul class="step mx-3 mx-sm-0 list-unstyled mb-0">
																<th:block th:each="notice : ${userNotice}">
																	<li class="step-item" data-aos="fade-left">
																		<div class="step-row">
																			<span class="step-icon bg-tint-primary text-primary custom" >
																				<!--ICON-DOT--> 
																				<i th:if="${notice.postId}!=null"
																				class="bi bi-reply-fill text-primary align-middle lh-1" th:data-noticeId="${notice.noticeId}" th:data-postId="${notice.postId}" onclick="noticeCommentFunc(this)"></i>
																				
																				<i th:if="${notice.postId}==null" 
																				class="bi bi-heart-fill text-primary align-middle lh-1" onclick=""></i>
																			</span>
																			<div class="step-content">
																				<span th:if="${notice.noticeConfirmed=='n'}" class="badge bg-success">읽지않음</span>
																				<br th:if="${notice.noticeConfirmed=='n'}">
																				<small class="mb-2 text-muted">[[${#dates.format(notice.noticeDate,'MM월
																					dd일, yyyy aahh:mm')}]]</small>
																				<button type="button" class="btn-close"
																					th:data-noticeId="${notice.noticeId}"
																					onclick="noticeDelFunc(this)">
																					<i class="bi bi-x text-danger"></i>
																				</button>
																				<p class="mb-0">[[${notice.noticeContent}]]</p>
																			</div>
																		</div>
																	</li>
																</th:block>
															</ul>
														</div>
													</div>
												</div>
												<!--/.container-end-->
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</th:block>

<th:block layout:fragment="script">
	<script>
		//알림내역함수
		function noticeDelFunc(obj) {
			let noticeId = $(obj).attr('data-noticeId');
			let li = $(obj).closest("li");
			//let result = confirm("삭제하시겠습니까?");
			swal({
				title: "알림을 삭제하시겠습니까?",
				text: "",
				icon: "info", //"info,success,warning,error" 중 택1
				buttons: ["아니요", "네"],
			}).then((네) =>{
			if(네) {
				$.ajax({
					url : "deleteNotice",
					type : 'DELETE',
					data : {
						noticeId : noticeId
					},
					dataType : 'json',
					//contentType:'application/json;charset="UTF-8"',
					success : function(result) {
						if (result == true) {
							//alert("알림이 삭제 되었습니다.")
							swal("알림이 삭제 되었습니다","","success");
							$(li).remove();
						}
					},
					error : function() {
					}
				})//ajax end==
			}
		});
		}//알림내역함수 끝
		//게시물 댓글 알림 함수 (업데이트 및 페이지 이동)
        function noticeCommentFunc(obj) {
                let noticeId = $(obj).attr('data-noticeId');
                let postId = $(obj).attr('data-postId');
                
                    $.ajax({
                    url: "/updateConfirmed/"+noticeId,
                    method: "put",
                    success: function() {
                        location.href="/post/get_community/"+postId;
                    },
                    error: function(e){
                    	console.error(e);
                    }

                });
        } //function 종료
		
		const btnTags = $('.btn-tag');
		const myTags = $('.myTags');
		const allTags = $('.allTags');
		const showMyTags = $('.showMyTags');

		$(function(){
			if(userSession.coupleId != null){
				endDate();
			}
			
			// 모달 내의 태그 중복 방지
			for(let m of $(myTags).find('.btn-tag')){
				for(let a of $(allTags).find('.btn-tag')){
					if($(a).text() == $(m).text()){
						$(a).remove();
					}
				}
			}
			// 모달 내의 태그 중복 방지

			// 태그 클릭 이벤트
			$(btnTags).on("click", (e)=>{
				let origin = e.target; // $('.btn-tag')
				let clone = $(origin).clone();
				let condition = $(origin).parent().hasClass('myTags');
				
				if($(origin).parent().hasClass('showMyTags')){
					return;
				}
				
				if(!condition){
					if($(myTags).children().length >= 5){
						swal('태그는 5개까지만 선택할 수 있습니다!', '', 'error');
					} else{
						$(myTags).append(clone);
						$(origin).addClass('d-none');
					}
				} else{
					$(origin).appendTo(allTags);
				}

				$(clone).on('click', (e)=>{
					$(e.target).remove();
					$(origin).removeClass('d-none');
				});
			});
			// 태그 클릭 이벤트

			// 변경사항 저장 이벤트
			$(".saveBtn").on("click",()=>{
				let tags = $(myTags).find('.btn-tag');
				let tagStr = '';
	
				for(let t of tags){
					tagStr += $(t).text();
					tagStr += ' ';
				}
	
				console.log(tagStr);
	
				$.ajax({
					url:"/mypage/saveUserTags",
					method:"post",
					data: {
						userId: userSession.userId,
						tags: tagStr
					},
					dataType: 'json',
					success: (data)=>{
						swal("변경되었습니다",'','success')
						.then(()=>{
							$(showMyTags).empty();
							for(let l of data){
								$(showMyTags)
									.append($('<button type="button" class="btn btn-primary btn-tag m-1 px-2 py-1" />')
									.text(l.tagId));
							}
							$(showMyTags)
							  .append($('<a href="#modalBasic" data-bs-toggle="modal" aria-expanded="false" class="btn btn-outline-secondary pencil"><img src="https://img.icons8.com/ios-glyphs/30/000000/edit--v2.png"/></a>'))
							console.log(data);
							$('#modalBasic').modal('hide');
						});
					},
					error: (err)=>{
						console.log(err);
					}
				});	//아작스 끝
			});
			// 변경사항 저장 이벤트
			
			function endDate(){
				$.ajax({
					url:"../endDate",
					method:"GET",
					data: {
						coupleId: Number(userSession.coupleId)
					},
					success: (data)=>{
						$('#endDate').text('~'+data.endDate)
					},
					error: (err)=>{
						console.log(err);
					}
				});	//아작스 끝
			}
		}); // function 끝
		
	</script>
</th:block>
</html>