<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">

<th:block layout:fragment="css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css"> -->
	<style>

	</style>
</th:block>

<th:block layout:fragment="content">
	<!--Main content-->
	<main class="main-content" id="main-content">
		<section class="position-relative pt-7">
			<div class="container position-relative">
				<div class="overflow-hidden">
					<!--Profile info header-->
					<div class="position-relative pb-7 pb-lg-12">
						<div class="row">
							<div class="col-lg-3 mb-5 mb-lg-0">
								<div class="h-lg-100">
									<div class="card bg-gradient-light p-3">
										<div>
											<!--profile image-->
											<div class="size-160 mb-5 rounded-circle shadow bg-no-repat overflow-hidden bg-contain"
												th:style="'background-position: center center; background-image: url(/img/user/'+${userInfo.imgUrl}+');'">
											</div>
											<h4 class="mb-2">[[${userInfo.name}]]</h4>
											<small class="d-block mb-3">[[${userInfo.nickName}]]</small>
											<ul class="list-unstyled border-bottom pb-3 mb-3">
												<li class="d-flex align-items-stretch mb-2"><i
														class="bi bi-geo-alt-fill me-2 align-middle text-muted"></i>
													<span class="small">[[${myAddress}]]</span></li>
												<li class="d-flex align-items-stretch mb-2"><i
														class="bi bi-star fs-5 lh-1 text-muted me-2 align-middle"></i>
													<span
														class="small">[[${userInfo.birthYear}]]-[[${userInfo.birthDay}]]</span>
												</li>
												<li class="d-flex align-items-stretch mb-2"><i
														class="bi bi-envelope me-2 align-middle text-muted"></i> <a
														href=""
														class="small link-hover-decoration">[[${userInfo.email}]]</a>
												</li>

											</ul>
											<ul class="list-unstyled border-bottom pb-3 mb-3">
												<li class="d-flex justify-content-between align-items-center mb-2">
													<span class="small">현재 상태</span>
													<span th:if="${userInfo.coupleStatus.toString().equals('n')}"
														class="small" th:text="솔로"></span>
													<span th:unless="${userInfo.coupleStatus.toString().equals('n')}"
														class="small" th:text="커플"></span>

												</li>
												<th:block th:unless="${userInfo.coupleStatus.toString().equals('n')}">
													<li class="d-flex justify-content-between align-items-center mb-2">
														<span class="small">구독권 이용기간</span>
														<span class="small">3개월</span>
													</li>
												</th:block>
											</ul>
											<div class="d-grid">
												<button class="btn btn-primary border shadow-sm mb-2 py-1" type="button"
													onclick="goCoupleMain(userSession)">
													<i class="bi bi-person-plus fs-6 align-middle lh-1"></i>
													커플로그 이용하기
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-9 mx-auto">
								<div class="d-flex flex-column h-100">
									<nav class="nav mb-3 nav-pills">
										<a href="main" class="nav-link"><i
												class="bi bi-person-circle me-2 align-middle"></i>My profile</a>
										<a href="myinfo_my_course_list" class="nav-link active"><i
												class="bi bi-people me-2 align-middle"></i>저장된 코스</a>
										<a href="myinfo_my_write_list" class="nav-link"><i
												class="bi bi-layers me-2 align-middle"></i>내가 쓴 글</a>
										<a href="myinfo_my_comment_list" class="nav-link"><i
												class="bi bi-credit-card me-2 align-middle"></i>내가 쓴 코멘트</a>
										<a href="myinfo_my_payment_list" class="nav-link"><i
												class="bi bi-diagram-2 me-2 align-middle"></i>결제 내역</a>
										<a href="myinfo" class="nav-link"><i class="bi bi-gear me-2 align-middle"></i>정보
											수정</a>
									</nav>
									<div class="card border-light p-3 mb-3">
										<section class="position-relative">
											<div class="container py-3 ">
												<div class="row">

													<div class="col-12">
														<div class="pe-lg-4 pe-md-2">

															<form id="actionForm" action="" method="get">

																<!--  <select name="category" class="custom-select">
								    <option value="A" th:selected="${#strings.equals(pageMaker.cri.category,'A')}">전체보기</option>
								    <option value="B" th:selected="${#strings.equals(pageMaker.cri.category,'B')}">내가만든</option>
								    <option value="C" th:selected="${#strings.equals(pageMaker.cri.category,'C')}">넘이만든</option>
								  </select> -->

																<input type="radio" class="btn-check" id="plan-1"
																	name="category" value="A" checked="">
																<label class="btn btn-outline-primary"
																	for="plan-1">전체보기</label>
																<input type="radio" class="btn-check" id="plan-2"
																	name="category" value="B" th:checked="${#strings.equals(pageMaker.cri.category,'B')}">
							    <label class="btn btn-outline-primary" for="plan-2">나의코스</label>
							    <input type="radio" class="btn-check" id="plan-3" name="category" value="C" th:checked="${#strings.equals(pageMaker.cri.category,'C')}">
							    <label class="btn btn-outline-primary" for="plan-3">스크랩</label>
								    
								  <!-- <select name="type" class="custom-select">
								    <option value=""  th:selected="${#strings.isEmpty(pageMaker.cri.type)}">선택</option>
								    <option value="T" th:selected="${#strings.equals(pageMaker.cri.type, 'T')}">제목</option>
								    <option value="C" th:selected="${#strings.equals(pageMaker.cri.type, 'C')}">내용</option>
								    <option value="TC" th:selected="${#strings.equals(pageMaker.cri.type,'TC')}">제목 또는 내용</option>	  
								  </select>  -->
							 	  
								  <div class="input-group my-3 px-5">
								    
							       <div class="width-150 mx-3">
							            <select name="type" id="selectSizing" data-choices='{"searchEnabled":false}' class="form-control">
							                <option value=""  th:selected="${#strings.isEmpty(pageMaker.cri.type)}">선택</option>
							                <option value="T" th:selected="${#strings.equals(pageMaker.cri.type, 'T')}">제목</option>
							                <option value="C" th:selected="${#strings.equals(pageMaker.cri.type, 'C')}">내용</option>
							                <option value="TC" th:selected="${#strings.equals(pageMaker.cri.type,'TC')}">제목 또는 내용</option>
							            </select>
							        </div>
							                            
							        <input class="form-control rounded-start" name="keyword" th:value="${pageMaker.cri.keyword}" placeholder="검색어를 입력해주세요">
							          <button class="input-group-text py-0 rounded-end" onclick="$('[name=pageNum]').val(1)">
							            <i class="fs-3 bi bi-search"></i>
							          </button>
							        <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">
								    <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
							      </div>
								  
								</form>
	
<!--                                 <article class="card align-items-stretch flex-md-row mb-4 mb-md-7 border-0 no-gutters"
                                    data-aos="fade-up">
                                    <div class="col-lg-5">
                                        <a href="#!" class="d-block rounded-3 overflow-hidden hover-shadow hover-lift">
                                            <img src="/assets/img/800x732/4.jpg" alt="" class="img-fluid rounded-3">
                                        </a>
                                    </div>
                                    <div class="card-body d-flex flex-column col-auto p-md-0 ps-md-4">
                                        <div class="d-flex mb-0 justify-content-between">
                                            <span class="d-inline-flex align-items-center small">
                                                <svg class="bi bi-clock me-2 text-muted" width="1em" height="1em"
                                                    viewBox="0 0 16 16" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
                                                    </path>
                                                    <path fill-rule="evenodd"
                                                        d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
                                                    </path>
                                                </svg>
                                                <span class="text-muted">16 November</span>
                                            </span>
                                            <a href="#!" class="small">Business</a>
                                        </div>
                                        <h3 class="mb-3 h2 mt-3">
                                            <a href="#!" class="text-dark flex-grow-1 d-block">
                                                What are the 3 most important things needed for effective teamwork?
                                            </a>
                                        </h3>
                                        <p class="mb-4 flex-grow-1 d-none d-lg-block">
                                            It uses a dictionary of over 200 Latin words, combined with a handful of
                                            model
                                            sentence structures, to generate Lorem Ipsum which looks reasonable.
                                        </p>
                                        <div class="d-flex mb-0 small align-items-center">
                                            <img src="assets/img/avatar/3.jpg" alt=""
                                                class="avatar sm me-2 rounded-circle">
                                            <span class="text-muted d-inline-block">By <a href="#!"
                                                    class="text-dark">Andrew</a></span>
                                        </div>
                                    </div>
                                    /.card-body
                                </article>
                                /.article -->
<!-- 코스리스트 만들기 -->
								<th:block th:if="${list.size}>0" th:each="c: ${#numbers.sequence(0,list.size-1)}">
								<article class="card align-items-stretch flex-md-row mb-4 mb-md-7 border-0 no-gutters" data-aos="fade-up">
								    <div class="col-lg-5">
								    <!-- 장소사진 나오는 부분 -->    
								      <div class="swiper-container swiper-progress rounded-2 overflow-hidden shadow-lg">
								          <div class="swiper-wrapper" style="text-align:center;">
								            <th:block th:each="d: ${#numbers.sequence(0,detail.size-1)}">
								              <div th:if="${list[c].courseId==detail[d].courseId}" class="swiper-slide rounded-2 overflow-hidden">
								                  <img th:if="${list[c].courseId==detail[d].courseId}" th:src="${detail[d].thumbnailHref}" alt="" class="img-fluid rounded-2 position-relative" style="width:456px; height:300px; background-size:cover;">
								              </div>
								            </th:block>
								          </div>
								          <div class="swiper-pagination swiperProgress-pagination swiper-pagination-progressbar"></div>
								          <!-- Add Arrows -->
								          <div class="swiper-button-next swiperProgress-button-next bg-white size-30"></div>
								          <div class="swiper-button-prev swiperProgress-button-prev bg-white size-30"></div>
								      </div>              
								    </div>
								    <!-- 코스설명 나오는 부분 -->
                                    <div class="card-body d-flex flex-column col-auto p-md-0 ps-md-4">
                                                                                
                                        <div class="d-flex mb-0 justify-content-between">
                                            <span class="d-inline-flex align-items-center small">
                                                <svg class="bi bi-clock me-2 text-muted" width="1em" height="1em"
                                                    viewBox="0 0 16 16" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
                                                    </path>
                                                    <path fill-rule="evenodd"
                                                        d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
                                                    </path>
                                                </svg>
                                                <span class="text-muted">[[${#dates.format(list[c].courseCreated,'MM월 dd일, yyyy')}]]</span>
                                                <span th:if="${list[c].userId!=session.userSession.userId }" class="badge bg-info mx-2">스크랩</span>
                                                <span th:if="${list[c].userId==session.userSession.userId }" class="badge bg-success mx-2">나의 코스</span>
                                            </span>
                                            <!-- 드롭다운 -->  
						                    <div class="dropdown" style="display:inline;">
						                        <a class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
						                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						                          <i class="bi bi-three-dots-vertical me-2 align-middle"></i>
						                        </a>
						                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						                            <a class="dropdown-item" th:href="|/updateCourse/${list[c].courseId}|">코스수정</a>
						                            <a class="dropdown-item" href="javascript:void(0)"
						                               th:data-courseId="${list[c].courseId}" 
						                               th:data-userId="${list[c].userId}" onclick="courseDelFunc(this)">코스삭제</a>
						                        </div>
						                    </div>
                                         </div>
                                        
                                        <h3 class="mb-3 mt-3 h3 ">
                                            <a th:href="|/courseDetail?courseId=${list[c].courseId}|" class="text-dark flex-grow-1 d-block" th:text="${list[c].courseName}">
                                            </a>
                                        </h3>
                                        <p>
                                        <span>
                                        	<th:block th:each="d: ${#numbers.sequence(0,detail.size-1)}">
								              <a class="badge bg-primary badge-pill mb-1" th:if="${list[c].courseId==detail[d].courseId}" th:text="${detail[d].placeName}"></a>
								            </th:block>
								        </span>
								        </p>
										<p>
										  <span>평균합계비용 : </span><span th:text="'₩ '+${list[c].sumCost}"></span>
										</p>
                                        <div class="d-flex mb-0 small align-items-center">
                                            <img th:src="|/img/user/${list[c].imgUrl}|" alt=""
                                                class="avatar sm me-2 rounded-circle">
                                            <span class="text-muted d-inline-block">By <a href="#!"
                                                    class="text-dark" th:text="${list[c].nickName}"></a></span>
                                        </div>
                                    </div>
                                    <!--/.card-body-->
                                </article>
							</th:block>
                            <!--/.article-->
<!-- 코스리스트 끝 -->
                           	</div>
<!-- 페이징번호 시작 -->
                            <div class="row pt-3 justify-content-end">
                                <div class="col-auto">
                                    
                                    <nav class="mb-0" aria-label="Page navigation example">
                                        <ul class="pagination mb-0">
                                            <li class="page-item" th:classappend="!${pageMaker.prev} ? disabled">
                                                <a class="page-link" th:href="${pageMaker.startPage-1}" aria-label="Previous">
                                                    <svg class="bi bi-chevron-left" width="1em" height="1em"
                                                        viewBox="0 0 16 16" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </li>
									        <th:block th:each="num: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}" >
										      <li class="page-item" th:if="${num}!=0">
										        <a class="page-link pageActive" th:href="${num}" th:text="${num}"></a>
										      </li>
										    </th:block>
                                            <li class="page-item" th:classappend="!${pageMaker.next} ? disabled">
                                                <a class="page-link" th:href="${pageMaker.endPage+1}" aria-label="Next">
                                                    <svg class="bi bi-chevron-right" width="1em" height="1em"
                                                        viewBox="0 0 16 16" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    
                                </div>
                            </div>
                            <!--/.Pagination-row-->
                        </div>
                        <!--/.col-->

                    </div>
                    <!--/.blog-row-->
                </div>
            </section>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>                                          
</main>

</th:block>
<!-- .main-content -->

<th:block layout:fragment="script">
	<script>
	
	//삭제 함수
	function courseDelFunc(obj){
      let userId =$(obj).attr('data-userId');
      let courseId =$(obj).attr('data-courseId');
	  let result = confirm("삭제하시겠습니까?");
	  console.log(userId);
	  console.log(courseId);
	  console.log(result);
	  if(result) {
		  $.ajax({
			  url: "deleteCourse",
			  type:'DELETE',
			  data : JSON.stringify({ userId: userId,
                                      courseId:courseId }),
			  dataType:'json',
			  contentType:'application/json;charset="UTF-8"',
			  success:function(data){
				  console.log(data)
				  if(data==true){
					  alert("코스가 삭제 되었습니다.")
					  actionForm.submit();
				  }    
			  },
			  error:function(){
			  }
		  })//ajax end==
	  }  
	}
	
		$(function() {
			//세션 아이디 쓰기
			let userSessionId = userSession == null ? "" : userSession.userId;
			
			//페이지 엑티브
			let pageActive = $('.pageActive');
		     for(let i=0; i<4; i++){
		        currentURL = currentURL.substring(currentURL.indexOf('=')+1);
		     }
		     
		   let pageNum = currentURL.substring(0, currentURL.indexOf('&'));
		        if(pageNum == ''){
		           $(pageActive).eq(0).parent().addClass('active');
		        }
		     for(let p of pageActive){
		    	if($(p).text()==pageNum){
		           $(p).parent().addClass('active')
		        }
		     }
			
			var actionForm = $("#actionForm")
			
/* 		   		$.ajax({
	    			url: "",
	    			method : "post",
	    			data : JSON.stringify({ userId: userSessionId,
	    			                     }),
	    			//async : false, //아이작스 끝나야 다음이 실행됨 동기식
	    			dataType : "json",
	    			contentType : "application/json;charset=UTF-8",
	    			success: function(datas){
	    				let placeTag = "";
	    				for(data of datas){
	    					placeTag ="<i>"+data.placeName+"</i>"
	    					$("#"+data.courseId).append(placeTag)
	    				}
	    			},
	    			error : function(){
	    				
	    			}
	    		}) */
	    	  
		           
			  //상세보기
		/*      $(".move").on("click", function(e){
		        e.preventDefault();
		        var bno= $(this).attr("href")
		        actionForm.append('<input type="hidden" name="bno" value="'+bno+'">')
		        actionForm.attr("action","get")
		        actionForm.submit();
		      }) */
		      
		      //페이징 클릭
		      $(".page-item a").on("click", function(e){
		        e.preventDefault(); //a,submit 기본기능 막기
		    	var p = $(this).attr("href");
		    	$('[name="pageNum"]').val(p);
		    	actionForm.submit();
		      });
		      
		      //분류 검색
		      $("input[name=category]").on("change", function(){
			    actionForm.submit();
		      });

		     
		});/* script function 끝! */
	</script>
</th:block>
</html>