<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="~{layout/layout}">

<th:block layout:fragment="css">
    <style>

    </style>
</th:block>

<th:block layout:fragment="content">

    <!--Main content-->

    <main class="main-content" id="main-content">

        <section class="position-relative pt-7">
            <div class="container position-relative">
                <div class="overflow-hidden">

                    <!--Profile info header-->
                    <div class="position-relative pb-7 pb-lg-12">
                        <div class="row">
                            <div class="col-lg-3 mb-5 mb-lg-0">
                                <div class="h-lg-100">
                                    <div class="card bg-gradient-light p-3">
                                        <div>
                                            <!--profile image-->
                                            <div class="size-160 mb-5 rounded-circle shadow bg-no-repat overflow-hidden bg-contain"
                                                th:style="'background-position: center center; background-image: url(/img/user/'+${userInfo.imgUrl}+');'">
                                            </div>
                                            <h4 class="mb-2">[[${userInfo.name}]]</h4>
                                            <small class="d-block mb-3">[[${userInfo.nickName}]]</small>
                                            <ul class="list-unstyled border-bottom pb-3 mb-3">
                                                <li class="d-flex align-items-stretch mb-2"><i
                                                        class="bi bi-geo-alt-fill me-2 align-middle text-muted"></i>
                                                    <span class="small">[[${myAddress}]]</span></li>
                                                <li class="d-flex align-items-stretch mb-2"><i
                                                        class="bi bi-star fs-5 lh-1 text-muted me-2 align-middle"></i>
                                                    <span
                                                        class="small">[[${userInfo.birthYear}]]-[[${userInfo.birthDay}]]</span>
                                                </li>
                                                <li class="d-flex align-items-stretch mb-2"><i
                                                        class="bi bi-envelope me-2 align-middle text-muted"></i> <a
                                                        href=""
                                                        class="small link-hover-decoration">[[${userInfo.email}]]</a>
                                                </li>

                                            </ul>
                                            <ul class="list-unstyled border-bottom pb-3 mb-3">
                                                <li class="d-flex justify-content-between align-items-center mb-2">
                                                    <span class="small">현재 상태</span>
                                                    <span th:if="${userInfo.coupleStatus.toString().equals('n')}"
                                                        class="small" th:text="솔로"></span>
                                                    <span th:unless="${userInfo.coupleStatus.toString().equals('n')}"
                                                        class="small" th:text="커플"></span>

                                                </li>
												<th:block th:unless="${userInfo.coupleStatus.toString().equals('n')}">
													<li class="d-flex justify-content-between align-items-center mb-2">
														<span class="small">구독권 이용기간</span>
														<span class="small" id="endDate"></span>
													</li>
												</th:block>
                                            </ul>
                                            <div class="d-grid">
                                                <button class="btn btn-primary border shadow-sm mb-2 py-1" type="button"
                                                    onclick="goCoupleMain(userSession)">
                                                    <i class="bi bi-person-plus fs-6 align-middle lh-1"></i>
                                                    커플로그 이용하기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="d-flex flex-column h-100">
									<nav class="nav mb-3 nav-pills">
										<a href="main" class="nav-link"><i
												class="bi bi-person-circle me-2 align-middle"></i>나의 정보</a>
										<a href="myinfo_my_course_list" class="nav-link"><i
												class="bi bi-signpost-2 me-2 align-middle"></i>저장된 코스</a> <a
											href="myinfo_my_write_list" class="nav-link"><i
												class="bi bi-file-text me-2 align-middle"></i>내가 쓴 글</a> <a
											href="myinfo_my_comment_list" class="nav-link"><i
												class="bi bi-chat-quote me-2 align-middle"></i>내가 쓴 코멘트</a> <a
											href="myinfo_my_payment_list" class="nav-link active"><i
												class="bi bi-credit-card me-2 align-middle"></i>결제 내역</a> <a href="myinfo"
											class="nav-link"><i class="bi bi-gear me-2 align-middle"></i>정보 수정</a>
									</nav>

                                    <div class="card shadow-sm p-3 h-100">
                                        <div class="row align-items-center">


                                            <section class="position-relative">
                                                <div class="container py-3">
                                                    <table class="table" id="payment">
                                                        <thead>
                                                            <tr>
                                                                <th>결제번호</th>
                                                                <th>구독권</th>
                                                                <th>결제금액</th>
                                                                <th>환불금액</th>
                                                                <th>처리상태</th>
                                                                <th>결제일자</th>
                                                                <th>환불일자</th>
                                                                <th></th>
                                                                <!-- <th></th> -->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <th:block th:each="pinfo : ${payInfo}">
                                                                <tr>
                                                                    <td th:text="${pinfo.merchantUid}"></td>
                                                                    <td th:text="${pinfo.subTerm}+'개월권'"></td>
                                                                    <td th:text="${pinfo.payCost}"></td>
                                                                    <td th:if="${pinfo.cancelAmount!=null}"
                                                                        th:text="${pinfo.cancelAmount}"></td>
                                                                    <td th:text="${pinfo.cancelAmount==0 ? '결제완료':'환불완료'}"
                                                                        class="cancelStatus"></td>
                                                                    <td th:text="${#dates.format(pinfo.payDate,'yyyy.MM.dd')}"></td>
													              <td th:text="${#dates.format(pinfo.cancelDate,'yyyy.MM.dd')}"></td>
													              <td th:if="${#calendars.createNow().getTimeInMillis() - pinfo.payDate.getTime() < 345600000 and pinfo.cancelDate==null}" >
													              
													              <a href="#refunding" data-bs-toggle="modal" class="btn btn-sm btn-outline-light border text-secondary shadow-sm refund">
													              
													              <i class="me-1 bi bi-check fs-6 lh-1"></i>환불하기</a></td>
													              <!--  <td th:text ="${#calendars.format(#calendars.)}"></td> -->
													              <!-- #calendars.createNow().getTimeInMillis() -->
													            </tr>
													          </th:block>													          
															</tbody>
														</table>
									                </div>
									                <!--/.container-end-->
									            </section>
									            
									            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
        <!-- 환불 모달창 -->
        <div class="modal fade" id="refunding" tabindex="-1" aria-labelledby="refunding"
                    aria-hidden="true" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
                    
                        <div class="modal-content border-0">
                            <div class="modal-body p-0 border-0">
                                <button type="button"
                                    class="btn-close position-absolute  mt-2 me-2 me-md-n3 mt-md-n3 size-40 p-0 center-both rounded-circle bg-tint-primary z-index-1"
                                    data-bs-dismiss="modal" aria-label="Close" style="top: 20px; right: 20px;">
                                    <i class="bi bi-x fs-5"></i>
                                </button>
                                <div class="d-md-flex row">
                                   
                                   <!-- 왼쪽 사진 -->
                                    <div class="col-md-6">
                                        <img th:src="@{/img/008.jpg.jpg}" alt=""
                                            class="d-block rounded-top d-md-none img-fluid">
                                        <div
                                            class="d-none d-md-flex overflow-hidden bg-shade-primary rounded-3 rounded-end-0 h-md-100 position-relative">
                                            <img th:src="@{/img/refundingImg4.jpg}" alt="" class="bg-image">
                                        </div>
                                    </div>
                                    
                                    <!-- 오른쪽 -->
                                    <div class="col-md-6 h-100">
                                        <div class="h-100 py-5 px-4 position-relative">
                                            
                                            <h2 class="display-6 mb-2">
                                            이용권환불
                                            </h2>
                                            <p>환불정보</p>
                                            <div class="position-relative">
                                            	<div class="col-lg-12 mb-12 mb-lg-0 aos-init aos-animate" data-aos="fade-up"
                                data-aos-delay="100">
                                <div class="card card-body p-4 z-index-1 rounded-xl border-0 shadow-lg d-flex flex-column overflow-hidden h-100">
                                    <div class="position-relative overflow-hidden">
                                        <h6 id="subTerm"></h6>
                                        <div class="price display-4" id="payAmount">
                                            </div>
                                    </div>
                                    <!--/.price-card-header-->
                                    <ul class="d-flex flex-column list-unstyled py-4 mb-0 flex-grow-1">
                                        <li class="mb-2 border-dashed border-bottom d-table pb-2" id="use"><i
                                                class="bi bi-check me-2 fs-5 align-middle size-20 center-both bg-primary text-white rounded-circle"></i>
                                                <span id="payDate"></span></li>
                                        <li class="mb-2 border-dashed border-bottom d-table pb-2" id="off"><i
                                                class="bi bi-check me-2 fs-5 align-middle size-20 center-both bg-primary text-white rounded-circle"></i>
                                                <span id="merchantUid"></span></li>
                                    </ul>
                                </div>
                            </div>
                                            </div>
			                            <div class="d-grid">
			                               	<button class="btn btn-primary" type="button" id="goRefund">환불</button>
			                   			</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</th:block>

<th:block layout:fragment="script">
  <script>
  
	
  </script>
  <script th:inline="javascript">
  $(function() {
	 cancelButton();
	 function cancelButton(){
			if($('.cancelStatus').text()=="환불완료"){
				$('.refund').remove();
			}
		} 
	 
	 
	 
    $('.refund').on('click',function(){
    	var tr= $(this).closest('tr');
    	let merchantUid= $(tr).find('td').eq(0).text();
    	let userId=userSession.userId;
    	let subTerm =$(tr).find('td').eq(1).text();
    	let payAmount =$(tr).find('td').eq(2).text();
    	let payDate = $(tr).find('td').eq(5).text();
    	
    	$('#payAmount').text(payAmount);
    	$('#subTerm').text(subTerm);
    	$('#payDate').text("결제일자 : "+payDate);
    	$('#merchantUid').text("결제번호 : " +merchantUid);
    	
    	$('#goRefund').on('click',function(){
      		$(this).attr('disabled','true');
    		$.ajax({
    			url : '../refund', //'../AddItemServlet.do'
    			method : 'post',
    			data : {
    				userId : userId,
    				merchantUid : merchantUid,
    			},
    			success : function(result) {
    				console.log(result);
    				swal(result,"", "success",
   						{button : {text : "확인",className : "btn btn-primary"}
    				}).then(()=>{
			        	window.location.reload();
						console.log("응애!");
					});
    			},
    			error : function(error) {
    				console.log(error);
    				swal("환불에 문제가 생겼습니다!","", "error",
       						{button : {text : "확인",className : "btn btn-primary"}
        				}).then(()=>{
    			        	window.location.reload();
    						console.log("응애!");
    					});
    			}
    		});
      		
      	})
  }); //ajax 끝
  
  	
	});
  </script>
</th:block>

</html>