<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
	
	<th:block layout:fragment="content">
		<div class="tm-page-wrap mx-auto">
			<section class="p-5 tm-container-outer tm-bg-white">
				<div class="container">
					<div class="row">
	<div class="col-lg-12">
		<h5 class="page-header" th:with="var1='내가 쓴글 리스트(총' +${count}+ '건)'"  th:text="${var1}")></h5>
	</div>
	<!-- /.col-lg-12 -->
						<div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
						  
	<table class="table" id="board">
		<thead>
            <tr>
                <th>분류</th>
                <th>글제목</th>
                <th>날짜</th>
                <th>조회수</th>
                <th>추천수</th>
            </tr>
        </thead>
		<tbody>
          <th:block th:each="board : ${list}">
            <tr>
              <td th:text="${board.postDistinct}"></td>
              <td th:text="${board.postTitle}"></td>
              <td th:text="${#dates.format(board.postUpdated,'yyyy.MM.dd')}"></td>
              <td th:text="${board.hit}"></td>
              <td th:text="${board.postLikeCount}"></td>
            </tr>
          </th:block>

		</tbody>
	</table>
	
<!-- 	<form id ="actionForm" action="list" method="get">
	  <select name = "type">
	    <option value="" <c:out value="${pageMaker.cri.type==null ? 'selected':''}"/>>선택</option>
	    <option value="T" ${pageMaker.cri.type=='T' ? 'selected' : "" } >제목</option>
	    <option value="C" <c:out value="${pageMaker.cri.type=='C' ? 'selected':''}"/>>내용</option>
	    <option value="W" <c:out value="${pageMaker.cri.type=='W' ? 'selected':''}"/>>작성자</option>
	    <option value="TC" <c:out value="${pageMaker.cri.type=='TC' ? 'selected':''}"/>>제목 또는 내용</option>
	    <option value="TW" <c:out value="${pageMaker.cri.type=='TW' ? 'selected':''}"/>>제목 또는 작성자</option>
	    <option value="TCW" <c:out value="${pageMaker.cri.type=='TCW' ? 'selected':''}"/>>제목 또는 내용 또는 작성자</option>
	  </select>
	  <input name="keyword" value="${pageMaker.cri.keyword}">
	  <button class="btn btn-default">검색</button>
	  <input type="hidden" name="pageNum" value="${pageMaker.cri.pageNum}">
	  <input type="hidden" name="amount" value="${pageMaker.cri.amount}">
	</form> -->
	
	<div class ="pull-right">
	  <ul class ="pagination">
	  
	    <li class="paginate_button previous">
	    	<a th:href="@{/mypage/myinfo_my_write_list(pageNum=${pageMaker.startPage+1})}" th:text="'이전'"></a>
	    </li>
	   <!--  "@{/mypage/myinfo_my_write_list?(pageNum=${pageMaker.startPage+1})}" -->
	   <!--  "@{'/mypage/myinfo_my_write_list?pageNum='+${pageMaker.startPage+1}}"  -->

	    
<!--                 
        <th:block th:each="num: ${#numbers.seqeunce(pageMaker.startPage, pageMaker.endPage)}" >
	      <li class="paginate_button"><a th:href="${num}" th:text="${num}"></a></li>
	    </th:block>
	    
	    <li th:if ="${pageMaker.next }" class="paginate_button previous"><a th:href="${pageMaker.endPage+1}" th:text="'다음'"></a></li> -->
	    
<!-- 	    <c:if test = "${pageMaker.prev }" >
	      <li class="paginate_button previous"><a href="${pageMaker.startPage-1}">이전</a></li>
	    </c:if>
	    <c:forEach begin="${pageMaker.startPage }" end="${pageMaker.endPage }" var="num" >
	      <li class="paginate_button"><a href="${num}">${num }</a></li>
	    </c:forEach>
	    <c:if test = "${pageMaker.next }" >
	      <li class="paginate_button previous"><a href="${pageMaker.endPage+1}">다음</a></li>
	    </c:if> -->
	    
	  </ul>
	</div>
<!-- /.row -->
							
						</div>
					</div>
				</div>
			</section>
		</div>
	</th:block>
	
</html>