<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">

<th:block layout:fragment="css">
  <style>

  </style>
</th:block>

<th:block layout:fragment="content">
<br>
<br>
<br>
<br>
        <!--Main content-->

        <main class="main-content" id="main-content">
            <section class="position-relative bg-white">
                <div class="container position-relative pt-3 pb-4">
                    <div class="row">
                        <div class="col-md-6">
                            <nav class="d-md-flex" aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item">
                                        <a href="#!">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Profile
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!--/.row-->

                </div>
            </section>
            <section class="position-relative">
                <div class="container position-relative">
                    <div class="overflow-hidden">
                        
                        <!--Profile info header-->
                        <div class="position-relative pb-7 pb-lg-12">
                            <div class="row">
                                <div class="col-lg-3 mb-5 mb-lg-0">
                                    <div class="h-lg-100">
                                        <div class="card bg-gradient-light h-lg-100 p-3">
                                            <div>
                                                <!--profile image-->
                                                <div class="size-160 mb-5 rounded-circle shadow bg-no-repat overflow-hidden bg-contain"
                                                    style="background-image: url(/assets/img/avatar/4.jpg);">
                                                </div>
                                                <h4 class="mb-2">[[${userInfo.name}]]</h4>
                                                <small class="d-block mb-3">[[${userInfo.nickName}]]</small>
                                                <ul class="list-unstyled border-bottom pb-3 mb-3">
                                                    <li class="d-flex align-items-stretch mb-2">
                                                        <i class="bi bi-geo-alt-fill me-2 align-middle text-muted"></i>
                                                        <span class="small">[[${myAddress}]]</span>
                                                    </li>
                                                    <li class="d-flex align-items-stretch mb-2">
                                                        <i class="bi bi-globe me-2 align-middle text-muted"></i>
                                                        <a href="#!"
                                                            class="small link-hover-decoration">https://emilydoe.com/</a>
                                                    </li>
                                                    <li class="d-flex align-items-stretch mb-2">
                                                        <i
                                                            class="bi bi-check fs-5 lh-1 text-success me-2 align-middle"></i>
                                                        <span class="small">Available for hire</span>
                                                    </li>
                                                    <li class="d-flex align-items-stretch mb-2">
                                                        <i class="bi bi-twitter me-2 align-middle text-muted"></i>
                                                        <a href="#!" class="small link-hover-decoration">@emily.dev</a>
                                                    </li>
                                                    <li class="d-flex align-items-stretch mb-2">
                                                        <i class="bi bi-linkedin me-2 align-middle text-muted"></i>
                                                        <a href="#!" class="small link-hover-decoration">emilyatin</a>
                                                    </li>
                                                    <li class="d-flex align-items-stretch mb-2">
                                                        <i class="bi bi-instagram me-2 align-middle text-muted"></i>
                                                        <a href="#!" class="small link-hover-decoration">emily93</a>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled border-bottom pb-3 mb-3">
                                                    <li class="d-flex justify-content-between align-items-center mb-2">
                                                        <span class="small">Followers</span>
                                                        <span class="fs-5">134</span>
                                                    </li>
                                                    <li class="d-flex justify-content-between align-items-center mb-2">
                                                        <span class="small">Following</span>
                                                        <span class="fs-5">23</span>
                                                    </li>
                                                </ul>
                                                <div class="d-grid">
                                                    <button class="btn btn-light border shadow-sm mb-2 py-1"
                                                        type="button"><i
                                                            class="bi bi-person-plus fs-6 align-middle lh-1"></i>
                                                        Follow</button>
                                                    <button class="btn btn-primary shadow-sm py-1" type="button"><i
                                                            class="bi bi-envelope fs-6 align-middle lh-1"></i>
                                                        Message</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="d-flex flex-column h-100">
                                        <nav class="nav mb-3 nav-pills">
                                            <a href="main" class="nav-link"><i class="bi bi-person-circle me-2 align-middle"></i>My profile</a>
                                            <a href="myinfo_my_course_list" class="nav-link"><i class="bi bi-people me-2 align-middle"></i>저장된 코스</a>
                                            <a href="myinfo_my_write_list" class="nav-link"><i class="bi bi-layers me-2 align-middle"></i>내가 쓴 글</a>
                                            <a href="myinfo_my_comment_list" class="nav-link"><i class="bi bi-credit-card me-2 align-middle"></i>내가 쓴 코멘트</a>
                                            <a href="myinfo_my_payment_list" class="nav-link active"><i class="bi bi-diagram-2 me-2 align-middle"></i>결제 내역</a>
                                            <a href="myinfo" class="nav-link"><i class="bi bi-gear me-2 align-middle"></i>정보 수정</a>
                                        </nav>

                                        <div class="card shadow-sm p-3 h-100">
                                            <div class="row align-items-center">
									            
									            
									            <section class="position-relative">
									                <div class="container py-3">
									                    <table class="table" id="payment">
															<thead>
													            <tr>
													                <th>결제번호</th>
													                <th>구독권</th>
													                <th>결제금액</th>
													                <th>환불금액</th>
													                <th>처리상태</th>
													                <th>결제일자</th>
													                <th>환불일자</th>
													                <th></th>
													                <!-- <th></th> -->
													            </tr>
													        </thead>
															<tbody>
													          <th:block th:each="pinfo : ${payInfo}">
													            <tr>
													              <td th:text="${pinfo.merchantUid}"></td>
													              <td th:text="${pinfo.subTerm}+'개월권'"></td>
													              <td th:text="${pinfo.payCost}"></td>
													              <td th:if="${pinfo.cancelAmount!=null}" th:text="${pinfo.cancelAmount}"></td>
								                                  <td th:text="${pinfo.cancelAmount==0 ? '결제완료':'환불완료'}"></td>
													              <td th:text="${#dates.format(pinfo.payDate,'yyyy.MM.dd')}"></td>
													              <td th:text="${#dates.format(pinfo.cancelDate,'yyyy.MM.dd')}"></td>
													              <td th:if="${#calendars.createNow().getTimeInMillis() - pinfo.payDate.getTime() < 345600000}">
													              
													              <a href="#refunding" data-bs-toggle="modal" class="btn btn-sm btn-outline-light border text-secondary shadow-sm">
													              
													              <i class="me-1 bi bi-check fs-6 lh-1"></i>환불하기</a></td>
													              <!--  <td th:text ="${#calendars.format(#calendars.)}"></td> -->
													              <!-- #calendars.createNow().getTimeInMillis() -->
													            </tr>
													          </th:block>													          
															</tbody>
														</table>
									                </div>
									                <!--/.container-end-->
									            </section>
									            
									            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
        <!-- 환불 모달창 -->
        <div class="modal fade" id="refunding" tabindex="-1" aria-labelledby="refunding"
                    aria-hidden="true" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
                    
                        <div class="modal-content border-0">
                            <div class="modal-body p-0 border-0">
                                <button type="button"
                                    class="btn-close position-absolute end-0 top-0 mt-2 me-2 me-md-n3 mt-md-n3 size-40 p-0 center-both rounded-circle bg-tint-primary z-index-1"
                                    data-bs-dismiss="modal" aria-label="Close">
                                    <i class="bi bi-x fs-5"></i>
                                </button>
                                <div class="d-md-flex row">
                                   
                                   <!-- 왼쪽 사진 -->
                                    <div class="col-md-6">
                                        <img th:src="@{/img/coupleImage8.jpg}" alt=""
                                            class="d-block rounded-top d-md-none img-fluid">
                                        <div
                                            class="d-none d-md-flex overflow-hidden bg-shade-primary rounded-3 rounded-end-0 h-md-100 position-relative">
                                            <img th:src="@{/img/coupleImage8.jpg}" alt="" class="bg-image">
                                        </div>
                                    </div>
                                    
                                    <!-- 오른쪽 -->
                                    <div class="col-md-6 h-100">
                                        <div class="h-100 py-5 px-4 position-relative">
                                            
                                            <h2 class="display-6 mb-2">
                                            이용권환불
                                            </h2>
                                            <p>환불정보</p>
                                            <div class="position-relative">
                                            	<div class="col-lg-12 mb-12 mb-lg-0 aos-init aos-animate" data-aos="fade-up"
                                data-aos-delay="100">
                                <div
                                    class="card card-body p-4 z-index-1 rounded-xl border-0 shadow-lg d-flex flex-column overflow-hidden h-100">
                                    <span
                                        class="p-3 width-220 height-20 d-flex align-items-center justify-content-center bg-tint-info text-info position-absolute end-0 top-0 rotate-45 mt-5 me-n7">
                                        이벤트</span>
                                    <div class="position-relative overflow-hidden">
                                        <h6 id="subterm"></h6>
                                        <div class="price display-4" id="subprice">
                                            </div>
                                    </div>
                                    <!--/.price-card-header-->
                                    <ul class="d-flex flex-column list-unstyled py-4 mb-0 flex-grow-1">
                                        <li class="mb-2 border-dashed border-bottom d-table pb-2" id="use"><i
                                                class="bi bi-check me-2 fs-5 align-middle size-20 center-both bg-info text-white rounded-circle"></i></li>
                                        <li class="mb-2 border-dashed border-bottom d-table pb-2" id="off"><i
                                                class="bi bi-check me-2 fs-5 align-middle size-20 center-both bg-info text-white rounded-circle"></i></li>
                                        <li class="mb-2 border-dashed border-bottom d-table pb-2" id="store"><i
                                                class="bi bi-check me-2 fs-5 align-middle size-20 center-both bg-info text-white rounded-circle"></i></li>
                                    </ul>
                                </div>
                            </div>
             
            <br>
                                            </div>
			                            <div class="d-grid">
			                               	<button class="btn btn-primary" type="button" id="refund">환불</button>
			                   			</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</th:block>

<th:block layout:fragment="script">
  <script>
	
  </script>
  <script th:inline="javascript">
  $(function() {
    $('#refund').on('click',function(){
    	
    })
  }); //ajax 끝
	var refunding = document.getElementById('refunding')
      	refunding.addEventListener('show.bs.modal', function (event) {
      	var button = event.relatedTarget
      	var item =$(button).data("payInfo")
      	console.log(item.merchantUid);
        })  
  </script>
</th:block>

</html>