<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">

<th:block layout:fragment="css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css"> -->
  <style>

  </style>
</th:block>

<th:block layout:fragment="content">

<!--Main content-->
<main class="main-content" id="main-content">
    <section class="position-relative bg-white">
        <div class="container position-relative pt-3 pb-4">
            <div class="row">
                <div class="col-md-6">
                    <nav class="d-md-flex" aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="#!">Home</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Profile
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--/.row-->

        </div>
    </section>
    <section class="position-relative">
                <div class="container position-relative">
                
                    <div class="overflow-hidden">
                        <!--Profile info header-->
                        <div class="position-relative pb-7 pb-lg-12">
                            <div class="row">
                            
                                <div class="col-lg-9 mx-auto">
                                    <div class="pt-5 d-flex flex-column h-100">
                                        <nav class="nav mb-5 nav-pills">
                                            <a href="main" class="nav-link"><i class="bi bi-person-circle me-2 align-middle"></i>My profile</a>
                                            <a href="myinfo_my_course_list" class="nav-link active"><i class="bi bi-people me-2 align-middle"></i>저장된 코스</a>
                                            <a href="myinfo_my_write_list" class="nav-link"><i class="bi bi-layers me-2 align-middle"></i>내가 쓴 글</a>
                                            <a href="myinfo_my_comment_list" class="nav-link"><i class="bi bi-credit-card me-2 align-middle"></i>내가 쓴 코멘트</a>
                                            <a href="myinfo_my_payment_list" class="nav-link"><i class="bi bi-diagram-2 me-2 align-middle"></i>결제 내역</a>
                                            <a href="myinfo" class="nav-link"><i class="bi bi-gear me-2 align-middle"></i>정보 수정</a>
                                        </nav>
                                        <div class="card border-light p-3 mb-3">
                                                      <section class="position-relative">
                <div class="container py-7 py-lg-11">
                    <div class="row">
                            
                        <div class="col-12">
                            <div class="pe-lg-4 pe-md-2">
                                <article class="card align-items-stretch flex-md-row mb-4 mb-md-7 border-0 no-gutters"
                                    data-aos="fade-up">
                                    <div class="col-lg-5">
                                        <a href="#!" class="d-block rounded-3 overflow-hidden hover-shadow hover-lift">
                                            <img src="/assets/img/800x732/4.jpg" alt="" class="img-fluid rounded-3">
                                        </a>
                                    </div>
                                    <div class="card-body d-flex flex-column col-auto p-md-0 ps-md-4">
                                        <div class="d-flex mb-0 justify-content-between">
                                            <span class="d-inline-flex align-items-center small">
                                                <svg class="bi bi-clock me-2 text-muted" width="1em" height="1em"
                                                    viewBox="0 0 16 16" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
                                                    </path>
                                                    <path fill-rule="evenodd"
                                                        d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
                                                    </path>
                                                </svg>
                                                <span class="text-muted">16 November</span>
                                            </span>
                                            <a href="#!" class="small">Business</a>
                                        </div>
                                        <h3 class="mb-3 h2 mt-3">
                                            <a href="#!" class="text-dark flex-grow-1 d-block">
                                                What are the 3 most important things needed for effective teamwork?
                                            </a>
                                        </h3>
                                        <p class="mb-4 flex-grow-1 d-none d-lg-block">
                                            It uses a dictionary of over 200 Latin words, combined with a handful of
                                            model
                                            sentence structures, to generate Lorem Ipsum which looks reasonable.
                                        </p>
                                        <div class="d-flex mb-0 small align-items-center">
                                            <img src="assets/img/avatar/3.jpg" alt=""
                                                class="avatar sm me-2 rounded-circle">
                                            <span class="text-muted d-inline-block">By <a href="#!"
                                                    class="text-dark">Andrew</a></span>
                                        </div>
                                    </div>
                                    <!--/.card-body-->
                                </article>
                                <!--/.article-->
                                <article class="card align-items-stretch flex-md-row mb-4 mb-md-7 border-0 no-gutters"
                                    data-aos="fade-up">
                                    <div class="col-lg-5">
                    <div class="swiper-container swiper-progress rounded-2 overflow-hidden shadow-lg">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide rounded-2 overflow-hidden">
                                <img src="/assets/img/800x732/4.jpg" alt="" class="img-fluid rounded-2 position-relative">
                            </div>
                            <div class="swiper-slide rounded-2 overflow-hidden">
                                <img src="/assets/img/800x732/4.jpg" alt="" class="img-fluid rounded-2 position-relative">
                            </div>
                            <div class="swiper-slide rounded-2 overflow-hidden">
                                <img src="/assets/img/800x732/4.jpg" alt="" class="img-fluid rounded-2 position-relative">
                            </div>
                        </div>
                        <div class="swiper-pagination swiperProgress-pagination swiper-pagination-progressbar"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiperProgress-button-next bg-white size-30"></div>
                        <div class="swiper-button-prev swiperProgress-button-prev bg-white size-30"></div>
                    </div>              
                                    </div>
                                    <div class="card-body d-flex flex-column col-auto p-md-0 ps-md-4">
                                        <div class="d-flex mb-0 justify-content-between">
                                            <span class="d-inline-flex align-items-center small">
                                                <svg class="bi bi-clock me-2 text-muted" width="1em" height="1em"
                                                    viewBox="0 0 16 16" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
                                                    </path>
                                                    <path fill-rule="evenodd"
                                                        d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
                                                    </path>
                                                </svg>
                                                <span class="text-muted">3rd January</span>
                                            </span>
                                            <a href="#!" class="small">Design</a>
                                        </div>
                                        <h3 class="mb-3 h2 mt-3">
                                            <a href="#!" class="text-dark flex-grow-1 d-block">
                                                5 most popular google fonts you should use into your next project
                                            </a>
                                        </h3>
                                        <p class="mb-4 flex-grow-1 d-none d-lg-block">
                                            All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                            chunks
                                            as necessary...
                                        </p>
                                        <div class="d-flex mb-0 small align-items-center">
                                            <img src="assets/img/avatar/7.jpg" alt=""
                                                class="avatar sm me-2 rounded-circle">
                                            <span class="text-muted d-inline-block">By <a href="#!"
                                                    class="text-dark">Anjum
                                                    Al Habib</a></span>
                                        </div>
                                    </div>
                                    <!--/.card-body-->
                                </article>
                                <!--/.article-->


                            </div>

                            <div class="row pt-3 justify-content-end">
                                <div class="col-auto">
                                    
                                    <nav class="mb-0" aria-label="Page navigation example">
                                        <ul class="pagination mb-0">
                                            <li class="page-item" th:classappend="!${pageMaker.prev} ? disabled">
                                                <a class="page-link" th:href="${pageMaker.startPage-1}" aria-label="Previous">
                                                    <svg class="bi bi-chevron-left" width="1em" height="1em"
                                                        viewBox="0 0 16 16" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </li>
									        <th:block th:each="num: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}" >
										      <li class="page-item active">
										        <a class="page-link" th:href="${num}" th:text="${num}"></a>
										      </li>
										    </th:block>
                                            <li class="page-item" th:classappend="!${pageMaker.next} ? disabled">
                                                <a class="page-link" th:href="${pageMaker.endPage+1}" aria-label="Next">
                                                    <svg class="bi bi-chevron-right" width="1em" height="1em"
                                                        viewBox="0 0 16 16" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    
                                </div>
                            </div>
                            <!--/.Pagination-row-->
                        </div>
                        <!--/.col-->

                    </div>
                    <!--/.blog-row-->
                </div>
            </section>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>                                          
</main>



			<div class="tm-page-wrap mx-auto">
			<section class="p-5 tm-container-outer tm-bg-white">
				<div class="container">
					<div class="row">
	  
	  
	<form id ="actionForm" action="" method="get">
	  <select name="category" class="custom-select">
	    <option value="A" th:selected="${#strings.equals(pageMaker.cri.category,'A')}">전체보기</option>
	    <option value="B" th:selected="${#strings.equals(pageMaker.cri.category,'B')}">내가만든</option>
	    <option value="C" th:selected="${#strings.equals(pageMaker.cri.category,'C')}">넘이만든</option>
	  </select>
	  <select name = "type" class="custom-select">
	    <option value=""  th:selected="${#strings.isEmpty(pageMaker.cri.type)}">선택</option>
	    <option value="T" th:selected="${#strings.equals(pageMaker.cri.type, 'T')}">제목</option>
	    <option value="C" th:selected="${#strings.equals(pageMaker.cri.type, 'C')}">내용</option>
	    <option value="TC" th:selected="${#strings.equals(pageMaker.cri.type,'TC')}">제목 또는 내용</option>	  
	  </select>
	  <input name="keyword" th:value="${pageMaker.cri.keyword}">
	  <button class="btn btn-default" onclick="$('[name=pageNum]').val(1)">검색</button>
	  <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">
	  <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
	</form>

	<div class ="pull-right">
	  <ul class ="pagination">  
	    <li th:if="${pageMaker.prev }" class="page-item">
	    	<a class="page-link" th:href="${pageMaker.startPage-1}" th:text="'이전'"></a>
	    </li>
	    
	    <th:block th:each="num: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}" >
	      <li class="page-item">
	      <a class="page-link" th:href="${num}" th:text="${num}"></a>
	      </li>
	    </th:block>
	    
	    <li th:if="${pageMaker.next }" class="page-item">
	    	<a class="page-link" th:href="${pageMaker.endPage+1}" th:text="'다음'"></a>
	    </li>
	  </ul>
	</div>
	  	

		<!-- Tab 4 -->
		<div class="tab-pane fade show active">
			<!-- 카드1 -->
			<div>
				<th:block th:each="c: ${#numbers.sequence(0,list.size-1)}">
					<!-- (0,course.size-1) -->
					<!-- Current Active Tab WITH "show active" classes in DIV tag -->
					<div class="tm-recommended-place-wrap">
						<div class="tm-recommended-place">
							<img src="img/tm-img-06.jpg" alt="Image"
								class="img-fluid tm-recommended-img">
							<div class="tm-recommended-description-box">
								<br>
								<h3 class="tm-recommended-title"
									th:text="${list[c].courseName}"></h3>
									
								<span th:if="${list[c].userId==session.userSession.userId }" class="badge rounded-pill bg-info text-warning">나의코스</span>
								<span th:if="${list[c].userId!=session.userSession.userId }" class="badge rounded-pill bg-info text-danger">스크랩</span>
								<!-- 코스 -->
								<br>
								<p class="tm-text-highlight" th:text="${list[c].region}" style="font-size: 15px;"></p>
								<p class="tm-text-gray"></p>
								<th:block th:each="d: ${#numbers.sequence(0,detail.size-1)}">
								  <i th:if="${list[c].courseId==detail[d].courseId}" th:text="${detail[d].placeName}"></i>
								</th:block>
							</div>
							<!-- <a href="#" class="tm-recommended-price-box"> -->
							<div class="tm-recommended-price-box">
								<p class="tm-recommended-price-link" style="font-size: 15px;">평균비용</p>
								<p class="tm-recommended-price" th:text="'₩ '+${list[c].sumCost}" style="font-size: 20px;"></p>
								<p><button th:data-courseId="${list[c].courseId}"
								           th:data-userId="${list[c].userId}"
								           onclick="courseDelFunc(this)">삭제</button></p>
							</div>
							<!-- </a> -->
						</div>
					</div>
			</th:block>
			</div>
		</div>

					</div>
				</div>
			</section>
		</div>
</th:block>
<!-- .main-content -->

<th:block layout:fragment="script">
	<script>
	
	//삭제 함수
	function courseDelFunc(obj){
      let userId =$(obj).attr('data-userId');
      let courseId =$(obj).attr('data-courseId');
	  let result = confirm("삭제하시겠습니까?");
	  console.log(userId);
	  console.log(courseId);
	  if(result) {
		  $.ajax({
			  url: "deleteCourse",
			  type:'DELETE',
			  data : JSON.stringify({ userId: userId,
                                      courseId:courseId }),
			  dataType:'json',
			  contentType:'application/json;charset="UTF-8"',
			  success:function(result){
				  if(result==true){
					  alert("코스가 삭제 되었습니다.")
					  actionForm.submit();
				  }    
			  },
			  error:function(){
			  }
		  })//ajax end==
	  }  
	}
	
		$(function() {
			//세션 아이디 쓰기
			let userSessionId = userSession == null ? "" : userSession.userId;
			
			var actionForm = $("#actionForm")
			
/* 		   		$.ajax({
	    			url: "",
	    			method : "post",
	    			data : JSON.stringify({ userId: userSessionId,
	    			                     }),
	    			//async : false, //아이작스 끝나야 다음이 실행됨 동기식
	    			dataType : "json",
	    			contentType : "application/json;charset=UTF-8",
	    			success: function(datas){
	    				let placeTag = "";
	    				for(data of datas){
	    					placeTag ="<i>"+data.placeName+"</i>"
	    					$("#"+data.courseId).append(placeTag)
	    				}
	    			},
	    			error : function(){
	    				
	    			}
	    		}) */
	    	  
		           
			  //상세보기
		/*      $(".move").on("click", function(e){
		        e.preventDefault();
		        var bno= $(this).attr("href")
		        actionForm.append('<input type="hidden" name="bno" value="'+bno+'">')
		        actionForm.attr("action","get")
		        actionForm.submit();
		      }) */
		      
		      //페이징 클릭
		      $(".pull-right a").on("click", function(e){
		        e.preventDefault(); //a,submit 기본기능 막기
		    	var p = $(this).attr("href");
		    	$('[name="pageNum"]').val(p);
		    	actionForm.submit();
		      });
		      
		      //분류 검색
		      $("select[name=category]").on("change", function(){
			    actionForm.submit();
		      });

		     
		});/* script function 끝! */
	</script>
</th:block>
</html>