<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">

<th:block layout:fragment="css">
	<style>
.mainTitle {
	font-family: 'Black Han Sans', sans-serif;
	font-weight: 100;
	text-align: center;
}
.cusBadge{
	padding:10px;
	border-radius:12px;
}
div{
	font-family: 'Nanum Gothic', sans-serif;
	font-weight:bold;
}
</style>
</th:block>

<th:block layout:fragment="content">
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-- 임시로 헤더 밑에가게 -->

	<div class="container">
		<form class="form-horizontal form-view"
			th:action="@{/coupleLog/coupleLogUpdate}" th:object="${log}"
			method="post">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header mainTitle">커플로그</h1><br>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-12">
					<div class="row">
						<div class="col-lg-6">
							<input type="hidden" id="logId" name="logId"
								th:value="${log.logId}"> 제목 <input type="text"
								class="form-control" name="logTitle" th:value="${log.logTitle}"
								placeholder="내용을 입력해주세요"> 내용 <input type="text"
								name="logContent" th:value="${log.logContent}"
								class="form-control" placeholder="내용을 입력해주세요">

						</div>
						<div class="col-lg-6">
							날짜 <input type="date" name="logDate" class="form-control"
								th:value="${log.logDate}" placeholder="내용을 입력해주세요">
							<!-- th:value="${#dates.format(logList.logDate,'yyyy.MM.dd)}" -->

							위치 <input type="text" class="form-control" name="logLoc"
								th:value="${log.logLoc}" placeholder="내용을 입력해주세요">
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="form-group">
				<div class="col-md-12">
					<div class="row">

						<div class="card-columns" th:if="${img} != null">
							<div style="text-align: center;">
								<span class="badge cusBadge" style="background-color:#f73e69;">Photo</span><br><br>
								<img
									th:attr="src=@{'/img/coupleLog/' + ${img.imgUrl}}, alt=${img.imgUrl}"
									class="img-fluid tm-recommended-img cardImgCus"
									style="width: 250px; height: 250px;">
							</div>
						</div>




						<!-- <div class="col-lg-7">
							사진 선택 <input class="form-control imgBtn" id="file"
								th:value=${logList.imgUrl} type="file" placeholder="내용을 입력해주세요"><br>
							사진 캡션 <input type="text" name="caption" class="form-control"
								th:value=${logList.caption} placeholder="내용을 입력해주세요">
						</div> -->

						<!-- <input type="hidden" id="imgId" name="imgId"> -->

					</div>
				</div>
			</div>
			<hr>


			<br>
			
			<div style="text-align: center;">
			
			
				<button type="button" class="btn btn-primary"
					onclick="location.href='./logList'">리스트</button>
				<button id="updatebtn" type="submit" class="btn btn-primary">수정</button>
				<button type="submit" class="btn btn-light"
					formaction="coupleLogDelete">삭제</button>
			</div>

		</form>
		<br> <br>



	</div>
</th:block>
<th:block layout:fragment="script">
	<script>
	$(document).ready(
			function() {
				$("#updatebtn").on("click",function(){
					alert("수정되었습니다")
				})
			});
	</script>
</th:block>

</html>