<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
	
<th:block layout:fragment="css">
	<style>

.fontCus {
	text-align: center;
}

img {
	background-size: cover;
}
.dodamFont,h6,.cusRec{
	font-family: 'Nanum Gothic', sans-serif;
	font-weight:600;
}
</style>
</th:block>

<th:block layout:fragment="content">
	<div class="container py-7 py-lg-12 position-relative z-index-1">
		<div style="text-align: right;">
		<button class="btn btn-primary cusRec" style="font-size: 13px;"
			onclick="location.href='./coupleLogRecord'">기록하기</button>
		</div>	<!-- END OF 버튼 -->
		<br>
		<div id="projects" data-isotope='{"layoutMode": "masonry"}' class="row g-2">
			<th:block th:if="${logList} != null">
				<div class="col-md-6 col-lg-3 design development grid-item"
					th:each="c: ${logList}">
					<a th:href="@{|/coupleLog/logOne?logId=${c.logId}|}"
						class="text-white bg-gradient-dark position-relative d-block overflow-hidden card-hover-2">
						<!-- <img th:attr="src=@{'/img/coupleLog/' + ${c.imgUrl}}, alt=${c.imgUrl}"
						class="img-fluid img-zoom"> --> <!-- 오류시 기본 이미지 --> <img
						th:attr="src=@{'/img/coupleLog/' + ${#strings.isEmpty(c.imgUrl) ? 'lavender.jpg' : c.imgUrl}}, alt=${c.imgUrl}"
						class="img-fluid img-zoom cusImg"> <!-- img th:src="${(comment.user.image != null && 
						!#strings.isEmpty(comment.user.image)) ? comment.user.image :
						 '/images/default-user.png'}" th:alt="${comment.user.nameSurname}"/> -->

						<div
							class="card-hover-2-overlay position-absolute start-0 top-0 w-100 h-100 d-flex px-4 py-5 flex-column justify-content-between dodamFont">
							<div class="card-hover-2-header w-100">
								<!-- <div class="card-hover-2-title">
									<h6 class="fs-5 mb-2" style="font-weight:bold;" ></h6>
								</div> -->
								<p class="mb-0" th:text="${c.logTitle}"></p>
								<p class="mb-0" th:text="${c.caption}" style="font-size:12px; font-weight:100;"></p>
							</div>
							<div class="card-hover-2-footer w-100 mt-auto">
								<span class="tags d-block flex-grow-1"></span> 
								<span class="card-hover-2-footer-link"> 
								<span th:text="${c.logUpdated}"></span>
								</span>
							</div>
						</div>
					</a>
					<!-- A 태그 끝-->
				</div>	<!-- LOG LIST 끝 -->
			</th:block>
		</div>
	</div>
	<!-- container-fluid -->
</th:block>
<th:block layout:fragment="script">
	<script>
		
	</script>
</th:block>
</html>