<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">

<th:block layout:fragment="css">
	<style>
.mainTitle {
	font-family: 'Black Han Sans', sans-serif;
	font-weight: 100;
	text-align: center;
}

.cusBadge {
	padding: 10px;
	border-radius: 12px;
}

div {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
}
</style>
</th:block>

<th:block layout:fragment="content">
	<div class="container">
		<form class="form-horizontal form-view"
			th:action="@{/coupleLog/coupleLogUpdate}" th:object="${log}"
			method="post">
			<div class="row">
				<div class="col-lg-12"><br>
					<h1 class="page-header mainTitle">커플로그</h1>
					<br>
				</div>
			</div> <!--커플로그 헤더 -->

			<div class="form-group">
				<div class="col-md-12">
					<div class="row">
						<div class="col-lg-6">
							<input type="hidden" id="logId" name="logId" th:value="${log.logId}"> 
							제목 <input type="text" name="logTitle" th:value="${log.logTitle}" class="form-control"> 
							내용 <input type="text" name="logContent" th:value="${log.logContent}" class="form-control">
 							캡션 <input type="text" name="caption" th:value="${log.caption}" class="form-control">
						</div>
						<div class="col-lg-6">
							날짜 <input type="date" name="logDate" class="form-control" th:value="${log.logDate}" placeholder="내용을 입력해주세요">
							위치 <input type="text" class="form-control" name="logLoc" th:value="${log.logLoc}" placeholder="내용을 입력해주세요">
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="form-group">
				<div class="col-md-12">
					<div class="row">
						<div class="card-columns" th:if="${img} != null" data-aos="fade-">
							<div style="text-align: center;">
								<span class="badge cusBadge" style="background-color: #f73e69;">Photo</span><br>
								<br> <img
									th:attr="src=@{'/img/coupleLog/' + ${img.imgUrl}}, alt=${img.imgUrl}"
									class="img-fluid tm-recommended-img cardImgCus">
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>

			<div style="text-align: center;">
				<button type="button" class="btn btn-primary"
					onclick="location.href='./logList'">리스트</button>
				<button id="updateBtn" type="submit" class="btn btn-light">수정</button>
				<button id="deleteBtn" type="submit" class="btn btn-primary"
					formaction="coupleLogDelete">삭제</button>
			</div>
			
			
		</form>
		<br> <br>
	</div>
</th:block>
<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			$("#updateBtn").on("click", function() {
				swal("수정되었습니다","","success");
			});

			$("#deleteBtn").on("click", function() {
				swal("삭제되었습니다","","success");
			});

		});
	</script>
</th:block>

</html>