<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.meetme.coupleinfo.mapper.CoupleInfoMapper">
<select id="coupleInfoSelect" resultType="CoupleInfoVO">
	SELECT U.NAME,
           U.NICKNAME,
           U.BIRTH_DAY,
           I.IMG_URL AS USER_IMG,
           CO.COUPLE_DATE,
           CO.START_DATE,
           CO.SUB_TERM,
           CO.USER_REQUEST,
           CO.USER_RECEIVED,
           CO.IMG_URL AS COUPLE_IMG
	FROM USER_INFO U
	JOIN IMG I
	ON U.IMG_ID = I.IMG_ID
	JOIN (SELECT C.COUPLE_DATE,
	             C.START_DATE,
	             C.SUB_TERM,
	             C.USER_REQUEST,
	             C.USER_RECEIVED,
	             M.IMG_URL
        FROM COUPLE_INFO C JOIN IMG M
        ON C.IMG_ID = M.IMG_ID) CO
	ON U.USER_ID IN(CO.USER_REQUEST,
                    CO.USER_RECEIVED)
	WHERE USER_ID=#{userId}
</select>
<select id="myLoverInfo" resultType="CoupleInfoVO">
	SELECT U.NAME AS name,
			U.NICKNAME AS nickName,
			U.BIRTH_DAY AS birthDay,
			I.IMG_URL AS userImg
	FROM USER_INFO U 
	JOIN IMG I
	ON U.IMG_ID = I.IMG_ID
	JOIN 
	COUPLE_INFO C
	ON U.USER_ID 
	IN (C.USER_RECEIVED,C.USER_REQUEST)
	WHERE U.USER_ID=(SELECT US.USER_ID
	                 FROM USER_INFO US 
	                 JOIN COUPLE_INFO CO
	                 ON US.USER_ID 
	                 IN (CO.USER_REQUEST,
	                 	CO.USER_RECEIVED)
	                 WHERE CO.COUPLE_ID = #{coupleId}
	                 <![CDATA[AND US.USER_ID <> #{userId}]]>
	                 )
</select>
<insert id="coupleInfoInsert"> <!-- 커플 탄생 -->
	<selectKey keyProperty="coupleId" resultType="int" order="BEFORE">
		SELECT SEQ_COUPLEINFO.NEXTVAL FROM DUAL
		</selectKey>
	INSERT INTO COUPLE_INFO(COUPLE_ID,
                               COUPLE_STATUS,
                               USER_REQUEST,
                               IMG_ID,
                               SUB_TERM,
                               START_DATE)
	VALUES(#{coupleId},
			default,
			#{userRequest},
			default,
			#{subTerm},
			default)
</insert>
<update id="updateCoupleImage"> <!-- 커플 대문이미지 넣기 -->
	UPDATE COUPLE_INFO SET IMG_ID=(SELECT IMG_ID
								    FROM IMG
								    WHERE IMG_URL=#{imgUrl})
	WHERE COUPLE_ID=#{coupleId}
</update>
<update id="couplePhotoDefault"> <!-- 대문이미지 초기화 -->
	UPDATE COUPLE_INFO SET IMG_ID=default
	WHERE COUPLE_ID=#{coupleId}
</update>

<update id="updateDday">  <!-- 커플 d-day 바꾸기 -->
	UPDATE COUPLE_INFO SET COUPLE_DATE=#{coupleDate}
	WHERE COUPLE_ID =#{coupleId}
</update>


<update id="coupleInfoUpdate"> <!-- 기존 커플 갱신 -->
	UPDATE COUPLE_INFO SET SUB_TERM=#{subTerm},
							<choose>
								<when test='startDate != null'>
										START_DATE=#{startDate},
								</when>
							<otherwise>
								START_DATE=SYSDATE,
							</otherwise>
						</choose>
							COUPLE_STATUS=#{coupleStatus}
	WHERE COUPLE_ID=#{coupleId}
</update>

<update id="coupleMatching"> <!-- 커플 신청 수락 시 -->
	UPDATE COUPLE_INFO SET USER_RECEIVED=#{userReceived}
	WHERE COUPLE_ID=#{coupleId}
</update>
<select id="read" resultType="CoupleInfoVO"> <!-- 커플의 기본정보 불러오기 -->
	SELECT *
	FROM COUPLE_INFO
	WHERE COUPLE_ID =#{coupleId}
</select>
<update id="userCoupleStatusUpdate"> <!-- 유저 커플상태 수정 -->
    UPDATE USER_INFO 
    SET COUPLE_STATUS =#{coupleStatus}
    WHERE USER_ID =(SELECT USER_REQUEST
                    FROM COUPLE_INFO
                    WHERE USER_REQUEST =#{userId}
                    OR USER_RECEIVED = #{userId})
    OR USER_ID=(SELECT USER_RECEIVED
                FROM COUPLE_INFO
                WHERE USER_REQUEST =#{userId}
                OR USER_RECEIVED =#{userId})
</update>
<select id="userCoupleStatusRead" resultType="CoupleInfoVO"> <!-- 유저의 커플상태 불러오기 -->
	SELECT COUPLE_STATUS
	FROM USER_INFO
	WHERE USER_ID =#{userId}
</select>
<delete id="deleteCoupleInfo"> <!-- 매칭 전 환불 시 테이블 삭제 -->
	DELETE FROM COUPLE_INFO
	WHERE USER_REQUEST = #{userId}
</delete>

<select id="findLove" resultType="CoupleInfoVO">
	SELECT U.EMAIL,
			U.USER_ID,
			U.NICKNAME,
			U.COUPLE_STATUS,
			I.IMG_URL AS userImg
	FROM USER_INFO U
	JOIN IMG I
	ON U.IMG_ID = I.IMG_ID
	WHERE U.EMAIL = #{email}
</select>
</mapper>