<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.meetme.coupleinfo.mapper.CoupleInfoMapper">
<select id="coupleInfoSelect" resultType="CoupleInfoVO">
	SELECT U.NAME,
           U.NICKNAME,
           U.BIRTH_DATE,
           I.IMG_URL AS USER_IMG,
           CO.COUPLE_DATE,
           CO.START_DATE,
           CO.SUB_TERM,
           CO.USER_REQUEST,
           CO.USER_RECEIVED,
           CO.IMG_URL AS COUPLE_IMG
	FROM USER_INFO U
	JOIN IMG I
	ON U.IMG_ID = I.IMG_ID
	JOIN (SELECT C.COUPLE_DATE,
	             C.START_DATE,
	             C.SUB_TERM,
	             C.USER_REQUEST,
	             C.USER_RECEIVED,
	             M.IMG_URL
        FROM COUPLE_INFO C JOIN IMG M
        ON C.IMG_ID = M.IMG_ID) CO
	ON U.USER_ID IN(CO.USER_REQUEST,
                    CO.USER_RECEIVED)
	WHERE USER_ID=#{userId}
</select>
<select id="myLoverInfo" resultType="CoupleInfoVO">
	SELECT U.NAME AS name,
			U.NICKNAME AS nickName,
			U.BIRTH_DATE AS birthDate,
			I.IMG_URL AS userImg
	FROM USER_INFO U 
	JOIN IMG I
	ON U.IMG_ID = I.IMG_ID
	JOIN 
	COUPLE_INFO C
	ON U.USER_ID 
	IN (C.USER_RECEIVED,C.USER_REQUEST)
	WHERE U.USER_ID=(SELECT US.USER_ID
	                 FROM USER_INFO US JOIN COUPLE_INFO CO
	                 ON US.USER_ID IN (CO.USER_REQUEST,CO.USER_RECEIVED)
	                 WHERE CO.COUPLE_ID = #{coupleId}
	                 <![CDATA[AND US.USER_ID <> #{userId}]]>
	                 )
</select>
<insert id="coupleInfoInsert"> <!-- 커플 탄생 -->
	<selectKey keyProperty="coupleId" resultType="int" order="BEFORE">
		SELECT SEQ_COUPLEINFO.NEXTVAL FROM DUAL
		</selectKey>
	INSERT INTO COUPLE_INFO(COUPLE_ID,
                               COUPLE_STATUS,
                               USER_REQUEST,
                               IMG_ID,
                               SUB_TERM,
                               START_DATE)
	VALUES(#{coupleId},
			default,
			#{userRequest},
			default,
			#{subTerm},
			default)
</insert>
<update id="coupleCustomUpdate"> <!-- 커플정보 사용자 insert -->
	UPDATE COUPLE_INFO SET COUPLE_DATE=#{coupleDate},
							IMG_ID=#{imageId}
	WHERE COUPLE_ID=#{coupleId}
</update>
<update id="couplePhotoDefault"> <!-- 대문이미지 초기화 -->
	UPDATE COUPLE_INFO SET IMG_ID=default
	WHERE COUPLE_ID=#{coupleId}
</update>
<update id="coupleInfoUpdate"> <!-- 기존 커플 갱신 -->
	UPDATE COUPLE_INFO SET USER_REQUEST=#{userRequest},
							SUB_TERM=#{subTerm},
							START_DATE=SYSDATE
	WHERE COUPLE_ID=#{coupleId}
</update>
<update id="coupleMatching"> <!-- 커플 신청 수락 시 -->
	UPDATE COUPLE_INFO SET user_received=#{userReceived}
	WHERE COUPLE_ID=#{coupleId}
</update>
<select id="read" resultType="CoupleInfoVO">
	SELECT *
	FROM COUPLE_INFO
	WHERE COUPLE_ID =#{coupleId}
</select>
</mapper>