<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.meetme.main.mapper.MainMapper">
	<!-- 태그 전체 불러오기  -->
	<select id="tagList" resultType="MainVO">
		SELECT * FROM TAGS
	</select>
	
	<!-- 수정 -->
	<select id="placeList" resultType="MainVO">
	<!-- SELECT p.PLACE_NAME,p.REGION, t.TAG_ID
		FROM PLACE p  JOIN PLACE_TAGS t
		ON p.place_id = t.place_id
		ORDER BY DBMS_RANDOM.VALUE -->
		SELECT p.*, t.TAG_ID
	    FROM PLACE p  LEFT OUTER JOIN PLACE_TAGS t
	    ON p.place_id = t.place_id
	    WHERE p.place_id=#{placeId}
	</select>
	
	<!-- 서울, 인천 -->
	<select id="addressList" resultType="MainVO">
		SELECT DISTINCT SUBSTR(ADDRESS,'1',INSTR(ADDRESS,' ',1,1)-1) ADDRESS 
		FROM PLACE
	
	</select>
	<!-- 중구, 송파구 -->
   <select id="addressSec" resultType="MainVO">
	  SELECT DISTINCT SUBSTR(ADDRESS,INSTR(ADDRESS,' ',1,1)+1,((INSTR(ADDRESS,' ',1,2)-INSTR(ADDRESS,' ',1,1))-1)) ADDRESSSEC 
      FROM PLACE
      WHERE SUBSTR(ADDRESS,'1',INSTR(ADDRESS,' ',1,1)-1) =#{address}
	</select>
	<!-- 대전광역시 중구 -->
	<select id="regionCourse" resultType="MainVO">
		SELECT * FROM COURSE WHERE REGION = #{region}
	</select>
	
	<select id="courseList" parameterType="String" resultType="MainVO">
		<!-- SELECT c.COURSE_NAME, c.REGION, o.AVG_COST
		FROM course c JOIN course_order o
		ON c.COURSE_ID = o.COURSE_ID
		ORDER BY DBMS_RANDOM.VALUE -->
		SELECT p.THUMBNAIL_HREF,c.COURSE_NAME, c.REGION, o.AVG_COST
		FROM course c , course_order o , PLACE p
        WHERE c.COURSE_ID = o.COURSE_ID AND o.PLACE_ID = p.PLACE_ID 
      	AND c.region = #{address} 
	</select>
	
	<select id="courseListReco" resultType="MainVO">
		<!-- SELECT p.THUMBNAIL_HREF,c.COURSE_ID,c.COURSE_NAME, c.REGION, o.AVG_COST
		FROM course c , (select * from course_order where course_order = 1) o , PLACE p
        WHERE c.COURSE_ID = o.COURSE_ID AND o.PLACE_ID = p.PLACE_ID 
        ORDER BY c.COURSE_ID DESC -->
        
        SELECT p.THUMBNAIL_HREF,c.COURSE_ID,c.COURSE_NAME,
				(SELECT avg_cost FROM 
        		(SELECT course_id,
        		 SUM(avg_cost) avg_cost
        FROM course_order GROUP BY course_id) c 
        WHERE c.course_id = o.course_id) avg_cost
		FROM course c ,(select * from course_order where course_order = 1) o, PLACE p
        WHERE c.COURSE_ID = o.COURSE_ID AND o.PLACE_ID = p.PLACE_ID 
        ORDER BY c.COURSE_ID DESC
	</select>
	
</mapper>