<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <h1>Access Login</h1>
    <h3>Login with Username and Password</h3>
    <form name="f" action="/login" method="POST">
        <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}">
        <table>
            <tbody>
                <tr>
                    <td>User:</td>
                    <td><input type="text" name="username" value=""></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td colspan="2"><input name="submit" type="submit" value="Login"></td>
                </tr>
            </tbody>
        </table>
        <div id="naver_id_login"></div>
    </form>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" src ="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var naver_id_login = new naver_id_login("WrjXbVphPhh4Y5doCESn", "http://localhost:8000/naver/login");
            var state = naver_id_login.getUniqState();
            naver_id_login.setButton("white", 2, 40);
            naver_id_login.setDomain("http://localhost:8000/login");
            naver_id_login.setState(state);
            naver_id_login.setPopup();
            naver_id_login.init_naver_id_login();
        });
    </script>
</th:block>

</html>