<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
	<h1>Access Login</h1>
	<h3>Login with Username and Password</h3>
    <form name="f" action="/login" method="POST">
        <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}">
        <table>
            <tbody>
                <tr>
                    <td>User:</td>
                    <td><input type="text" name="username" value=""></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td colspan="2"><input name="submit" type="submit" value="Login"></td>
                </tr>
            </tbody>
        </table>
    </form>
</th:block>
</html>