<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    
    <main>
        <section class="bg-white position-relative">
            <div class="container py-9 position-relative z-index-1">
                <div class="row align-items-center justify-content-center">
                    <div class=" col-xl-4 col-lg-5 col-md-6 col-sm-8 z-index-2">
                        <h2 class="mb-1 display-6">
                            환영합니다!!
                        </h2>
                        <br>
                        <div class="position-relative">
                            <div>
                                <!-- 로그인 form -->
                                <form action="/login" method="POST">
                                    <!-- csrf 처리 -->
                                    <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}">
                                    <!-- /csrf 처리 -->

                                    <!-- email input -->
                                    <div class="input-icon-group mb-3">
                                        <!-- icon -->
                                        <span class="input-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                            </svg>
                                        </span>
                                        <!-- /icon -->

                                        <input type="email" class="form-control" name="username" autofocus required placeholder="이메일">
                                    </div>
                                    <!-- /email input -->

                                    <!-- password input -->
                                    <div class="input-icon-group mb-3">
                                        <!-- icon -->
                                        <span class="input-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                            </svg>
                                        </span>
                                        <!-- /icon -->

                                        <input type="password" name="password" class="form-control" required placeholder="비밀번호">
                                    </div>
                                    <!-- /password input -->

                                    <!-- 비밀번호 찾기 -->
                                    <label class="mb-3 d-block small mb-0">
                                        <a th:href="@{/findPwd}" class="text-muted link-underline">
                                            비밀번호를 잊어버리셨나요?
                                        </a>
                                    </label>
                                    <!-- /비밀번호 찾기 -->

                                    <!-- 로그인 버튼 -->
                                    <div class="d-grid mb-3">
                                        <button class="btn btn-primary" type="submit">
                                            로그인
                                        </button>
                                    </div>
                                    <!-- /로그인 버튼 -->
                                </form>
                                <!-- /로그인 form -->

                                <!-- 회원가입 하러가기 -->
                                <label class="d-block small mb-0">
                                    <a th:href="@{/signUp}" class="text-muted link-underline">
                                        아직 계정이 없으신가요?
                                    </a>
                                </label>
                                <!-- /회원가입 하러가기 -->

                                <!-- Divider -->
                                <div class="d-flex align-items-center py-3">
                                    <span class="flex-grow-1 border-bottom pt-1"></span>
                                    <span
                                        class="d-inline-flex center-both lh-1 size-30 rounded-circle bg-white text-mono">or</span>
                                    <span class="flex-grow-1 border-bottom pt-1"></span>
                                </div>
                                <!-- /Divider -->

                                <!-- 네이버 로그인 커스텀 버튼 -->
                                <div class="d-grid">
                                    <a href="#" id="naverLogin"
                                        class="d-flex hover-lift btn-outline-secondary mb-2 btn position-relative center-both">
                                        <!--Main Icon-->
                                        <div class="position-relative d-flex align-items-center">
                                            <img th:src="@{/assets/img/brands/btnG_아이콘사각.png}" alt="" class="width-20 me-2">
                                            <span>네이버로 로그인하기</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- /네이버 로그인 커스텀 버튼 -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- 네이버 로그인 버튼 -->
    <div id="naver_id_login" style="display: none;"></div>
    <!-- /네이버 로그인 버튼 -->

</th:block>
<th:block layout:fragment="script">
    <!-- 네이버 로그인 cdn -->
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8">
    </script>

    <script type="text/javascript" th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            // 네이버 로그인 구현
            let naverIdLogin = new naver_id_login("WrjXbVphPhh4Y5doCESn", "http://localhost:8000/naver/login");
            let state = naverIdLogin.getUniqState();
            naverIdLogin.setButton("white", 2, 40);
            naverIdLogin.setDomain("http://localhost:8000/login");
            naverIdLogin.setPopup();
            naverIdLogin.setState(state);
            naverIdLogin.init_naver_id_login();
            // 네이버 로그인 구현

            // 커스텀 로그인 버튼에 naver로그인 연결
            $('#naverLogin').on('click', function () {
                $('#naver_id_login').children().eq(0).click()
            });

            if(currentURL == 'login?error'){
                swal('로그인에 실패했습니다.','','error');
            }
        });
    </script>


</th:block>

</html>