<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
<script type="text/javascript"
	src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
	charset="utf-8"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>

<body>
	<div id="naver_id_login"></div>
	
	<script type="text/javascript">
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });
		let naverIdLogin=null;
		$(function() {
			naverIdLogin = new naver_id_login("WrjXbVphPhh4Y5doCESn", "http://ec2-3-141-206-88.us-east-2.compute.amazonaws.com/naver/login");
			// 접근 토큰 값 출력
			// 네이버 사용자 프로필 조회
			$.ajax({
				url: "/naver/login",
				method: "post",
				data : naverIdLogin.oauthParams.access_token,
				contentType : "application/json;charset='utf-8'",
				success : function(data){
					opener.parent.location = "/";
					window.close();			
				}
			})
		});
	</script>
</body>

</html>