<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="~{layout/layout}">

<th:block layout:fragment="css">

</th:block>

<th:block layout:fragment="content">
    <main>
        <section class="bg-white position-relative">

            <div class="container py-9 pt-lg-12 position-relative z-index-1">
                <div class="row align-items-center justify-content-center">
                    <div class=" col-xl-4 col-lg-5 col-md-6 col-sm-8 z-index-2">

                        <h2 class="mb-1 display-6">
                            환영합니다!
                        </h2>
                        <br>

                        <div class="position-relative">
                            <div>
                                <form action="/signUp" method="post" enctype="multipart/form-data">
                                    <!-- csrf 처리 -->
                                    <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}">
                                    <!-- /csrf 처리 -->

                                    <!-- -->
                                    <div class="input-icon-group mb-3">
                                        <span class="input-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                class="bi bi-envelope" viewBox="0 0 16 16">
                                                <path
                                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                            </svg>
                                        </span>
                                        <input type="text" class="form-control" name="email" required autofocus placeholder="이메일">
                                    </div>

                                    <div class="input-icon-group mb-3">
                                        <span class="input-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                            </svg>
                                        </span>
                                        <input type="text" class="form-control" name="password" required placeholder="비밀번호">
                                    </div>

                                    <div class="input-icon-group mb-3">
                                        <span class="input-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                            </svg>
                                        </span>
                                        <input type="text" class="form-control" name="name" required placeholder="이름">
                                    </div>

                                    <div class="input-icon-group mb-3">
                                        <span class="input-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                            </svg>
                                        </span>
                                        <input type="text" class="form-control" name="nickname" required placeholder="닉네임">
                                    </div>

                                    <div class="input-icon-group mb-3">
                                        <span class="input-icon">
                                            <span class="icon-Phone-SMS"></span>
                                        </span>
                                        <input type="text" class="form-control" name="phoneNum" required readonly placeholder="전화번호" style="cursor: pointer;">
                                    </div>

                                    <div class="input-icon-group mb-3">
                                        <span class="input-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                            </svg>
                                        </span>
                                        <input type="text" class="form-control" name="address" required readonly placeholder="주소">
                                    </div>

                                    <div class="input-icon-group mb-3">
                                        <span class="input-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                class="bi bi-envelope" viewBox="0 0 16 16">
                                                <path
                                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                            </svg>
                                        </span>
                                        <input type="text" class="form-control" name="birthDate" required placeholder="생년월일">
                                    </div>

                                    <div class="d-grid">
                                        <button class="btn btn-primary mb-3" type="button" onclick="(function(){
                                            swal('아직 완성하지 못했습니다..ㅜ','조금만 기다려 주세요!', 'warning', {
                                                button : {
                                                    text : '확인',
                                                    className : 'btn btn-primary'
                                                },
                                            });
                                        })()">
                                            회원가입
                                        </button>
                                    </div>
                                </form>

                                <!-- 로그인 페이지로 이동 -->
                                <label class="d-block small mb-0">
                                    <a th:href="@{/login}" class="text-muted link-underline">
                                        이미 계정이 있으신가요?
                                    </a>
                                </label>
                                <!-- /로그인 페이지로 이동 -->

                                <!-- Divider -->
                                <div class="d-flex align-items-center py-3">
                                    <span class="flex-grow-1 border-bottom pt-1"></span>
                                    <span
                                        class="d-inline-flex center-both lh-1 size-30 rounded-circle bg-white text-mono">or</span>
                                    <span class="flex-grow-1 border-bottom pt-1"></span>
                                </div>
                                <!-- /Divider -->

                                <!-- 네이버 로그인 커스텀 버튼 -->
                                <div class="d-grid">
                                    <a href="#" id="naverLogin"
                                        class="d-flex hover-lift btn-outline-secondary mb-2 btn position-relative center-both">
                                        <!--Main Icon-->
                                        <div class="position-relative d-flex align-items-center">
                                            <img th:src="@{/assets/img/brands/btnG_아이콘사각.png}" alt=""
                                                class="width-20 me-2">
                                            <span>네이버로 가입하기</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- /네이버 로그인 커스텀 버튼 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- modal start -->
        <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true"
            data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-0">
                    <div class="position-relative border-0 pe-4">
                        <button type="button"
                            class="btn-close position-absolute end-0 top-0 me-3 mt-3 size-40 p-0 center-both rounded-circle bg-tint-primary z-index-1"
                            data-bs-dismiss="modal" aria-label="Close">
                            <i class="bi bi-x fs-5"></i>
                        </button>
                    </div>
                    <div class="modal-body py-5 border-0">
                        <div class="px-3">
                            <h2 class="mb-1 display-6">
                                본인인증
                            </h2>
                            <h5 class="mb-4 text-muted">
                                인증을 위해 전화번호를 입력해주세요
                            </h5>
                            <div class="position-relative">
                                <div>
                                    <div class="input-icon-group mb-3">
                                        <span class="input-icon">
                                            <span class="icon-Phone-SMS"></span>
                                        </span>
                                        <input type="text" data-format="custom" name="modalPhoneNum" data-delimiter="-"
                                            data-blocks="3 4 4" placeholder="전화번호" autofocus class="form-control">
                                    </div>
                                    <div class="input-icon-group mb-3 d-none">
                                        <span class="input-icon">
                                            <span class="input-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                                                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                                </svg>
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" name="modalCheckNum" placeholder="인증번호">
                                    </div>

                                    <div class="d-grid">
                                        <button class="btn btn-primary" name="modalCheckBtn" type="button">
                                            인증요청
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- 네이버 로그인 버튼 -->
    <div id="naver_id_login" style="display: none;"></div>
    <!-- /네이버 로그인 버튼 -->

</th:block>

<th:block layout:fragment="script">
    <!-- 네이버 로그인 cdn -->
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script th:src="@{/assets/vendor/cleave.js/cleave.min.js}"></script>
    <script th:src="@{/assets/js/custom/cleave.js}"></script>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", ()=>{

            // 네이버 로그인 구현
            let naverIdLogin = new naver_id_login("WrjXbVphPhh4Y5doCESn", "http://localhost:8000/naver/login");
            let state = naverIdLogin.getUniqState();
            naverIdLogin.setButton("white", 2, 40);
            naverIdLogin.setDomain("http://localhost:8000/login");
            naverIdLogin.setPopup();
            naverIdLogin.setState(state);
            naverIdLogin.init_naver_id_login();
            // 네이버 로그인 구현

            // 커스텀 로그인 버튼에 naver로그인 연결
            $('#naverLogin').on('click', function () {
                $('#naver_id_login').children().eq(0).click();
            });

            // 전화번호 인증
            let phoneReg = /^01([0|1|6|7|8|9])-?([0-9]{4})-?([0-9]{4})$/;
            let modalOpen = $('[name="phoneNum"]');
            let modalPhoneNum = $('[name="modalPhoneNum"]');
            let modalCheckNum = $('[name="modalCheckNum"]');
            let resultCheckNum = null;

            $(modalOpen).on('click', ()=>{
                $('#modalForm').modal('show');
            });

            // 모달 꺼졌을때 이벤트
            $('#modalForm').on('hidden.bs.modal', ()=>{
                // 실행 할 내용
                $(modalPhoneNum).val('');
                $(modalCheckNum).val('');
                resultCheckNum = null;
                $(modalCheckNum).parent().addClass('d-none');
            });

            $('[name="modalCheckBtn"]').on('click', (e)=>{
                let modalBtn = e.target;
                // console.log($(modalBtn).text().trim());

                if ($(modalBtn).text().trim() == "인증요청") {
                    if (!phoneReg.test($(modalPhoneNum).val())) {
                        swal('전화번호를 확인해주세요', '', 'error');
                        $(modalPhoneNum).focus();
                        return;
                    }

                    $(modalCheckNum).parent().removeClass('d-none');
                    $(modalBtn).text('인증완료');

                    // console.log(modalBtn);

                    // 자꾸하면 돈 나간다?!?!
                    // $.ajax({
                    //     url: '/api/certify',
                    //     method: 'post',
                    //     data: JSON.stringify({
                    //         to: $(modalPhoneNum).val().replaceAll('-',''),
                    //         from: '01096400615',
                    //     }),
                    //     dataType: 'json',
                    //     contentType: 'application/json;charset="utf-8"',
                    //     success: (result) => {
                    //         resultCheckNum = result;
                    //         // console.log(result);
                    //     },
                    //     error: (error) => {
                    //         console.log(error);
                    //     }
                    // });

                } else {
                    $(modalBtn).text('인증요청');
                    if(resultCheckNum == $(modalCheckNum).val()){
                        swal('인증이 완료되었습니다!', '' , 'success');
                        $(modalOpen).val($(modalPhoneNum).val());
                        $(modalOpen).off('click');
                        $('#modalForm').modal('hide');
                    } else{
                        swal('인증에 실패했습니다..!', '' , 'error');
                        $(modalCheckNum).val('');
                        $('#modalForm').modal('hide');
                    }
                }

            });
        });
    </script>

</th:block>

</html>