<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<th:block layout:fragment="css">
	<style>
		.font-nanum {
			font-family: 'Nanum Gothic', sans-serif;
		}
		button {
			font-size: 14px !important;
		}
		/* ul {
			list-style: none;
			height: 55px;
		}
		li {
			display: inline;
			float: left;
		} */
	</style>
</th:block>

<th:block layout:fragment="content">
	<main>
		<!-- Start Of Section -->
		<section class="position-relative">
			<!-- Start Of Container -->
			<div class="container py-7 py-lg-9">
				<!-- Start Of form -->
				<form th:action="@{/mypage/userTags}" th:object="${tags}" method="post">
					<input type="hidden" name="list">
					<input type="hidden" name="userId">
					<!-- Start Of row -->
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="d-flex align-items-center mb-4">
								<h6 class="mb-0 me-2 fw-bold font-nanum">Choose Your Tags!</h6>
								<span class="border-top d-block flex-grow-1 border-light"></span>
								<button type="button" id="submit"
									class="btn btn-rise btn-outline-primary m-2 font-nanum fw-bold p-2 rounded-pill">
									<div class="btn-rise-bg bg-primary"></div>
									<div class="btn-rise-text">SUBMIT</div>
								</button>
								<button type="submit" class="d-none"></button>
							</div>
							<ul class="tags form-control" style="height: 55px;"></ul>
							<div class="btn-tag-wrap">
								<th:block th:each="t,i: ${tags}">
									<button type="button" class="btn btn-primary btn-tag m-1 px-2 py-1"
											th:classappend="${i.index} >= 15 ? d-none"
											data-bs-toggle="tooltip" data-bs-placement="top" title="Try me!"
											th:text="${t.tagId}"></button>
								</th:block>
							</div>
							<!-- 더보기, 접기 버튼 -->
							<div class="col text-center mt-3">
								<button type="button" id="tagToggle" data-toggle="hide"
									class="btn btn-primary btn-circle-ripple p-0 size-70 rounded-pill fs-3 lh-1 center-both me-4 mb-3">
									<div>❤</div>
								</button>
							</div>
						</div>
					</div>
					<!-- End Of row -->
				</form>
				<!-- End Of form  -->
			</div>
			<!-- End Of Container -->
		</section>
		<!-- End Of Section -->
	</main>
</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">

		/*<![CDATA[*/
        const signUpUser = /*[[${signUpUser}]]*/'';
		const isSignUp = /*[[${signUp}]]*/'';
        /*]]>*/

		if(signUpUser == null){
			location.href = '/login';
		}

		if(isSignUp != null){
			if(isSignUp){
				swal('회원가입에 성공했습니다!','','success');
			} else if (!isSignUp){
				swal('회원가입에 실패했습니다!','','error')
				.then(()=>{
					location.href = '/login';
				});
			}
		}

		$(function() {
			const btnTags = $('.btn-tag');
			const ulTags = $('ul.tags');
			const btnTagWrap = $('.btn-tag-wrap');

			$(btnTags).on("click", (e)=>{
				let origin = e.target; // $('.btn-tag')
				let clone = $(origin).clone();
				let condition = $(origin).parent().hasClass('tags');
				
				if(!condition){
					if($(ulTags).children().length >= 5){
						swal('태그는 5개까지만 선택할 수 있습니다!', '', 'error');
					} else{
						$(ulTags).append(clone);
						$(origin).addClass('d-none');
					}
				}

				$(clone).on('click', (e)=>{
					$(e.target).remove();
					$(origin).removeClass('d-none');
				});
			});
			
			$('#submit').on('click', ()=>{
				let tags = $(ulTags).find('.btn-tag');
				let strtags = '';
				
				for(let t of tags){
					strtags += $(t).text();
					strtags += " ";
				}
				
				strtags = strtags.substring(0,strtags.length-1);
				
				$('input[name="list"]').val(strtags);
				$('input[name="userId"]').val(signUpUser);
				$('button[type="submit"]').click();
			});
	
			// 더보기 , 접기
			$("#tagToggle").click((e) => {
				let ths = e.target;
				if($(ths).data('toggle') == 'hide'){
					$(btnTags).removeClass('d-none');
					$(ths).data('toggle', 'show');
				} else{
					for(let i=15; i<btnTags.length; i++){
						$(btnTags).eq(i).addClass('d-none');
					}
					$(ths).data('toggle', 'hide');
				}
			});
		});
	</script>
</th:block>
</html>