<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<th:block layout:fragment="css">


</th:block>
<th:block layout:fragment="content">
	<section id="page-header" class="position-relative bg-shade-primary text-white overflow-hidden">
		<!--blob shape-->
		<svg class="position-absolute end-0 bottom-0 w-50 w-lg-40 h-auto text-primary" width="616" height="464"
			viewBox="0 0 616 464" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd"
				d="M529.02 0.372621C648.093 -8.86796 677.569 156.046 749.056 240.707C795.671 295.913 839.498 347.565 874.249 409.222C915.961 483.231 978.111 552.938 971.515 635.414C964.041 728.876 936.16 850.497 836.419 882.264C730.359 916.045 640.668 790.168 529.02 776.349C443.047 765.708 360.497 838.142 278.401 813.198C186.892 785.395 118.893 715.022 75.5428 638.567C27.1616 553.239 -34.224 443.94 23.1986 363.109C82.8766 279.102 248.222 335.31 335.376 272.811C431.969 203.541 405.102 9.98913 529.02 0.372621Z"
				fill="currentColor" />
		</svg>
		<!--blob shape-->
		<svg class="position-absolute end-0 bottom-0 w-50 mb-n4 mb-lg-n7 me-n7 h-auto text-white" width="616"
			height="464" viewBox="0 0 616 464" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd"
				d="M529.02 0.372621C648.093 -8.86796 677.569 156.046 749.056 240.707C795.671 295.913 839.498 347.565 874.249 409.222C915.961 483.231 978.111 552.938 971.515 635.414C964.041 728.876 936.16 850.497 836.419 882.264C730.359 916.045 640.668 790.168 529.02 776.349C443.047 765.708 360.497 838.142 278.401 813.198C186.892 785.395 118.893 715.022 75.5428 638.567C27.1616 553.239 -34.224 443.94 23.1986 363.109C82.8766 279.102 248.222 335.31 335.376 272.811C431.969 203.541 405.102 9.98913 529.02 0.372621Z"
				fill="currentColor" />
		</svg>
		<div class="container pt-11 pb-9 z-index-1 position-relative">
			<div class="row pb-lg-12 pb-7 pt-lg-7 justify-content-between align-items-end">
				<div class="col-lg-10 col-xl-8 mb-4 mb-md-0">
					<h6 class="mb-3 mb-lg-4 text-primary" th:text=${detail[0].nickname}>Heartsignal
					</h6>
					<h1 class="mb-4 display-2" th:text="${detail[0].courseName}">courseName</h1>
				</div>
			</div>
		</div>
	</section>
	<!--/.Page-header-->

	<section class="position-relative hr-linear-bottom bg-white">
		<div class="container pb-7">
			<div class="row">
				<div class="col-12">
					<div class="position-relative">
						<img src="assets/img/vectors/pattern-dots.svg" data-inject-svg alt=""
							class="width-60 h-auto position-absolute start-0 bottom-0 fill-primary ms-n4 mb-n4">
						<div id="map" class="mt-lg-n12 mt-n7 position-relative"
							style="width:100%; max-width: 1920px; max-height:1080px"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/section-->

	<section class="position-relative">
		<div class="container pb-7 pb-lg-12">
			<div class="row">
				<div class="col-lg-10 col-xl-9 mx-auto mb-5 mb-md-0">
					<th:block th:each="course : ${detail}">
						<blockquote
							class="blockquote ms-3 position-relative ps-5 ps-lg-9 border-start border-3 border-primary mb-7 mb-lg-12"
							data-aos="fade-up" th:data-lat="${course.latitude}" th:data-lng="${course.longtitude}">
							<div class="ms-3">
								<!--Quote icon-->
								<img class="fill-primary opacity-20 width-25 h-auto mb-3"
									src="assets/img/vectors/quote-sign.svg" alt="" data-inject-svg>
								<p class="mb-4 fs-2 text-secondary lh-sm" th:text="${course.courseComment}">
									placeName
								</p>
								<div>
									<h6 class="text-muted" th:text="${course.placeName}">
										placeName
									</h6>
									<h6 class="text-muted" th:text="${course.description}">
										description
									</h6>
									<h6 class="text-muted" th:text="${course.avgCost}">
										avgCost
									</h6>
								</div>
								<img th:src="${course.thumbnailHref}" alt="Image"
									class="img-fluid mb-4 position-relative">
							</div>
						</blockquote>
					</th:block>
				</div>
			</div>
		</div>
	</section>
</th:block>
<th:block layout:fragment="script">
	<!-- 네이버 지도 -->
	<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=v1v61xter8">
	</script>
	<script th:inline="javascript">
		// 페이지 로드
		$(function () {
			// 코스 정보
			/*<![CDATA[*/
			const detail = /*[[${detail}]]*/ '';
			/*]]*/

			let locations = []; // 코스 내의 장소 좌표 정보
			let centerLat = 0; // 지도 중심 좌표
			let centerLng = 0; // 지도 중심 좌표

			// 지도 사이즈 반응형
			let mapHeight = parseInt($('#map').css('width')) * 0.51;

			$('#map').css('height', mapHeight);

			$(window).resize(() => {
				$('#map').css('height', mapHeight);
			});
			// 지도 사이즈 반응형

			// 코스 내 장소 좌표 정보 저장
			for (let c of detail) {
				let course = {
					lat: c.latitude,
					lng: c.longtitude
				};
				locations.push(course);
				// 코스 내 장소 좌표 정보 저장

				// 중심 좌표 계산
				centerLat += parseFloat(c.latitude);
				centerLng += parseFloat(c.longtitude);
			}
			centerLat = centerLat / detail.length;
			centerLng = centerLng / detail.length;
			// 중심 좌표 계산
			
			// 줌 계산
			let highGap = 0;
			let zoomNum = 0;
			if(detail.length == 1) {
				zoomNum = 12;
			} else if (detail.length == 2){
				let courseOne = {
					lat: parseFloat(detail[0].latitude),
					lng: parseFloat(detail[0].longtitude)
				};
				let courseTwo = {
					lat: parseFloat(detail[1].latitude),
					lng: parseFloat(detail[1].longtitude)
				};
				let resultCourse = {
					lat: courseOne.lat - courseTwo.lat,
					lng: courseOne.lng - courseTwo.lng
				}
				
				if(resultCourse.lat < 0) {
					resultCourse.lat = -(resultCourse.lat)
				}
				if(resultCourse.lng < 0) {
					resultCourse.lng = -(resultCourse.lng)
				}
				
				let result = Math.sqrt(
					Math.pow(resultCourse.lng, 2) + 
					Math.pow(resultCourse.lat, 2)
				)
				highGap = result;
				zoomNum = 12 - Math.round(highGap);
			} else {
				
				for(let i=0; i<detail.length; i++) {
					for(let j=0; j<i; j++) {
						let courseOne = {
							lat: parseFloat(detail[i].latitude),
							lng: parseFloat(detail[i].longtitude)
						};
						let courseTwo = {
							lat: parseFloat(detail[j].latitude),
							lng: parseFloat(detail[j].longtitude)
						};
						let resultCourse = {
							lat: courseOne.lat - courseTwo.lat,
							lng: courseOne.lng - courseTwo.lng
						}
						
						if(resultCourse.lat < 0) {
							resultCourse.lat = -(resultCourse.lat)
						}
						if(resultCourse.lng < 0) {
							resultCourse.lng = -(resultCourse.lng)
						}
						
						let result = Math.sqrt(
							Math.pow(resultCourse.lng, 2) + 
							Math.pow(resultCourse.lat, 2)
						)
						
						if(highGap < result) {
							highGap = result;
							zoomNum = 12 - Math.ceil(highGap);
						}
					}
				}
			}
			// 줌계산 끝
			
			// 지도 생성
			let map = new naver.maps.Map('map', {
				center: new naver.maps.LatLng(centerLat, centerLng),
				zoom: zoomNum // 줌계산 후
			});
			// 지도 생성

			// 마커 생성
			let marker;
			let loc;
			let infowindow;
			let markerGroups = [];
			let markerGroup = {};

			for (let c of locations) {
				marker = new naver.maps.Marker({
					map: map,
					title: c.place,
					position: new naver.maps.LatLng(c.lat, c.lng),
					icon: {
						url: "https://img.icons8.com/officel/32/000000/place-marker--v2.png",
						size: new naver.maps.Size(50, 52),
						origin: new naver.maps.Point(0, 0),
						anchor: new naver.maps.Point(25, 26)
					}
				});

				loc = $('blockquote[data-lat="' + c.lat + '"][data-lng="' + c.lng + '"]');

				markerGroup = {
					marker: marker,
					loc: loc
				}

				markerGroups.push(markerGroup);
			}
			// 마커 생성

			// 마커 이벤트
			for (let m of markerGroups) {
				// 마커 클릭 이벤트
				naver.maps.Event.addListener(m.marker, 'click', () => {
					let offset = $(m.loc).offset();
					$('html, body').animate({
						scrollTop: (offset.top - ($(window).height()) / 3)
					}, 'fast', 'linear');
				});
				// 마커 클릭 이벤트

				// 마커와 짝 지어진 blockquata 태그 클릭 이벤트
				$(m.loc).on('click', () => {

					infowindow = new naver.maps.InfoWindow({
						content: $(m.loc).find('h6').eq(0).text()
					});

					if (infowindow.getMap()) {
						infowindow.close();
					}
					infowindow.open(map, m.marker);

					map.setCenter(new naver.maps.LatLng($(m.loc).attr('data-lat'), $(m.loc).attr('data-lng')));

					$('html, body').animate({
						scrollTop: ($('#map').offset().top - ($(window).height()) / 5)
					}, 'fast', 'linear');
				});
				// 마커와 짝 지어진 blockquata 태그 클릭 이벤트
			}
			// 마커 이벤트
		});
		// 페이지 로드
	</script>
</th:block>

</html>