<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<th:block layout:fragment="css">
	<link rel="stylesheet" href="assets/vendor/masterslider/style/masterslider.css">
	<link rel="stylesheet" href="assets/vendor/masterslider/skins/black-1/style.css">
<style>
.cusFont{
	font-family: 'Nanum Gothic', sans-serif;
	font-weight:bold;
}
.cusFontBold{
	font-family: 'Black Han Sans', sans-serif;
}
</style>
</th:block>

<th:block layout:fragment="content">
<main>
	<!--page-hero-master-slider-->
	<section class="position-relative overflow-hidden">

		<!--Slider divider-->
		<svg class="position-absolute start-0 bottom-0 z-index-1 text-white" preserveAspectRatio="none"
			width="100%" height="80" viewBox="0 0 1529 180" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M1529 -3.57628e-06L1401.58 31.924C1274.17 63.8481 1019.33 140.293 764.5 140.293C509.667 140.293 187.833 47.9916 127.417 31.924C67 15.8564 0 -3.57628e-06 0 -3.57628e-06V180H1529V-3.57628e-06Z"
				fill="currentColor"></path>
		</svg>
		<div class="ms-skin-black-1 master-slider" id="masterslider">
			<!--slide-1-->
			<div class="ms-slide bg-dark" data-delay="3" data-fill-mode="fill">
				<img class="opacity-30" src="assets/vendor/masterslider/style/blank.gif" alt="" title=""
					data-src="assets/img/backgrounds/bg7.jpg" />

				<!--Layer-->
				<div class="ms-layer position-absolute start-0 top-0 end-0 bottom-0 w-100 h-100"
					data-effect="fade" data-duration="1200" data-delay="200" data-hide-effect="fade"
					data-offset-x="0" data-height="100%" data-width="100%" data-offset-y="0"
					data-position="left">
					<svg class="w-100 h-100 position-absolute start-0 top-0" preserveAspectRatio="xMidYMid meet"
						width="565" height="565" viewBox="0 0 565 565" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_layer01)">
							<circle cx="282.5" cy="282.5" r="132.5" fill="#0F1321" />
						</g>
						<defs>
							<filter id="filter0_layer01" x="0" y="0" width="565" height="565"
								filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix" />
								<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
									result="shape" />
								<feGaussianBlur stdDeviation="75" result="effect1_foregroundBlur" />
							</filter>
						</defs>
					</svg>

				</div>

				<!--Layer-->
				<div class="ms-layer ms-title fw-semibold text-white" data-effect="front(800)"
					data-duration="1200" data-delay="600" data-ease="easeInOutCubic"
					data-hide-effect="top(long,false)" data-offset-x="0" data-offset-y="-60" data-origin="mc"
					data-position="center" data-masked="false">
					<div class="text-center">
						오늘<br>
						<span class="placeTitle fs-1">여기</span><br>
						어때?
					</div>
				</div>

				<!--Layer-->
				<a href="#" class="ms-layer ms-btn placeButton" data-effect="front(800)" data-duration="1200"
					data-delay="800" data-ease="easeInOutCubic" data-hide-effect="top(long,false)"
					data-offset-x="0" data-offset-y="130" data-origin="mc" data-position="center"
					data-masked="false"><span class="btn btn-lg btn-primary btn-sm">보러가기</span>
				</a>
			</div>
			<!--slide-2-->
			<div class="ms-slide bg-dark" data-delay="3" data-fill-mode="fill">
				<!--bg-->
				<img class="opacity-30" src="assets/vendor/masterslider/style/blank.gif" alt="" title=""
					data-src="assets/img/backgrounds/bg3.jpg" />

				<!--Layer-->
				<div class="ms-layer position-absolute w-100 h-100" data-effect="fade" data-duration="1200"
					data-delay="200" data-hide-effect="fade" data-offset-x="0" data-height="auto"
					data-width="auto" data-offset-y="0" data-position="center">
					<svg class="w-100 h-100 position-absolute start-0 top-0" preserveAspectRatio="xMidYMid meet"
						width="565" height="565" viewBox="0 0 565 565" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_layer02)">
							<circle cx="282.5" cy="282.5" r="132.5" fill="#0F1321" />
						</g>
						<defs>
							<filter id="filter0_layer02" x="0" y="0" width="565" height="565"
								filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix" />
								<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
									result="shape" />
								<feGaussianBlur stdDeviation="75" result="effect1_foregroundBlur" />
							</filter>
						</defs>
					</svg>

				</div>

				<!--Layer-->
				<div class="ms-layer ms-title fw-semibold text-center text-white"
					data-effect="skewbottom(-10,150)" data-duration="1000" data-delay="600"
					data-ease="easeInOutCubic" data-hide-effect="top(long,false)" data-offset-x="0"
					data-offset-y="-60" data-origin="mc" data-position="center" data-masked="false">
					<div>
						오늘<br>
						<span class="placeTitle fs-1">여기</span><br>
						어때?
					</div>
				</div>
				<!--Layer-->
				<a href="#" class="ms-layer ms-btn placeButton" data-effect="skewbottom(-10,150)" data-duration="1000"
					data-delay="900" data-ease="easeInOutCubic" data-hide-effect="top(long,false)"
					data-offset-x="0" data-offset-y="130" data-origin="mc" data-position="center"
					data-masked="false">
					<span class="btn btn-lg btn-primary btn-sm">보러가기</span>
				</a>
			</div>
			<!--slide-3-->
			<div class="ms-slide bg-dark" data-delay="3" data-fill-mode="fill">
				<!--bg-->
				<img class="opacity-30" src="assets/vendor/masterslider/style/blank.gif" alt="" title=""
					data-src="assets/img/backgrounds/bg5.jpg" />

				<!--Layer-->
				<div class="ms-layer position-absolute w-100 h-100" data-effect="fade" data-duration="1200"
					data-delay="200" data-hide-effect="fade" data-offset-x="0" data-height="auto"
					data-width="auto" data-offset-y="0" data-position="center">
					<svg class="w-100 h-100 position-absolute start-0 top-0" preserveAspectRatio="xMidYMid meet"
						width="565" height="565" viewBox="0 0 565 565" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_layer03)">
							<circle cx="282.5" cy="282.5" r="132.5" fill="#0F1321" />
						</g>
						<defs>
							<filter id="filter0_layer03" x="0" y="0" width="565" height="565"
								filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix" />
								<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
									result="shape" />
								<feGaussianBlur stdDeviation="75" result="effect1_foregroundBlur" />
							</filter>
						</defs>
					</svg>

				</div>

				<!--Layer-->
				<!--Layer-->
				<div class="ms-layer text-center ms-title fw-semibold text-white" data-effect="skewleft(23,500)"
					data-duration="1000" data-delay="900" data-ease="easeInOutSine"
					data-hide-effect="top(long,false)" data-offset-x="0" data-offset-y="-60" data-origin="mc"
					data-position="center" data-masked="false">
					<div>
						오늘<br>
						<span class="placeTitle fs-1">여기</span><br>
						어때?
					</div>
				</div>

				<!--Layer-->
				<a href="#" class="ms-layer ms-btn placeButton" data-effect="skewleft(23,500)" data-duration="1000"
					data-delay="1200" data-ease="easeInOutSine" data-hide-effect="top(long,false)"
					data-offset-x="0" data-offset-y="130" data-origin="mc" data-position="center"
					data-masked="false"><span class="btn btn-lg btn-primary btn-sm">보러가기</span>
				</a>
			</div>
		</div>
	</section>

	<section class="position-relative" id="next">
		<div class="container pt-7 pt-lg-12">
			<div class="row mb-5 mb-lg-9 justify-content-between align-items-end">
				<div class="col-lg-7 mx-auto text-center">
					<h2 class="display-4 mb-0" data-aos="fade-up">직접 코스를 만들어 보세요!
					</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="position-relative pb-lg-7 overflow-hidden mt-5">
		<div class="container pb-7 pt-7 pt-lg-0 z-index-1">
			<div class="row align-items-center justify-content-between">
				<div class="order-last order-lg-1 col-lg-6">
					<h2 class="mb-4 display-4 cusFontBold" data-aos="fade-right">Try Make the Course
					</h2>
					<p class="mb-5" data-aos="fade-up">
						
					</p>
					<div class="row">
						<div class="col-sm-8">
							<ul class="list-unstyled d-flex flex-column mb-0 cusFont">
								<li class="mb-3 d-flex" data-aos="fade-up" data-aos-delay="100">
									<i
										class="bi bi-check fs-5 me-2 lh-1 align-middle size-25 center-both bg-tint-success text-success rounded-circle"></i>
									<div class="flex-grow-1">
										원하는 태그를 골라보세요
									</div>
								</li>
								<li class="mb-3 d-flex" data-aos="fade-up" data-aos-delay="100">
									<i
										class="bi bi-check fs-5 me-2 lh-1 align-middle size-25 center-both bg-tint-success text-success rounded-circle"></i>
									<div class="flex-grow-1">
										우리만의 데이트 코스를 만들어보세요
									</div>
								</li>
								<li class="mb-3 d-flex" data-aos="fade-up" data-aos-delay="100">
									<i
										class="bi bi-check fs-5 me-2 lh-1 align-middle size-25 center-both bg-tint-success text-success rounded-circle"></i>
									<div class="flex-grow-1">
										직접 만든 데이트 코스로 데이트를 해보세요
									</div>
								</li>
								<!-- <li class="mb-3 d-flex" data-aos="fade-up" data-aos-delay="100">
									<i
										class="bi bi-check fs-5 me-2 lh-1 align-middle size-25 center-both bg-tint-success text-success rounded-circle"></i>
									<div class="flex-grow-1">
										Reusable components
									</div>
								</li> -->
							</ul>
						</div>
						<div class="col-sm-4">
							<!-- <ul class="list-unstyled d-flex flex-column mb-0">
								<li class="mb-3 d-flex" data-aos="fade-up" data-aos-delay="100">
									<i
										class="bi bi-check fs-5 me-2 lh-1 align-middle size-25 center-both bg-tint-success text-success rounded-circle"></i>
									<div class="flex-grow-1">
										Infinite features
									</div>
								</li>
								<li class="mb-3 d-flex" data-aos="fade-up" data-aos-delay="100">
									<i
										class="bi bi-check fs-5 me-2 lh-1 align-middle size-25 center-both bg-tint-success text-success rounded-circle"></i>
									<div class="flex-grow-1">
										beautiful designs
									</div>
								</li>
								<li class="mb-3 d-flex" data-aos="fade-up" data-aos-delay="100">
									<i
										class="bi bi-check fs-5 me-2 lh-1 align-middle size-25 center-both bg-tint-success text-success rounded-circle"></i>
									<div class="flex-grow-1">
										Well coded
									</div>
								</li>
								<li class="mb-3 d-flex" data-aos="fade-up" data-aos-delay="100">
									<i
										class="bi bi-check fs-5 me-2 lh-1 align-middle size-25 center-both bg-tint-success text-success rounded-circle"></i>
									<div class="flex-grow-1">
										Free lifetime updates
									</div>
								</li>
							</ul> -->
						</div>
					</div>
					<div class="mt-5" data-aos="fade-up" data-aos-delay="250">
						<a th:href="@{/createCourse}" class="btn btn-primary">
							코스 만들기 <i class="bi bi-arrow-right-short fs-4 align-middle lh-1 ms-1"></i>
						</a>
					</div>

				</div>
				<div class="col-lg-6 col-md-10 ms-lg-auto order-1 order-lg-last mb-6 mb-lg-0">
					<div class="position-relative position-absolute-lg w-lg-45 end-0 top-0" data-aos="fade-left"
						data-aos-delay="150">
						<img th:src="@{/img/oldCouple.jpg}" alt=""
							class="img-fluid position-relative shadow-lg">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="position-relative text-white overflow-hidden">
		<div class="position-absolute start-0 top-0 w-100 h-100 h-lg-60 bg-secondary"></div>
		<div class="container position-relative z-index-1 pt-7 pt-lg-12">
			<div class="row mb-7 align-items-end">
				<div class="col-lg-9 mb-5 mb-lg-0">
					<h2 class="mb-3 display-4" data-aos="fade-right">인기 코스</h2>
					<p class="mb-0 w-lg-75 lead cusFont" data-aos="fade-right" data-aos-delay="150">
						사람들이 많이 찾는 코스에요!
					</p>
				</div>
				<div class="col-12 col-lg-auto text-lg-end ms-auto" data-aos="fade-left" data-aos-delay="150">
					<a href="/post/community_list" class="link-hover-underline h6 cusFont">
						코스 더보기 <i class="bi bi-arrow-right fs-5 align-middle lh-1 ms-1"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="container pb-7 pb-lg-12">
			<div class="row">
				<div class="col-12 position-relative">

					<!--Projects swiper slider-->
					<div class="swiper-container swiper-3 overflow-visible">
						<div class="swiper-wrapper">
							<!--Swiper-slide -->
							<div class="swiper-slide" th:each="c: ${#numbers.sequence(0, 4)}">
								<!-- <a th:href="@{|/courseDetail?courseId=${reco[c].courseId}|}" class="card-over d-block card-hover overflow-hidden">
									<img th:src="${reco[c].thumbnailHref}" style="width:352px; height:396px; background-size: cover;" alt="" class="img-fluid img-zoom">
									<div class="card-overlay p-4 d-flex align-items-end text-white">
										<ul class="list-unstyled overlay-items">
											<li>
												<h5 class="mb-2" th:text="${reco[c].courseName}"></h5>
											</li>
											<li><span th:text="'₩ '+${reco[c].avgCost}"></span></li>
										</ul>
									</div>
								</a> -->
							</div> <!-- swiper-slide -->
						</div>	<!-- End Of swiper-contrainer -->
						
						
						
						<!-- Swiper Navigation buttons (Remove it or Keep it) -->
						<div class="position-relative d-flex justify-content-end pt-5 align-items-center">
							<!--Buttons navigation-->
							<div
								class="swiper3-button-prev swiper-button-prev mt-0 position-static rounded-3 me-2 bg-primary text-white">
							</div>
							<div
								class="swiper3-button-next swiper-button-next mt-0 position-static rounded-3 bg-primary text-white">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="position-relative" id="next">
		<div class="container pt-7 pt-lg-12">
			<div class="row mb-5 mb-lg-9 justify-content-between align-items-end">
				<div class="col-lg-7 mx-auto text-center">
					<h2 class="display-4 mb-0" data-aos="fade-up">커플이신가요?
					</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="position-relative bg-white overflow-hidden">
		<!--content-->
		<div class="container pb-7 pb-lg-12 position-relative">
			<div class="row align-items-center justify-content-lg-around">
				<div class="col-lg-6 order-last order-lg-1">
					<!-- <div class="mb-3" data-aos="fade-up">
						<h6 class="mb-3 text-muted">Focus on whats important</h6>
					</div> -->
					<h1 class="mb-4 display-4 cusFontBold" data-aos="fade-up" data-aos-delay="100">Try the CoupleLog</h1><br>
					<!-- <p class="mb-5 w-lg-80" data-aos="fade-up" data-aos-delay="150">
						Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
						industries for layouts and visual mockups.
					</p> -->
					<div class="position-relative z-index-1">
						<!--Feature icon card-->
						<div class="d-flex mb-4 mb-lg-5" data-aos="fade-up" data-aos-delay="150">
							<!--Feature icon-->
							<div class="me-4">
								<div
									class="size-25 text-success bg-tint-success rounded-circle position-relative center-both">
									<!--Icon-->
									<i class="bi bi-check position-relative fs-5"></i>
								</div>
							</div>

							<!--Feature text-->
							<div>
								<h5 class="cusFont">
									우리의 일상을 기록해보세요
								</h5>
								<!-- <p class="mb-0 w-lg-85">
									Purus faucibus pulvinar elementum nulla pharetra diam sit
									amet.
								</p> -->
							</div>
						</div>
						<!--Feature icon card-->
						<div class="d-flex mb-4 mb-lg-5" data-aos="fade-up" data-aos-delay="200">
							<!--Feature icon-->
							<div class="me-4">
								<div
									class="size-25 text-success bg-tint-success rounded-circle position-relative center-both">
									<!--Icon-->
									<i class="bi bi-check position-relative fs-5"></i>
								</div>
							</div>

							<!--Feature text-->
							<div>
								<h5 class="cusFont">
									사진으로 기억을 남겨보세요
								</h5>
								<!-- <p class="mb-0 w-lg-85">
									Viverra accumsan mauris rhoncus aenean vel elit
									scelerisque mauris.
								</p> -->
							</div>
						</div>
						<!--Feature icon card-->
						<div class="d-flex bg-white" data-aos="fade-up" data-aos-delay="250">
							<!--Feature icon-->
							<div class="me-4">
								<div
									class="size-25 text-success bg-tint-success rounded-circle position-relative center-both">
									<!--Icon-->
									<i class="bi bi-check position-relative fs-5"></i>
								</div>
							</div>

							<!--Feature text-->
							<div>
								<h5 class="cusFont">
									함께 데이트 코스를 만들어보세요
								</h5>
								<!-- <p class="mb-0 w-lg-85">
									Leo vel fringilla nulla etiam. Eget lorem dolor
									sed viverra ipsum.
								</p> -->
								<div class="mt-5" data-aos="fade-up" data-aos-delay="250">
								<a th:href="@{/coupleMain3}" class="btn btn-primary">
								커플로그 <i class="bi bi-arrow-right-short fs-4 align-middle lh-1 ms-1"></i>
								</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-6 order-1 order-lg-last mb-5 mb-lg-0" data-aos="fade-right">
					<div class="position-relative  pe-4 pb-4">
						<!--Pattern vector-->
						<img src="assets/img/vectors/pattern-dots.svg" alt=""
							class="position-absolute end-0 bottom-0 width-70 h-auto fill-warning"
							data-inject-svg>
						<!--Feature image-->
						<img th:src="@{/img/Hand.jpg}" alt=""
							class="img-fluid flip-x position-relative shadow-lg">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="position-relative bg-light">
		<div class="container px-lg-12 pt-9 pb-5 position-relative z-index-1">
			<div class="mb-5 px-lg-12 text-center" data-aos="fade-up" data-aos-delay="100">
				<h5 class="mb-0 cusFont">Hate is always foolish, but Love is always wise.</h5>
			</div>
		</div>
	</section>
</main>
</th:block>
<!-- .main-content -->

<th:block layout:fragment="script">
	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
	<script src="assets/vendor/jquery/jquery.easing.min.js"></script>
    <script src="assets/vendor/masterslider/masterslider.min.js"></script>
	<script>
		
		// ai 쓰기
		async function loadModel() {
			// tensor 모델 불러오기 (await 사용함)
            const model = await tf.loadLayersModel('model/my-model-1.json');    
            console.log(model);
            
            // 비로그인 대상자 초기값 지정
            nextResultIntList = "46,47,48";
            
            if(userSession != null) {
                $.ajax({
                	url : "/api/tensor/userTagAddrYear",
    				method : "GET",
    				success : function(data) {
    					console.log(data);
    					let cause = [];
    					let causeDetail = [];
    					const randomNum = parseInt(Math.floor(Math.random() * data.length))
    					causeDetail.push(parseInt(data[randomNum].tagNum));
    					causeDetail.push(parseInt(data[0].addrzonecode));
    					causeDetail.push(parseInt(data[0].birthYear));
    					cause.push(causeDetail);
    					
    					// 직접만든 tensorFlow.js model 사용
    					var nextCause = tf.tensor(cause);
    		            var nextResult = model.predict(nextCause).toString();
    		            
    		            nextResult = nextResult.substring(14, nextResult.length-3);
    		            nextResultList = nextResult.split(", ");
    		            
    		            // 문자열형으로 보내기
    		            nextResultIntList = "";
    		            
    		            for(let item of nextResultList) {
    		            	item = parseFloat(item);
    		            	item = Math.round(item);
    		            	nextResultIntList += String(item);
    		            	nextResultIntList += ",";
    		            }
    		            nextResultIntList = nextResultIntList.substring(0, nextResultIntList.length-1);
    		            
    		            $.ajax({
    		            	url : "/api/tensor/getPlaceList",
    						data : {
    							list : nextResultIntList,
    						},
    						method : "GET",
    						success : function(data) {
    							drawSlide(data)
    							var slider = new MasterSlider();
    							slider.setup('masterslider', {
    								width: 1140,
    								height: 660,
    								minHeight: 400,
    								space: 0,
    								start: 1,
    								grabCursor: false,
    								layout: "fullwidth",
    								wheel: false,
    								autoplay: true,
    								instantStartLayers: true,
    								loop: true,
    								view: "basic",
    								instantStartLayers: true,
    							});
    							slider.control('arrows');
    						}
    		            })
    				}
                })
            } else {
            	// 유저세션이 없을경우
            	$.ajax({
	            	url : "/api/tensor/getPlaceList",
					data : {
						list : nextResultIntList,
					},
					method : "GET",
					success : function(data) {
						drawSlide(data)
						var slider = new MasterSlider();
						slider.setup('masterslider', {
							width: 1140,
							height: 660,
							minHeight: 400,
							space: 0,
							start: 1,
							grabCursor: false,
							layout: "fullwidth",
							wheel: false,
							autoplay: true,
							instantStartLayers: true,
							loop: true,
							view: "basic",
							instantStartLayers: true,
						});
						slider.control('arrows');
					}
	            })
            }
            
        }
		// 슬라이드에 정보 수정
		function drawSlide(data) {
			let sliderImgs = $('#masterslider').find('img');
			let placeTitles = $('#masterslider').find('.placeTitle');
			let placeButton = $('#masterslider').find('.placeButton');
			console.log(sliderImgs);
			console.log(placeTitles);
			console.log(placeButton);
			for(let i=0; i<data.length; i++) {
				console.log(data[i].thumbnailHref);
				$(sliderImgs).eq(i).attr("data-src", data[i].thumbnailHref);
				$(placeTitles).eq(i).text(data[i].placeName);
				$(placeButton).eq(i).attr("btn-num", data[i].placeId);
			}
			console.log($(placeButton).attr("btn-num"));
		}
		
        loadModel();
        
        $(".placeButton").on("click", (e) => {
        	e.preventDefault();
        	
        	let placeId = $(e.target).parent().attr("btn-num");
			
        	if(placeId == undefined) {
				return;
			}
			
        	location.href = "/createCourse/" + placeId;
			
        })
	</script>
</th:block>

</html>