
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<head>
<style>
/* 태그 */
.tcustom {
	width: 50px;
	height: 30px;
	line-height: 28px;
	background-color: #69c6ba;
	border:0px;
}
/* 입력 칸 */
.insertcustom,.insertcustomOne {
	border: 2px;
	border-style: solid;
	border-color: #69c6ba;
}

.select {
	margin-left: 100px;
}
/* 검색 버튼 */
.tagButton {
	width: 50px;
	height: 33px;
	font-size: small;
}
/* 자세히 보기 버튼  */
.cusButton {
	border-radius: 5px;
	font-size: x-small;
}

/* 코스 카드  */
.customCard {
	border: 0px;
	background-color: transparent;
	
}

.cardbtn,.cardbtn2 {
	text-align: center;
	font-size: 12px;
	border:0px;
}
.cardbtn2:hover,
.cardbtn2:focus,
.cardbtn2:active {
    background:#69c6ba;
    color: white;
}
</style>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="tm-page-wrap mx-auto">
			<section class="tm-banner">
				<div id="demo" class="carousel slide" data-ride="carousel" data-interval="false"> <!-- false = 자동슬라이드 해지 -->
					<!-- Carousel  -->

					<!-- Indicators -->
					<ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
					</ul>
					<!-- END OF Indicators -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<!-- 첫번째 페이지 -->
							<div class="tm-container-outer tm-banner-bg">
								<!-- main -->
								<div class="container">
									<div class="row tm-banner-row tm-banner-row-header">
										<div class="col-xs-12">
											<div class="tm-banner-header">
												<h1 class="text-uppercase tm-banner-title">나만의 데이트 코스
													설정하기</h1>
												<p class="tm-banner-subtitle" style="font-size: 15px;">나만의
													맞춤 데이트 코스를 생성해보세요! :)</p>
											</div>
										</div>
										<!-- col-xs-12 -->
									</div>
									<!-- row -->
									<div class="row tm-banner-row" id="tm-section-search">

										<form action="main.html" method="get"
											class="tm-search-form tm-section-pad-2">
											<div class="form-row tm-search-form-row">
												<div
													class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
													<label for="inputCity" class="select">관심있는 태그를
														설정해주세요</label>
													<div class="input-group">
														<input class="insertcustomOne form-control" type="text" value=""
															placeholder=" # 태그를 선택해주세요">
														<button class="tagButton btn btn-primary">검색</button>
													</div>
													<br>
													<div class="customBg">
														<button type="button" id="tagClick" class="tcustom badge badge-secondary m-1"
															th:each="t : ${tag}"> <span id="tagOn" th:text="${t.tagId}"></span>
														</button>
													</div>
												</div>

												<div
													class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
													<label for="inputCity" class="select">데이트 할 지역을
														입력해주세요</label> <input name="destination" type="text"
														class="insertcustom form-control" id="inputCity"
														placeholder="  입력해주세요"> <br>
													<button type="submit"
														class="btn btn-primary tm-btn tm-btn-search text-uppercase"
														id="btnSubmit" style="width: 200px; margin-left: 100px;">코스
														생성하기</button>
												</div>
											</div>
										</form>

									</div>
									<!-- row -->
								</div>
								<!-- .container -->
							</div>
							<!-- END OF MAIN -->
						</div>
						<!-- END OF carousel active 첫번째 페이지 끝-->

						<!-- carousel-item 두번째 페이지 -->
						<div class="carousel-item">
							<div class="tm-container-outer tm-banner-bg">
								<!-- main -->
								<div class="container">
									<div class="row tm-banner-row tm-banner-row-header">
										<div class="col-xs-12">
											<div class="tm-banner-header">
												<h1 class="text-uppercase tm-banner-title"></h1>
											</div>
											<!-- END OF tm-banner-header -->
										</div>
										<!-- END OF col-xs-12-->
									</div>
									<!-- END OF row tm-banner-row tm-banner-row-header-->

									<!-- SECOND SECTION -->
									<div class="row tm-banner-row" id="tm-section-search">
										<div class="col-lg-7 map">
											<!-- API 지도 들어갈 곳  -->

										</div>
										<!-- END OF map -->

										<!-- 
										<div class="col-lg-5"> 코스 구현될 곳
										<div class="card">
												<div class="row no-gutters">
													<div class="col-3"> IMAGE 
														<img class="card-img-left" th:src="@{/img/testimage.png}"
															alt="Site logo" style="margin:30px 20px; width:80px; height:80px">
													</div>	END OF IMAGE 

													<div class="col-9"> CONTENTS
														<div class="card-body" style="background">
															<h4>하시식당</h4>
															<p class="card-text"><img th:src="@{/img/mapIcon.png}" style="width:15px; height:15px;"> 제주시</p>
															<button type="button" class="cusButton btn btn-primary">자세히 보기</button>
														</div>
													</div> END OF CONTENTS

												</div>  END OF row no-gutters
											</div> END OF CARD
											</div>  END OF <div class="col-lg-5">
											  -->
									</div>
									<!-- END OF SECOND SECTION -->

								</div>
								<!-- END OF carousel-inner  -->






							</div>
							<!-- END OF container -->
						</div>
						<!-- END OF tm-container-outer tm-banner-bg -->
					</div>
					<!-- END OF carousel-item -->


					<div class="tm-banner-overlay"></div>
					<!-- 백그라운드 어둡게 -->
					<!-- Left and right controls -->
					<a class="carousel-control-prev" href="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a> <a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>



				</div>
				<!-- Carousel -->
				<!-- .tm-container-outer -->
			</section>
			<!-- 메인페이지 끝  -->


			<section class="p-5 tm-container-outer tm-bg-gray">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
							<h2 class="text-uppercase mb-4">
								<strong>AI</strong> 코스 추천
							</h2>
							<a href="javascript:void(0)" class="tm-down-arrow-link"><i
								class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>
						</div>
					</div>
				</div>
			</section>

			<div class="tm-container-outer" id="tm-section-2">
				<section class="tm-slideshow-section">
					<div class="tm-slideshow">
						<img src="img/tm-img-01.jpg" alt="Image">
						<!-- <img
							src="img/tm-img-02.jpg" alt="Image"> <img
							src="img/tm-img-03.jpg" alt="Image"> -->
					</div>
					<div class="cource tm-slideshow-description tm-bg-primary">

						<!-- 코스 구현될 곳 -->
						<div>
							<div class="customCard card">
								<div class="row no-gutters">
									<div class="col-3">
										<!-- IMAGE  -->
										<img class="card-img-left" th:src="@{/img/testimage.png}"
											alt="Site logo"
											style="margin: 30px 20px; width: 80px; height: 80px">
									</div>
									<!-- END OF IMAGE  -->

									<div class="col-9">
										<!-- CONTENTS -->
										<div class="card-body">
											<h4 th:each="p:${place}"><span th:text="${p.placeName}"></span></h4>
											<p class="card-text">
												<img th:src="@{/img/mapIcon.png}"
													style="width: 15px; height: 15px;">
													제주시
											</p>
											<button type="button"
												class="cardbtn text-uppercase tm-btn tm-btn-white tm-btn-white-primary">자세히
												보기</button>
										</div>
									</div>
									<!-- END OF CONTENTS -->

								</div>
								<!-- END OF row no-gutters -->
							</div>
							<!-- END OF CARD -->
						</div>
						<!-- 코스 구현될곳 끝-->

					</div>
				</section>
				<section
					class="clearfix tm-slideshow-section tm-slideshow-section-reverse">

					<div class="tm-right tm-slideshow tm-slideshow-highlight">
						<img src="img/tm-img-02.jpg" alt="Image">
						<!-- <img
							src="img/tm-img-03.jpg" alt="Image"> <img
							src="img/tm-img-01.jpg" alt="Image"> -->
					</div>

					<div
						class="tm-slideshow-description tm-slideshow-description-left tm-bg-highlight">

						<!-- 코스 구현될 곳 -->
						<div>
							<div class="customCard card">
								<div class="row no-gutters">
									<div class="col-3">
										<!-- IMAGE  -->
										<img class="card-img-left" th:src="@{/img/testimage.png}"
											alt="Site logo"
											style="margin: 30px 20px; width: 80px; height: 80px">
									</div>
									<!-- END OF IMAGE  -->

									<div class="col-9">
										<!-- CONTENTS pink -->
										<div class="card-body">
											<h4>하시식당</h4>
											<p class="card-text">
												<img th:src="@{/img/mapIcon.png}"
													style="width: 15px; height: 15px;"> 제주시
											</p>
											<button type="button"
												class="cardbtn2 text-uppercase tm-btn tm-btn-white tm-btn-white-primary">자세히
												보기</button>
										</div>
									</div>
									<!-- END OF CONTENTS -->

								</div>
								<!-- END OF row no-gutters -->
							</div>
							<!-- END OF CARD -->
						</div>
						<!-- 코스 구현될곳 끝-->




					</div>
				</section>

			</div>
			<div class="tm-container-outer" id="tm-section-3">
				<ul class="nav nav-pills tm-tabs-links">
					<li class="tm-tab-link-li"><a href="#1a" data-toggle="tab"
						class="tm-tab-link"> <img src="img/north-america.png"
							alt="Image" class="img-fluid"> North America
					</a></li>
					<li class="tm-tab-link-li"><a href="#2a" data-toggle="tab"
						class="tm-tab-link"> <img src="img/south-america.png"
							alt="Image" class="img-fluid"> South America
					</a></li>
					<li class="tm-tab-link-li"><a href="#3a" data-toggle="tab"
						class="tm-tab-link"> <img src="img/europe.png" alt="Image"
							class="img-fluid"> Europe
					</a></li>
					<li class="tm-tab-link-li"><a href="#4a" data-toggle="tab"
						class="tm-tab-link active"> <!-- Current Active Tab --> <img
							src="img/asia.png" alt="Image" class="img-fluid"> Asia
					</a></li>
					<li class="tm-tab-link-li"><a href="#5a" data-toggle="tab"
						class="tm-tab-link"> <img src="img/africa.png" alt="Image"
							class="img-fluid"> Africa
					</a></li>
					<li class="tm-tab-link-li"><a href="#6a" data-toggle="tab"
						class="tm-tab-link"> <img src="img/australia.png" alt="Image"
							class="img-fluid"> Australia
					</a></li>
					<li class="tm-tab-link-li"><a href="#7a" data-toggle="tab"
						class="tm-tab-link"> <img src="img/antartica.png" alt="Image"
							class="img-fluid"> Antartica
					</a></li>
				</ul>
				<div class="tab-content clearfix">

					<!-- Tab 1 -->
					<div class="tab-pane fade" id="1a">
						<div class="tm-recommended-place-wrap">
							<div class="tm-recommended-place">
								<img src="img/tm-img-06.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">North Garden Resort</h3>
									<p class="tm-text-highlight">One North</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$110</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-07.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Felis nec dignissim</h3>
									<p class="tm-text-highlight">Two North</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<div id="preload-hover-img"></div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$120</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-05.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Sed fermentum justo</h3>
									<p class="tm-text-highlight">Three North</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$130</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-04.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Maecenas ultricies neque</h3>
									<p class="tm-text-highlight">Four North</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$140</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>
						</div>

						<a href="#"
							class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show
							More Places</a>
					</div>
					<!-- tab-pane -->

					<!-- Tab 2 -->
					<div class="tab-pane fade" id="2a">

						<div class="tm-recommended-place-wrap">
							<div class="tm-recommended-place">
								<img src="img/tm-img-05.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">South Resort Hotel</h3>
									<p class="tm-text-highlight">South One</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$220</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-04.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Aenean ac ante nec diam</h3>
									<p class="tm-text-highlight">South Second</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$230</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-07.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Suspendisse nec dapibus</h3>
									<p class="tm-text-highlight">South Third</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$240</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-06.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Aliquam viverra mi at
										nisl</h3>
									<p class="tm-text-highlight">South Fourth</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$250</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>
						</div>

						<a href="#"
							class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show
							More Places</a>
					</div>
					<!-- tab-pane -->

					<!-- Tab 3 -->
					<div class="tab-pane fade" id="3a">

						<div class="tm-recommended-place-wrap">
							<div class="tm-recommended-place">
								<img src="img/tm-img-04.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Europe Hotel</h3>
									<p class="tm-text-highlight">Venecia, Italy</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$330</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-05.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">In viverra enim turpis</h3>
									<p class="tm-text-highlight">Paris, France</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$340</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-06.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Volutpat pellentesque</h3>
									<p class="tm-text-highlight">Barcelona, Spain</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$350</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-07.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Grand Resort Pasha</h3>
									<p class="tm-text-highlight">Istanbul, Turkey</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$360</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>
						</div>

						<a href="#"
							class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show
							More Places</a>
					</div>
					<!-- tab-pane -->

					<!-- Tab 4 -->
					<div class="tab-pane fade show active" id="4a">
						<!-- Current Active Tab WITH "show active" classes in DIV tag -->
						<div class="tm-recommended-place-wrap">
							<div class="tm-recommended-place">
								<img src="img/tm-img-06.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Asia Resort Hotel</h3>
									<p class="tm-text-highlight">Singapore</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$440</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-07.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Nullam eget est a nisl</h3>
									<p class="tm-text-highlight">Yangon, Myanmar</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<div id="preload-hover-img"></div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$450</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-05.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Proin interdum
										ullamcorper</h3>
									<p class="tm-text-highlight">Bangkok, Thailand</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$460</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-04.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Lorem ipsum dolor sit</h3>
									<p class="tm-text-highlight">Vientiane, Laos</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$470</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>
						</div>

						<a href="#"
							class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show
							More Places</a>
					</div>
					<!-- tab-pane -->

					<!-- Tab 5 -->
					<div class="tab-pane fade" id="5a">

						<div class="tm-recommended-place-wrap">
							<div class="tm-recommended-place">
								<img src="img/tm-img-05.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Africa Resort Hotel</h3>
									<p class="tm-text-highlight">First City</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$550</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-04.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Aenean ac magna diam</h3>
									<p class="tm-text-highlight">Second City</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$560</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-07.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Beach Barbecue Sunset</h3>
									<p class="tm-text-highlight">Third City</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$570</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-06.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Grand Resort Pasha</h3>
									<p class="tm-text-highlight">Fourth City</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$580</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>
						</div>

						<a href="#"
							class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show
							More Places</a>
					</div>
					<!-- tab-pane -->

					<!-- Tab 6 -->
					<div class="tab-pane fade" id="6a">

						<div class="tm-recommended-place-wrap">
							<div class="tm-recommended-place">
								<img src="img/tm-img-04.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Hotel Australia</h3>
									<p class="tm-text-highlight">City One</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$660</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-05.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Proin interdum
										ullamcorper</h3>
									<p class="tm-text-highlight">City Two</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$650</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-06.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Beach Barbecue Sunset</h3>
									<p class="tm-text-highlight">City Three</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$640</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-07.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Grand Resort Pasha</h3>
									<p class="tm-text-highlight">City Four</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$630</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>
						</div>

						<a href="#"
							class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show
							More Places</a>
					</div>
					<!-- tab-pane -->

					<!-- Tab 7 -->
					<div class="tab-pane fade" id="7a">

						<div class="tm-recommended-place-wrap">
							<div class="tm-recommended-place">
								<img src="img/tm-img-04.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Antartica Resort</h3>
									<p class="tm-text-highlight">Ant City One</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$770</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-05.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Pulvinar Semper</h3>
									<p class="tm-text-highlight">Ant City Two</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$230</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-06.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Cras vel sapien</h3>
									<p class="tm-text-highlight">Ant City Three</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$140</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>

							<div class="tm-recommended-place">
								<img src="img/tm-img-07.jpg" alt="Image"
									class="img-fluid tm-recommended-img">
								<div class="tm-recommended-description-box">
									<h3 class="tm-recommended-title">Nullam eget est</h3>
									<p class="tm-text-highlight">Ant City Four</p>
									<p class="tm-text-gray">Sed egestas, odio nec bibendum
										mattis, quam odio hendrerit risus, eu varius eros lacus sit
										amet lectus. Donec blandit luctus dictum...</p>
								</div>
								<a href="#" class="tm-recommended-price-box">
									<p class="tm-recommended-price">$190</p>
									<p class="tm-recommended-price-link">Continue Reading</p>
								</a>
							</div>
						</div>

						<a href="#"
							class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show
							More Places</a>
					</div>
					<!-- tab-pane -->
				</div>
			</div>

			<div class="tm-container-outer tm-position-relative"
				id="tm-section-4">
				<div id="google-map"></div>
				<form action="index.html" method="post" class="tm-contact-form">
					<div class="form-group tm-name-container">
						<input type="text" id="contact_name" name="contact_name"
							class="form-control" placeholder="Name" required />
					</div>
					<div class="form-group tm-email-container">
						<input type="email" id="contact_email" name="contact_email"
							class="form-control" placeholder="Email" required />
					</div>
					<div class="form-group">
						<input type="text" id="contact_subject" name="contact_subject"
							class="form-control" placeholder="Subject" required />
					</div>
					<div class="form-group">
						<textarea id="contact_message" name="contact_message"
							class="form-control" rows="9" placeholder="Message" required></textarea>
					</div>
					<button type="submit"
						class="btn btn-primary tm-btn-primary tm-btn-send text-uppercase">Send
						Message Now</button>
				</form>
			</div>
			<!-- .tm-container-outer -->
		</div>
	</th:block>
	<!-- .main-content -->
</body>
<th:block layout:fragment="script">
	<script>
		$(function(){
			$(".tcustom").on("click",function(){
				var tagId = $(this).text();
				/* console.log(this); */
					
				$(".insertcustomOne").attr("value",tagId);
			});/* tcustom click 이벤트 */
		});
		
		
		
	</script>
	
</th:block>
</html>