<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.meetme.post.mapper.PostMapper">

	<select id="getCMList" resultType="PostVO">
		select distinct p.*,
		(select count(*) from post_comment a where p.post_id = a.post_id) comments,
		(select count(*) from post_like b where p.post_id = b.post_id) likes,
		(select nickname from user_info where user_id=p.user_id) "nickname"
		from post p
		left outer join
		post_comment c
		on p.post_id = c.post_id
		left outer join
		post_like l
		on p.post_id = l.post_id
	</select>


	<select id="getPost" resultType="PostVO">
		select
		a.*,
		b.nickname
		from
		post a join user_info b on a.user_id = b.user_id where post_id=#{postId}
	</select>

	<!-- 커뮤니티 게시판 댓글 가져오기 -->
	<!-- <select id="commentCM" resultType="CommentVO"> select a.post_id, (select 
		nickname from user_info where user_id=b.user_id) "nickname", b.com_content 
		from post a join post_comment b on a.post_id = b.post_id where b.com_distinct='c'and 
		a.post_id=#{postId} </select> -->

	<!-- 커뮤니티 게시판 입력하기 -->
	<!-- null과 null 사이에 나중에 userId넣어주기 -->
	<insert id="CMInsert">
		insert into post
		values(SEQ_POST.nextval,#{postTitle},#{postContent},sysdate,sysdate,2,null,0,'c')
	</insert>

	<!-- 조회수 up -->
	<update id="countHit">
		update post set hit=hit+1 where post_id=#{postId}
	</update>

	<!-- 수정하기 -->
	<update id="postUpdate">
		update post set post_title=#{postTitle},
		post_content=#{postContent}, post_updated=sysdate where
		post_id=#{postId}
	</update>

	<!-- 삭제하기 -->
	<delete id="postDelete">
		delete post where post_id=#{postId}
	</delete>

	<!-- 커뮤니티 댓글 가져오기 - 한 페이지 보기에 넣기위함.(comment, post, account) -->
	<select id="commentCM" resultType="CommentVO"
		parameterType="long">
		select a.post_id, b.*,
		(select nickname from user_info where user_id=b.user_id)"nickname",
		(select
		img_id from user_info where user_id=b.user_id)"imgId"
		from post a join post_comment b
		on a.post_id = b.post_id
		where b.com_distinct='c'
		and a.post_id=#{postId}
	</select>

	<!-- 커뮤니티 댓글 입력 -->
	<insert id="insertCMComment">
		INSERT INTO
			post_comment
		VALUES
			(seq_comment.NEXTVAL,
			#{comContent},
			sysdate,
			sysdate,
			#{userId},
			#{postId},
			null,
			'c')
		<selectKey keyProperty="commentId" order="AFTER" resultType="string">
			SELECT seq_comment.CURRVAL FROM dual
		</selectKey>
	</insert>


	<update id="commentUpdate">
		update post_comment 
		set com_content=#{comContent} , com_updated = sysdate
		where comment_id =#{commentId}
	</update>


	<delete id="commentDelete">
		DELETE FROM
		post_comment
		WHERE
		comment_id = #{commentId}
	</delete>

</mapper>